<template>
	<div class="home-container" >
		<div class="home-row" id="container">
			<nav>
				<div class="nav-wrapper">
					<div class="brand-logo"><img :src="baseurl + logo"></div>
					<ul id="nav-mobile" class="icons right hide-on-med-and-down">
						<li @click="openUser"><i class="material-icons">person</i></li>
						<!-- <li data-target="slide-out" class="sidenav-trigger"><i class="material-icons">{{ menu }}</i></li> -->
						<li @click="toogleMenu"><i class="material-icons">{{ menu }}</i></li>
					</ul>
				</div>
			</nav>

			<div class="heading" style="z-index: 1">
				<div class="name">{{ patientdetails.firstname != null ? patientdetails.firstname + ' ' + patientdetails.lastname : '' }}</div>
				<span class="patientdetails" @click="$modal.show('patient-details-modal')">Show patient details</span>
			</div>
			
		    <perfect-scrollbar role="main" class="perfect-scrollbar" id="perfect-scrollbar" :style="marginR"> 

			    <div class="row justify-start textarea" ref="download" id="print" style="display: block;width: 100%">

			    	<div class="letterhead">
			    		<div v-show="practiceLoaded">
				    		<div class="_name">{{ pickedPractice.title }}. {{ pickedPractice.firstname + ' ' + pickedPractice.lastname }}</div>
				    		<div class="_status">{{ pickedPractice.qualifications }}</div>
				    		<div class="_practice">{{ pickedPractice.specialty }}</div>
				    		<div class="_address">{{ pickedPractice.address1 }} {{ pickedPractice.city }} {{ pickedPractice.state }} {{ pickedPractice.postcode }}</div>
				    		<div class="_provider">Provider: {{ pickedPractice.provider }} T: {{ pickedPractice.phone }} F: {{ pickedPractice.fax }}</div>
			    		</div>
			    		<div class="choose-letterhead" @click="$modal.show('letterhead')">
			    			<p>Choose letterhead</p>
			    		</div>
			    	</div>

			    	<div contentEditable="true" class="lines" v-for="conclusion in conclusions"><p class="letter-content" v-html="conclusion"></p></div>
			    </div>

		    </perfect-scrollbar>

			<nav class="navbar navbar-expand-md navbar-dark fixed-bottom footer" >
				<a @click="print" class="waves-effect waves-light button btn"><i class="material-icons left">print</i> Print</a>
				<a @click="download" class="waves-effect waves-light button btn"><i class="material-icons left">file_download</i> Download</a>
				<a class="save" @click="saveExit">SAVE & EXIT</a>
		
			  <transition name="slide-fade">
			    <a v-show="saving" class="changesaved" id="changesaved"><i class="material-icons left">check</i> Changes saved</a>
			  </transition>


			</nav>
		</div>

		<div id="mySidenav" class="sidenavs">
			<div class="row right-sidebar">
				<nav>
					<div class="nav-wrapper" id="nav-wrapper" :style="tabsw">
						<ul class="modules">
							<li v-for="tab in tablists" :class="tab.status" class="tablinks" @click="openTab($event,tab.name)">
								{{ tab.name }}
							</li>
						</ul>
					</div>
				</nav>
				<perfect-scrollbar class="tab-content">
					<div id="Patient" class="tabcontent" >
						<Patient @patient="fetchProfile" :patientdetails="patientdetails" @saved="saved"></Patient>
					</div>

					<div id="Hx" class="tabcontent" >
						<Hx @hx="fetchHx" :hxdetails="hxdetails" @saved="saved"></Hx>
					</div>

					<div id="PHx" class="tabcontent" >
						<NewPHX @phx="fetchProfile" :phxdetails="phxdetails" @saved="saved"></NewPHX>
					</div>

					<div id="Meds" class="tabcontent">
						<Meds></Meds>
					</div>

					<div id="Bloods" class="tabcontent">
						<Bloods></Bloods>
					</div>

					<div id="Exam" class="tabcontent">
						<NewExam @exam="fetchProfile" :examdetails="examdetails" @saved="saved"></NewExam>
					</div>

					<div id="EST" class="tabcontent">
					  <EST @est="fetchEST" :estdetails="estdetails" @saved="saved"></EST>
					</div>

					<div id="ECG" class="tabcontent">
					  <ECG @ecg="fetchProfile" :patientdetails="patientdetails" @saved="saved"></ECG>
					</div>

					<div id="TTE" class="tabcontent">
						<TTE @tte="fetchTTE" :ttedetails="ttedetails" @saved="saved"></TTE>
					</div>

				</perfect-scrollbar>

		    </div>
		</div>

		<form id="save-letter" method="post" style="display: none">
			<input type="hidden" name="practice_id" :value="pickedPracticeId">
			<input type="hidden" name="letters" v-model="savedLetter">
		</form>

		<modal name="patient-details-modal" draggable=".window-header" height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Patient Details</h5>
		        <button class="close" @click="$modal.hide('patient-details-modal')" aria-label="Close" >
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body center">
		      	<div class="details-name">{{ patientdetails.title }} {{ patientdetails.firstname }} {{ patientdetails.lastname }}</div>
		      	<div class="details-info">{{ getAge(patientdetails.age) }} years old, {{ patientdetails.sex }}</div>

		      	<div v-if="patientdetails.referral_doctor != null" class="details-info">Refered by {{ patientdetails.referral_doctor.title }} {{ patientdetails.referral_doctor.firstname }} {{ patientdetails.referral_doctor.lastname }}, ({{ patientdetails.referral_doctor.specialty }})</div>
		      	<div class="details-info">Past Medical History Items</div>
		      	<div class="details-info">Current Medications List</div>
		      	<div class="details-info">Most Recent investigations with date</div>
		      	<div class="details-info">Date of Last Review of most recent changes</div>
		      </div>
			</div>
		</modal>

		<modal name="letterhead"  height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header letterheads">
				<h5  @click="activate(0)" class="modal-title" :style="active_el == 0 ? activeTab : inActiveTab">List of Practices</h5>
				<h5  @click="activate(1)" class="modal-title" :style="active_el == 1 ? activeTab : inActiveTab">Add/Edit Practice</h5> 

		        <button class="close" @click="$modal.hide('letterhead')" aria-label="Close" >
		          <span aria-hidden="true">&times;</span>
		        </button>
		        </div> 
		      </div>
		      <div class="modal-body _letterhead">

			      <div class="practice" v-show="showPractices">
			      		
			      		<div class="preview" v-if="patientdetails.practice_id">
			      			<div class="p_name">{{ practice.title }} {{ practice.firstname + ' ' + practice.lastname }}</div>
			      			<div class="p_info">{{ practice.qualifications }}</div>
			      			<div class="p_info">{{ practice.specialty }}</div>
			      			<div class="p_info">{{ practice.address1 }} {{ practice.city }} {{ practice.state }} {{ practice.postcode }}</div>
			      			<div class="p_info">Provider: {{ practice.provider }} T: {{ practice.phone }} F: {{ practice.fax }}</div>
			      		</div>

						<ul class="checkable">
							<li v-for="practic in practices">
							    <div :class="{activepractice: practic.id === activePrac }" class="custom-control custom-checkbox">
									<input @change="pickPractice($event, practic.id, patientdetails.id)" :checked="practic.id == pickedPractice.id" :id="'pract'+practic.id" :value="practic.id" type="radio" class="custom-control-input  custombox" name="practice_id">
									<label class="custom-control-label boxlabel" :for="'pract'+practic.id" ></label> 
									<p @click.prevent="viewPractice($event, practic.id)"  class="boxlabel" style="margin-left: 10px;padding-top: 10px;margin-top: -15px;">{{ practic.firstname + ' ' + practic.lastname }} <span><i @click="editPractice(practic.id)" class="material-icons edit">edit</i> <i @click="deletePracticeModal(practic.id)" class="material-icons delete">delete</i></span></p>
							    </div>
							</li>
						</ul>
			      </div>

			      <div v-show="showAddEditPractice">
			      	
					<form v-show="!isEditForm" method="post" id="add-practice" @submit="addPractice($event)">
					  <div class="form-group">
					    <label for="_title">Title</label>
					    <select class="form-control" id="_title" name="title" required>
						    <option selected></option>
						    <option v-for="docTitle in docTitles">{{ docTitle }}</option>
					    </select>
					  </div>
					  <div class="form-group form-row">
					    <div class="col">
					    	<label for="_fname">First name</label>
					      <input type="text" id="_fname" name="firstname" class="form-control" placeholder="" required>
					    </div>
					    <div class="col">
					    <label for="_lname">Last name</label>
					      <input type="text" id="_lname" name="lastname" class="form-control" placeholder="" required>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="Qualifications">Qualifications</label>
					    <input type="text" class="form-control"  name="qualifications" id="Qualifications" placeholder="" required>
					  </div>
					  <div class="form-group">
					    <label for="_specialty">Specialty</label>
					    <input type="text" class="form-control" name="specialty" id="_specialty" placeholder="" required>
					  </div>
					  <div class="form-group form-row">
					    <div class="col">
					    	<label for="_address1">Address line 1</label>
					      <input type="text" id="_address1" name="address1" class="form-control" placeholder="" required>
					    </div>
					    <div class="col">
					    <label for="_address2">Address line 2</label>
					      <input type="text" id="_address2" name="address2" class="form-control" placeholder="">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="__City">City</label>
					    <input type="text" class="form-control" name="city" id="__City" placeholder="" required>
					  </div>
					  <div class="form-group form-row">
					    <div class="col">
					    	<label for="__postcode">Postocde</label>
					      <input type="text" id="__postcode" name="postcode" class="form-control" placeholder="" required>
					    </div>
					    <div class="col">
					    <label for="__state">State</label>
					    	<select name="state" class="form-control" id="__state">
					    		<option disabled selected>Choose</option>
					    		<option v-for="state in states" :value="state">{{ state }}</option>
					    	</select>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="__provider">Provider #</label>
					    <input type="text" class="form-control" name="provider" id="__provider" placeholder="" required>
					  </div>
					  <div class="form-group form-row">
					    <div class="col">
					    	<label for="_phone">Phone</label>
					      <input type="text" id="_phone" name="phone" class="form-control" placeholder="" required>
					    </div>
					    <div class="col">
					    <label for="_fax">Fax</label>
					      <input type="text" id="_fax" name="fax" class="form-control" placeholder="">
					    </div>
					  </div>

					  <div class="form-group form-row center" style="justify-content: space-evenly;">
					  	<button type="submit" class="btn btn-primary add-practice-btn">Add to practice</button>
					  </div>
					</form>

					<form v-show="isEditForm" method="post" id="update-practice" @submit="updatePractice($event)">
					  <div class="form-group">
					    <label for="_title">Title</label>
					    <select class="form-control" id="_title" name="title" required>
						    <option selected></option>
						    <option v-for="docTitle in docTitles" :selected="practice.title == docTitle">{{ docTitle }}</option>
					    </select>
					  </div>
					  <div class="form-group form-row">
					    <div class="col">
					    	<label for="_fname">First name</label>
					      <input type="text" id="_fname" name="firstname" class="form-control" placeholder="" :value="practice.firstname" required> 
					    </div>
					    <div class="col">
					    <label for="_lname">Last name</label>
					      <input type="text" id="_lname" name="lastname" class="form-control" placeholder="" :value="practice.lastname" required>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="Qualifications">Qualifications</label>
					    <input type="text" class="form-control"  name="qualifications" id="Qualifications" :value="practice.qualifications" placeholder="" required>
					  </div>
					  <div class="form-group">
					    <label for="_specialty">Specialty</label>
					    <input type="text" class="form-control" name="specialty" id="_specialty" placeholder="" :value="practice.specialty" required>
					  </div>
					  <div class="form-group form-row">
					    <div class="col">
					    	<label for="_address1">Address line 1</label>
					      <input type="text" id="_address1" name="address1" class="form-control" placeholder="" :value="practice.address1" required>
					    </div>
					    <div class="col">
					    <label for="_address2">Address line 2</label>
					      <input type="text" id="_address2" name="address2" class="form-control" :value="practice.address2" placeholder="">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="__City">City</label>
					    <input type="text" class="form-control" name="city" id="__City" placeholder="" :value="practice.city" required>
					  </div>
					  <div class="form-group form-row">
					    <div class="col">
					    	<label for="__postcode">Postocde</label>
					      <input type="text" id="__postcode" name="postcode" class="form-control" :value="practice.postcode" placeholder="" required>
					    </div>
					    <div class="col">
					    <label for="__state">State</label>
					    	<select name="state" class="form-control" id="__state">
					    		<option disabled selected>Choose</option>
					    		<option v-for="state in states" :value="state" :selected="practice.state == state">{{ state }}</option>
					    	</select>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="__provider">Provider #</label>
					    <input type="text" class="form-control" name="provider" id="__provider" :value="practice.provider" placeholder="" required>
					  </div>
					  <div class="form-group form-row">
					    <div class="col">
					    	<label for="_phone">Phone</label>
					      <input type="text" id="_phone" name="phone" class="form-control" :value="practice.phone" placeholder="" required>
					    </div>
					    <div class="col">
					    <label for="_fax">Fax</label>
					      <input type="text" id="_fax" name="fax" class="form-control" :value="practice.fax" placeholder="">
					    </div>
					  </div>

					  <div class="form-group form-row center" style="justify-content: space-evenly;">
					  	<button type="submit" class="btn btn-primary add-practice-btn">Update practice</button>
					  </div>
					</form>

			      </div>		


		     
			</div>
		</modal>


		<modal name="delete-practice" draggable=".window-header" height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Delete practice</h5>
		        <button class="close" @click="$modal.hide('delete-practice')" aria-label="Close" >
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body center">
		      	<div>Are you sure?</div>
		      	<div>This cannot be undone.</div>
				
				<button class="btn btn-primary add-doctor-btn" style="margin: 0 auto; margin-top: 15px" @click="deletePractice(pracId)">Delete</button>

		      </div>
			</div>
		</modal>

	</div>

</template>

<script>
	import JQuery from 'jquery';
	import Patient from './Modules/PatientComponent';
	import PHx from './Modules/PHxComponent';
	import Exam from './Modules/ExamComponent';
	import NewExam from './Modules/NewExamComponent';
	import Hx from './Modules/HxComponent';
	import EST from './Modules/ESTComponent';
	import ECG from './Modules/ECGComponent';
	import TTE from './Modules/TTEComponent';
	import Meds from './Modules/MEDSComponent';
	import ChestPain from './Modules/Hx/ChestPain';
	import Bloods from './Modules/BloodsComponent';
	import NewPHX from './Modules/NewPHXComponent';
	import { PerfectScrollbar } from 'vue2-perfect-scrollbar';
	import Constant,{ constant } from './Constant';
	import datePicker from 'vue-bootstrap-datetimepicker';
	import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
	import Pusher from 'pusher-js';
	import axios from 'axios';
	import Vue from "vue";
	const bus = new Vue();
	import VueHtmlToPaper from 'vue-html-to-paper';
	import jsPDF from "jspdf";
	import html2canvas from "html2canvas"

    export default {
    	components: {
		    PerfectScrollbar, Patient, PHx, Exam, Hx, EST, ECG, TTE, ChestPain, datePicker, Meds, NewPHX, Bloods, NewExam
		},
        data(){
	        return {
	        	userid: this.$route.params.letterid,
	        	letterid: this.$route.params.letterid,
	        	practices: {},
	        	practice: {},
	        	activePrac: '',
	        	showPractices: true,
	        	showAddEditPractice: false,
	        	activeTab: 'border-bottom: 1px solid #00A5B4;',
	        	inActiveTab: 'border-bottom: 1px solid #dee2e6;',
	        	isActiveTab: true,
	        	active_el:0,
	      		patientdetails: [],
	      		phxdetails: [],
	      		ttedetails: [],
	      		estdetails: [],
	      		hxdetails: [],
	        	smoker: '',
	        	fname: '',
	        	lname: '',
		        impressions: [],
		        conclusions: [],
		        phxes: [],
	        	baseurl: document.querySelector('meta[name="base-url"]').getAttribute('content'),
	        	logo: "/images/home-logo.png",
	        	menu: "menu",
	        	tabw: "527px",
	        	tabsw: "",
	        	active: "active",
	        	tablists: constant.tablists,
		        marginR: 'width: calc(100% - 70px) !important;',
	        	complaints: [],
		        options: {
			        format: 'MMM D, YYYY',
			        useCurrent: false,
		        },
		        showNameLine: false,
		        showAgeLine: false,
		        showRefererLine: false,
		        savedLetter: '',
		        saving: false,
		        docTitles: ['Dr', 'A/Prof', 'Prof', 'Mr', 'Mrs', 'Ms', 'Miss'],
		        states: ['NSW','QLD','VIC','ACT','WA','SA','NT','TAS'],
		        isEditForm: false,
		        updatePracticeid: '',
		        pickedPractice: [],
		        practiceLoaded: false,
		        pickedPracticeId: '',
		        pracId: '',
		        isLoaded: false,
		        examdetails: [],
	        }
	    },
		watch: {
			//
		},
		created() {
			this.line1 = constant.initial_line();
	    	// this.fetchProfile();
	    	this.fetchTTE();
	    	// this.fetchEST();
	    	this.fetchHx();
	    	// this.fetchPhx();
	    	this.fetchProfile();
	    	this.getPractices();
		},
	    mounted() {
	    	this.toogleMenu();
	    	//this.initiatePusher();
	    },
	    methods: {
	    	saveExit() {
	    		this.saved(true);
	    	},
	    	saved(data) {
	    		this.saving = data;
	    		setTimeout(() => this.saving = false, 4000);
	    	},
	    	initiatePusher() {
			    var pusher = new Pusher('5ef4f6929a9401d71e53', {
			      cluster: 'ap1',
			      broadcaster: 'pusher',
			      forceTLS: true
			    });
			    
			    var that = this;

			    var patient = pusher.subscribe('patient-channel');
			    patient.bind('patient-event', function(message) {
				    //that.fetchProfile();
			    }.bind(this));
	    	},
	    	isEmpty(el) {
	    		let $ = JQuery;
  				return !$.trim(el.html())
	    	},
	    	removeEmptyTags() {
				let $ = JQuery;

				$('.textarea p').each(function(){
					if(!$(this).text() || !$(this).text().trim()) {
						$(this).remove();
					}
				});
	    	},
	      	toogleMenu() {
          		if (this.menu == "menu") {
          			this.openMenu();
          		} else {
          			this.closeMenu();
          		}
	      	},
	      	openMenu() {
      			this.menu = "clear";
      			//this.marginR = 'width: calc(100% - 560px) !important;';
				document.getElementById("mySidenav").style.width = this.tabw;
          		document.getElementById("container").style.marginRight = this.tabw;
      			document.getElementById("mySidenav").style.display = "flex";
      			document.getElementById("nav-mobile").style.margin = "0px 15px";
      			document.getElementById("perfect-scrollbar").style.marginRight = "530px";
      			document.getElementById("changesaved").style.marginRight = "530px";
          		this.checkTabWidth();
	      	},
	      	closeMenu() {
      			this.menu = "menu"
      			this.marginR = 'width: calc(100% - 70px) !important;';
      			document.getElementById("mySidenav").style.width = "0px";
          		document.getElementById("container").style.marginRight = "0px";
      			document.getElementById("mySidenav").style.display = "none";
      			document.getElementById("nav-mobile").style.margin = "0";
      			document.getElementById("perfect-scrollbar").style.marginRight = "50px";
      			document.getElementById("changesaved").style.marginRight = "50px";
          		this.checkTabWidth();
	      	},
	      	checkTabWidth() {
				const ele = document.getElementById("nav-wrapper");
				//this.tabw = "width: " + ele.offsetWidth + "px";
				//this.tabsw = "width: " + this.tabw;
	      	},
	      	openTab(event, module) {
				var i, tabcontent, tablinks;
				tabcontent = document.getElementsByClassName("tabcontent");
				for (i = 0; i < tabcontent.length; i++) {
					tabcontent[i].style.display = "none";
				}
				tablinks = document.getElementsByClassName("tablinks");
				for (i = 0; i < tablinks.length; i++) {
					tablinks[i].className = tablinks[i].className.replace(" active", "");
				}
				document.getElementById(module).style.display = "block";
				event.target.className += " active";
	      	},
	      	triggerChange() {
	      		this.display();
	      	},
		    openUser() {
		    	this.$router.push('/user')
		    },
	        removeNulls(val) {
	        	if (val == null || val == 'null') return '';
	        	else return val;
	        },
	        fetchTTE() {
				axios.get(constant.getTteUrl+ this.userid, {
                    headers: constant.headers(this.$cookie.get('access_token')),
                }).then(response => {
			        this.ttedetails = response.data;
			        this.fetchProfile();
			    }).catch(error => {
			    	this.$cookie.delete('access_token');
					this.$router.push({name: 'login'})
			    });
	        },
	        fetchEST() {
				// axios.get(constant.getEstUrl+this.userid, {
    //                 headers: constant.headers(this.$cookie.get('access_token')),
    //             }).then(response => {
			 //        this.estdetails = response.data;
			 //        this.fetchProfile();
			 //    }).catch(error => {
			 //    	//
			 //    });
	        },
	        fetchPhx() {
				// axios.get(constant.getPHxUrl+this.userid, {
    //                 headers: constant.headers(this.$cookie.get('access_token')),
    //             }).then(response => {
			 //        this.phxdetails = response.data;
			 //        this.fetchProfile();

			 //    }).catch(error => {
			 //    	//
			 //    });
	        },
	        fetchHx() {
				// axios.get(constant.getHxUrl+this.userid, {
    //                 headers: constant.headers(this.$cookie.get('access_token')),
    //             }).then(response => {
			 //        this.hxdetails = response.data;
			 //        this.fetchProfile();
			 //    }).catch(error => {
			 //    	//
			 //    });
	        },
	        fetchProfile() {
		      	axios.get(constant.getPatientUrl+this.userid, {
                    headers: constant.headers(this.$cookie.get('access_token')),
               	}).then(response => {
			      	this.impressions = [];
			      	this.conclusions = [];
			        this.patientdetails = response.data;
			        this.examdetails = response.data.exam != null ? response.data.exam : [];
			        this.phxdetails = response.data.phx != null ? response.data.phx : [];
			        this.estdetails = response.data.est != null ? response.data.est : [];
			        if (response.data.practice_id != null) {
			        	this.getPractice(response.data.practice_id);
			        }
			    	// patient 
			    	this.conclusions.push(constant.past_medical_hx(this.patientdetails, this.phxdetails));

				    if (this.patientdetails.smoker == 'Smoker') {
				    	this.impressions.push(this.patientdetails.smoker);
				    }
				    if (this.estdetails.stress_test == 'Positive') {
				    	this.impressions.push('Positive stress test');
				    }
				    if (this.estdetails.stress_test == 'Equivocal') {
				    	this.impressions.push('Equivocal stress test');
				    }
				    if (this.estdetails.stress_test == 'Negative') {
				    	this.impressions.push('Negative stress test');
				    }
				    if (this.phxdetails.history != null && this.phxdetails.history.includes('Hypertension')) {
				    	this.impressions.push('High cardiovascular disease risk');
				    }
			    	// est 
			    	this.conclusions.push(constant.est(this.estdetails));
			    	console.log(this.estdetails);
			    	// tte
			    	this.conclusions.push(constant.tte(this.ttedetails));

			    	// impressions
			    	this.conclusions.push(constant.impressions(this.impressions))
		    	
		    		// conclusions
		    		this.conclusions.push(constant.conclusions(this.patientdetails, this.phxdetails));

			    	this.saveLetter();
			    }).catch(error => {
			    	//
			    });
	        },
	       	saveChestArrays() {
	       		let chests = [];
		    	chests.push(this.patientdetails.wheeze);
		    	chests.push(this.patientdetails.crackles);
		    	chests.push(this.patientdetails.ronchi);
		    	chests.push(this.patientdetails.reduced_air_entry);

				var filtered = chests.filter(function (el) {
				  return el;
				});

				return filtered;
	       	},
	        removeImpressionsArray(data) {
				for( var i = 0; i < this.impressions.length; i++){ 
				   if ( this.impressions[i] === data) {
				     this.impressions.splice(i, 1); 
				   }
				}
	        },
	        removeConclusionsArray(data) {
				for( var i = 0; i < this.conclusions.length; i++){ 
				   if ( this.conclusions[i] === data) {
				     this.conclusions.splice(i, 1); 
				   }
				}
	        },
	        removeDuplicateImpressions() {
				this.impressions = [ ...new Set(this.impressions) ];
	        },
	        removeDuplicateConclusions() {
				this.conclusions = [ ...new Set(this.conclusions) ];
	        },
	        print() {
	        	this.$htmlToPaper('print');
	        },
	        saveLetter() {

				var text = []
				for (var i in this.conclusions){
				    text.push(this.conclusions[i] + '<br><br>')
				}

				this.savedLetter = text.join('')

				const form = new FormData(document.getElementById("save-letter"));
				axios.post(constant.saveLetter + this.userid, form, {
				    headers: constant.headers(this.$cookie.get('access_token')),
				}).then(response => {
					//
				}).catch(err => {
					//
				});
	        },
	        generateDownload() {
				axios.get(constant.getLetter + this.userid, {
                    headers: constant.headers(this.$cookie.get('access_token')),
                }).then(response => {
			        var a = document.createElement('a');
			        a.href = constant.getLetter + this.userid;
			        a.click();
			    }).catch(error => {
			    	//
			    });
	        },
	        download() {
	        	this.generateDownload()
	        },
			getAge(dateString) {
				var today = new Date();
				var birthDate = new Date(dateString);
				var age = today.getFullYear() - birthDate.getFullYear();
				var m = today.getMonth() - birthDate.getMonth();
				if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
					age--;
				}
				return age;
			},
			activate(el){
		        this.active_el = el;
		    	this.isEditForm = false;
		        if (el == 0) {
		        	this.showPractices = true;
		        	this.showAddEditPractice = false;
		        } else {
		        	this.showPractices = false;
		        	this.showAddEditPractice = true;
		        }
		    },
		    addPractice(e) {
		    	e.preventDefault();
				const form = new FormData(document.getElementById("add-practice"));
				axios.post(constant.addPractice, form, {
				    headers: constant.headers(this.$cookie.get('access_token')),
				}).then(response => {
					this.getPractices();
		        	this.showPractices = true;
		        	this.showAddEditPractice = false;
				}).catch(err => {
					//
				});
		    },
		    updatePractice(e) {
		    	e.preventDefault();
				const form = new FormData(document.getElementById("update-practice"));
				axios.post(constant.updatePractice+this.updatePracticeid, form, {
				    headers: constant.headers(this.$cookie.get('access_token')),
				}).then(response => {
					this.getPractices();
			    	this.showPractices = true;
			    	this.showAddEditPractice = false;
				}).catch(err => {
					//
				});
		    },
		    getPractices() {
				axios.get(constant.getPractices, {
                    headers: constant.headers(this.$cookie.get('access_token')),
                }).then(response => {
			      	this.practices = response.data
			    }).catch(error => {
			    	//
			    });
		    },
		    getPractice(id) {
				axios.get(constant.getPractice+id, {
                    headers: constant.headers(this.$cookie.get('access_token')),
                }).then(response => {
			      	this.pickedPracticeId = id;
			      	this.pickedPractice = response.data
			      	this.practice = response.data
			      	this.practiceLoaded = true;
			    }).catch(error => {
			    	//
			    });
		    },
		    pickPractice(e,pracid,patid) {
				axios.get(constant.pickPractice+pracid+'/'+patid, {
                    headers: constant.headers(this.$cookie.get('access_token')),
                }).then(response => {
			      	this.pickedPractice = response.data;
			    	this.$modal.hide('letterhead');
			    	this.practiceLoaded = true;
			    }).catch(error => {
			    	//
			    });
		    },
		    editPractice(id) {
		    	this.getPractice(id);
		    	this.isEditForm = true;
		    	this.showPractices = false;
		    	this.showAddEditPractice = true;
		    	this.updatePracticeid = id;
		    },
		    viewPractice(event, id) {
				event.preventDefault();
				this.activePrac = id;
				axios.get(constant.getPractice+id, {
                    headers: constant.headers(this.$cookie.get('access_token')),
                }).then(response => {
			      	this.practice = response.data
			    }).catch(error => {
			    	//
			    });
		    },
		    deletePractice(id) {
				axios.get(constant.deletePractice+id, {
                    headers: constant.headers(this.$cookie.get('access_token')),
                }).then(response => {
			        this.getPractices();
			        this.$modal.hide('delete-practice');
			    }).catch(error => {
			      	//
			    });
		    },
			deletePracticeModal(id) {
				this.pracId = id;
				this.$modal.show('delete-practice');
			},

	    },
  }
</script>
<style type="text/css">
	#nav-mobile li {
		cursor: pointer;
	}
	#perfect-scrollbar {
		height: calc(100vh - 200px) !important;
		/*margin: 270px 50px 65px 50px;*/
		margin-right: 0px !important;
		margin-left: 40px;
		width: calc(100% - 70px) !important
	}
	.sidenavs .right-sidebar {
		mix-blend-mode: normal;
    	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
	}
	#Hx, #PHx, #Meds, #Exam, #EST, #ECG, #TTE, #Bloods {
		display: none;
	}
	#PHx label {
		z-index: 0;
	}
	.impressions {
		padding: 0px 5px !important; 
		line-height: 120% !important; 
		font-weight: 400 !important; 
	}
	.lines p {
		white-space: pre-line
	}
	.letter-hl {
		font-size: 16px;
		font-weight: bold;
		text-decoration: underline;
	}
	.letter-content {
		line-height: 150%;
		font-size: 17px !important;
	}
	.changesaved {
		transition: all .3s ease;
		overflow: hidden;
	}
	/* Enter and leave animations can use different */
	/* durations and timing functions.              */
	.slide-fade-enter-active {
	  transition: all .3s ease;
	}
	.slide-fade-leave-active {
	  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}
	.slide-fade-enter, .slide-fade-leave-to
	/* .slide-fade-leave-active below version 2.1.8 */ {
	  transform: translateX(10px);
	  opacity: 0;
	}
	.pmh {
		margin-bottom: 10px;
	}
    .letterheads {
    	padding: 1rem 1rem 0rem 1rem;
    	border-bottom: 1px #dee2e6 !important;
    }
    .letterheads h5 {
    	border-bottom: 1px solid #dee2e6;
    	padding-bottom: 1rem;
    }
    .letterheads h5:active {
    	border-bottom: 1px solid #00A5B4;
    }
    .modal-title {
    	cursor: pointer;
    }
	.activepractice{
		background-color: #E1CEB0;
	}
	.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
	    border-color: #adb5bd;
	    background-color: #fff;
	}
</style>
<style src="vue2-perfect-scrollbar/dist/vue2-perfect-scrollbar.css"/>