@import 'reset';
@import 'login';
@import 'home';
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
//@import 'materialize';
@import url('https://fonts.googleapis.com/css?family=Nunito:200,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
	@include primaryfont;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Heebo";
}

h1 {
	font-size: 20px;
	margin: 0 0 15px;
	font-weight: normal;
}

h2 {
	font-size: 18px;
	margin: 0 0 12px;
	font-weight: normal;
}

h3 {
	font-size: 15px;
	margin: 0 0 12px;
	font-weight: normal;
}


h4, h5, h6 {
	margin: 5px 0 5px;
	font-weight: bold;
}


.user-container {
	background-color: $lightwhite;
    max-width: 100%;
    height: 100vh;
   	overflow: hidden;
   	nav {    line-height: 200%;
   		background-color: $navbarbg;
    	width: 100%;
    	padding: 15px 15px 15px 50px;
  		box-shadow: none;
    	.brand-logo {
    		display: flex;
    	}
    	.icons {
			position: relative;
		    top: -25px;
		    float: right;
		    display: inline-flex;
    		i {
	   			color: $primarycolor;
			    font-size: $iconsize;
			    vertical-align: middle;
    		}
    		li:first-child {
    			margin-right: 15px;
    		}
    	}
   	}	
}

#left {
	padding: 30px 50px;
	// user
	label {
		font-weight: bold;
		font-size: 12px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $colorblack;
		opacity: 0.38;	
	}
	.name {
		margin-bottom: 20px;
		p {
			font-weight: 300;
			font-size: 24px;
			line-height: 200%;			
		}
	}
	.email {
		margin-bottom: 20px;
		p {
			font-size: 18px;
			line-height: 180%;
			letter-spacing: 0.005em;
		}
	}
	.password {
		margin-bottom: 20px;
		p {
			font-size: 18px;
			line-height: 180%;
			letter-spacing: 0.005em;
		}
	}
	.change {
		color: $primarycolor;
		font-weight: 300;
		font-size: 14px !important;
		line-height: 200%;
	}
}
.buttons {
	margin: 15px 50px;
	display: inline-flex;
	.button {
		border: 0px;
		font-size: 14px;
		@include primaryfont;
		color: $colorblack;
		background: $accent;
		border-radius: 3px;
		width: auto;
		height: 40px;
		display: flex;
	    justify-content: center;
	    align-items: center;
		margin: 0px 10px 0px 0px;
		white-space: nowrap;
		i {
			vertical-align: middle;
		}
		span {
			display: flex;
			align-items: center;
			margin-left: 5px;
		}
	}
	.light {
		border: 1px $primarycolor solid;
		font-size: 14px;
		@include primaryfont;
		color: $primarycolor;
		background: $lightwhite;
		border-radius: 3px;
		width: auto;
		height: 40px;
		display: flex;
	    justify-content: center;
	    align-items: center;
		margin: 0px 10px 0px 0px;
		white-space: nowrap;
		i {
			vertical-align: middle;
		}
		span {
			display: flex;
			align-items: center;
			margin-left: 5px;
		}
	}	
}
#right {
	// user
	label {
		font-weight: bold;
		font-size: 12px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $colorblack;
		opacity: 0.38;	
	}	
	table {
		td {
			border: 0px;
		}
		th {
			border: 0px;
		}
	}
}