@import 'mixins';

strong {
  font-weight: bold;
}

.home-container {
	background-color: $lightwhite;
    max-width: 100%;
    height: 100vh;
   	overflow: hidden;
   	nav {
   		background-color: $navbarbg;
    	width: 100%;
    	padding: 15px 15px 15px 40px;
  		box-shadow: none;
    	.brand-logo {
    		display: flex;
    	}
    	.icons {
			position: relative;
		    top: -25px;
		    float: right;
		    display: inline-flex;
    		i {
	   			color: $primarycolor;
			    font-size: $iconsize;
			    vertical-align: middle;
    		}
    		li:first-child {
    			margin-right: 15px;
    		}
    	}
   	}
   	.navbar { 
   		z-index: 1;
   	}
	#social {
		float: right;
		display: flex;
	}

   	.icon { 
   		display: inline-block;
   		margin: 0 10px;
   		i {
   			color: $primarycolor;
		    font-size: $iconsize;
		    vertical-align: middle;
   		}
   	}
   	.heading {
  		position:relative;
  		margin: 30px 80px 10px 70px;
	    z-index: 10;
	    display: flex;
	   	.name {
	   		@include primaryfont;
	   		font-size: 18px;
	   		color: $colorblack;
	   		font-weight: bold;
	   		letter-spacing: 0.005em;
	   	}
	   	.patientdetails {
			font-weight: bold;
			font-size: 12px;
			line-height: 180%;
			color: $primarycolor;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			margin-left: 15px;
			cursor: pointer;
			&:hover {
				color: $colorblack;
			}
	   	}
	   	.line {
	   		@include primaryfont;
	   		font-size: 14px;
	   		color: $colorblack;
    		margin-bottom: -5px;
			line-height: 200%;
	   	}
   	}
.jumbotron.jumbotron-fluid {
    // position: fixed;
    width: 100%;
    margin-top: -17px;
    z-index: 10;
}
.perfect-scrollbar {
	width: auto !important;
    // margin-top: 270px;
    // bottom: 20px;
    // position: absolute;
    overflow-y: scroll;
    height: -webkit-fill-available;
    transition: margin-right .5s;
		   		padding: 15px 25px;
			   	background-color: $colorwhite;
			   	border: 1px solid #E0E0E0;
			   	box-sizing: border-box;
				border-radius: 3px;
				p {
					@include primaryfont;
					font-size: 18px;
			   		color: $colorblack;
					line-height: 180%;
						padding: 5px;
				}
}
perfect-scrollbar.overflow-show.container-fluid.d-block {
	width: auto !important;
    margin-top: 270px;
    bottom: 20px;
    position: absolute;
    overflow-y: scroll;
    height: -webkit-fill-available;
		   		padding: 15px 25px;
			   	background-color: $colorwhite;
			   	border: 1px solid #E0E0E0;
			   	box-sizing: border-box;
				border-radius: 3px;
				p {
					@include primaryfont;
					font-size: 18px;
			   		color: $colorblack;
					line-height: 180%;
						padding: 5px;
				}
}


   	.content {
	    position: fixed;
	    width: 100%;
	    margin-top: -17px;
	    z-index: 10;
	   	.body {
		    margin-top: 270px;
		    bottom: 20px;
		    position: absolute;
		    overflow: scroll;
		    height: -webkit-fill-available;
	   		.textarea {
		  //  		overflow-y: scroll;
		  //  		margin: 0px 50px;
		  //  		padding: 15px 25px;
			 //   	background-color: $colorwhite;
			 //   	border: 1px solid #E0E0E0;
			 //   	box-sizing: border-box;
				// border-radius: 3px;
  		// 		height: 100%;
  		// 		width: 100%;
	   		}
  			//height: 300px;
  			textarea {
  				//height: 100%;
  				width: 100%;
  			}
			p {
				@include primaryfont;
				font-size: 18px;
		   		color: $colorblack;
				line-height: 180%;
			}
		}
		.buttons {
			position: fixed;
			bottom: 0;
	   		margin: 15px 50px;
	   		display: inline-flex;
	   		.button {
	   			border: 0px;
				font-size: 14px;
				@include primaryfont;
				color: $colorblack;
				background: $accent;
				border-radius: 3px;
				width: 114px;
				height: 30px;
				display: flex;
			    justify-content: center;
			    align-items: center;
	    		margin: 0px 10px 0px 0px;
				i {
					vertical-align: middle;
				}
				span {
					display: flex;
	    			align-items: center;
	    			margin-left: 5px;
				}
	   		}
	   		.text {
	   			text-transform: uppercase;
				@include primaryfont;
				color: $primarycolor;
				font-size: 14px;
				font-weight: bold;
				line-height: 180%;
				display: flex;
			    justify-content: center;
			    align-items: center;
	    		margin: 0px 10px 0px 10px;
	   		}
	   		.saved {
				@include primaryfont;
				color: $colorblack;
				font-size: 14px;
				font-weight: normal;
			    position: fixed;
			    right: 0;
			    margin: 0px 70px;
			    line-height: 200%;
			    display: flex;
			    align-self: center;
	   		}
		}
   	}
}
#container {
	transition: margin-right .5s;
}

.footer {
	border: 0px;
	font-size: 14px;
	@include primaryfont;
	color: $colorblack;
	background: transparent !important;
	border-radius: 3px;
	width: 114px;
	display: inline-block;
	margin: 0px 10px 0px 0px;
	i {
		vertical-align: middle;
	}
	span {
		display: flex;
		align-items: center;
		margin-left: 5px;
	}

    .save {
		text-transform: uppercase;
		@include primaryfont;
		color: $primarycolor;
		font-size: 14px;
		font-weight: bold;
		line-height: 180%;
		display: inline-flex;
	    justify-content: center;
	    align-items: center;
		margin: 0px 10px 0px 10px;
		cursor: pointer;
    }
    .changesaved {
		float: right;
   		margin-right: 50px;
		//transition: margin-right .5s;
    }
	.button {
		font-size: 14px;
		@include primaryfont;
		color: $colorblack;
		background: $accent;
		border-radius: 3px;
		width: 114px;
		height: 40px;
		position: relative;
	    cursor: pointer;
	    overflow: hidden;
	    user-select: none;
	    vertical-align: middle;
	    z-index: 1;
	    transition: .3s ease-out;
	    text-decoration: none;
		display: inline-flex;
	    justify-content: center;
	    letter-spacing: .5px;
	    transition: background-color .2s ease-out;
	    cursor: pointer;
	    &:hover {
	    	background-color: #d1bb98;
	    	transition: .3s ease-out;
	    }
	    &:focus {
	    	background-color: $accent;
	    	transition: .3s ease-out;
	    }
	}
}
.add-new-doctor-btn {
	margin-left: 15px;
	@include primaryfont;
    border: 1px $primarycolor solid;
    padding: 10px;
    width: 160px;
    border-radius: 3px;
    text-align: center;
    display: flex;
    place-content: center;
    color: $primarycolor;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
		border: 1px solid $colorblack;
    	color: $colorblack;
    }
}
.v--modal-box {
	z-index: 9999;
}
#add-practice {
	.add-practice-btn {
		background-color: $accent;
		color: $colorblack;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 0.005em;
		@include primaryfont;
		font-size: 18px;
		line-height: 180%;
		width: auto;
		&:hover {
			border-color: $colorwhite;
		}
		height: auto !important;
	}
}
#update-practice {
	.add-practice-btn {
		background-color: $accent;
		color: $colorblack;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 0.005em;
		@include primaryfont;
		font-size: 18px;
		line-height: 180%;
		width: auto;
		&:hover {
			border-color: $colorwhite;
		}
		height: auto !important;
	}
}
.window-header {
	z-index: 9999;
	label {
		@include primaryfont;
		font-size: 14px;
	}
	span {
		color: $primarycolor !important;
	}
	.modal-dialog {
		min-height: calc(100vh - 60px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: auto;
		@media(max-width: 768px) {
			min-height: calc(100vh - 20px);
		}
	}
	.modal-title {
		width: 100%;
	    text-align: center;
	    color: $primarycolor;
	}
	.modal-header {
		border-bottom: 1px solid $primarycolor;
	}
	.add-doctor-btn {
		background-color: $accent;
		color: $colorblack;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 0.005em;
		@include primaryfont;
		font-size: 18px;
		line-height: 180%;
		width: auto;
		height: auto !important;
		&:hover {
			border-color: $colorwhite;
		}
	}

	.center {
		justify-content: center;
	}
}

.letterhead {
	text-align: center;
	letter-spacing: 0.005em;
	@include primaryfont;
	color: $colorblack;
	letter-spacing: 0.005em;
	line-height: 140%;
	._name {
		font-size: 24px;
		font-weight: bold;
	}
	._status {
		font-size: 16px;
	}
	._practice {
		font-size: 16px;
	}
	._address {
		font-size: 16px;
	}
	._provider {
		font-size: 16px;
	}
	._button {
		text-transform: uppercase;
		width: 100%;
	    display: flex;
	    justify-content: center;
	    margin: 10px;
	    cursor: pointer;
		p {
	    	color: $primarycolor;
			border: 1px solid $primarycolor;
			padding: 2px;
			width: 230px;
			border-radius: 3px;
			box-sizing: border-box;
	    	font-size: 14px;
	    	font-weight: bold;
		    &:hover {
				border: 1px solid $colorblack;
		    	color: $colorblack;
		    }
		}
	}
}

.sidenavs {
	display: none;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: $colorwhite;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	z-index: 1;

  .row {
  	position: fixed;
    top: 0px;
    nav {
  		background-color: transparent;
  		box-shadow: none;
  		width: 100%;
  		padding: 0;
  		.nav-wrapper {
			background-color: $primarycolor;
  		}
  		ul {
  			display: inline-flex;
  			li {
  				cursor: pointer;
		   		@include primaryfont;
		   		font-size: 14px;
		   		color: $colorwhite;
		   		padding: 23px 15px;
		   		background-color: $primarycolor;
		   		&.active {
			   		@include primaryfont;
			   		font-size: 14px;
			   		color: $primarycolor;
		   			background-color: $colorwhite;

		   		}
  			}
  		}
    }
  }


.form-group {
	.divide {
		padding: 0;
	    margin-top: 8px;
	    margin-left: 5px;
	    @include primaryfont;
	    font-size: 14px;
	    color: $colorblack;
	    font-weight: 300;
	}
}

  	.input-group-addon {
		position: absolute;
	    // right: 5px;
	    // top: 7px;
	    i {
	    	opacity: 0.7;
	    }
	}
	.findings {
   		@include primaryfont;
   		font-size: 18px;
   		color: $colorblack;
   		letter-spacing: 0.005em;
	}
	.ps {
		overflow-y: scroll !important;
	}
	.tab-content {
		padding: 30px 40px 70px 30px;
		width: 100%;
		background-color: #fff;
		height: 100vh;
		.row {
			position: relative !important
		}
		label {
	   		@include primaryfont;
	   		font-size: 14px;
	   		color: $colorblack;
			
		}
		.radiolabel {
			&::before {
				border-radius: 50%;
			}
		}
		.customradio {
			display: flex;
			margin-top: -5px;
			vertical-align: middle;
			&:checked~.radiolabel {
				&::before {
				    background-color: #fff;
				    border-radius: 50%;
				    border: 5px solid #00A5B4;
				    z-index: 999;
				}
				&::after {
					background-color: $primarycolor;
				    border-radius: 50%;
				    border: 4px solid #fff;
				}
			}
		}
		.boxlabel {
		   		@include primaryfont;
		   		font-size: 14px;
		   		color: $colorblack;
				display: flex;
				align-items: center;
				letter-spacing: 0.05em;
				// text-transform: uppercase;
				span {
					display: flex;
				    align-self: baseline;
				    position: absolute;
				    right: 5px;
				}
			&::before {
				width: 20px;
				height: 20px;
			}
		}
		.labelopen {
			border-bottom: 1px solid $inputborder;
			padding-bottom: 5px;
			padding-left: 5px;
			.boxlabel {
					margin-left: 30px;
			   		@include primaryfont;
			   		font-size: 14px;
			   		color: $colorblack;
					display: flex;
					align-items: center;
					letter-spacing: 0.05em;
					font-weight: bold;
					span {
						display: flex;
					    align-self: baseline;
					    position: absolute;
					    left: 30px;
					    margin-top: 1px;

					}
				&::before {
					width: 20px;
					height: 20px;
				}
			}
			&:hover {
				opacity: 0.5;
				cursor: pointer;
			}
		}
		.submodule-subtitle {
			letter-spacing: 0.05em;
			text-transform: uppercase;
	   		@include primaryfont;
	   		font-size: 12px;
	   		color: $colorblack;
	   		font-weight: bold;
	   		margin: 20px 0px;
		}
		.custombox {
			display: flex;
			margin-top: -5px;
			vertical-align: middle;
			&:checked~.boxlabel {
				&::before {
					width: 20px;
    				height: 20px;
					color: $colorwhite;
				    border-color: $primarycolor;
				    background-color: $primarycolor;
				}
				&::after {
					top: -2px;
				    left: -26px;
				    display: block;
				    width: 1.5rem;
				    height: 2rem;
				}
			}
		}

		.module-subtitle {
	   		@include primaryfont;
	   		font-size: 14px;
	   		color: $primarycolor;
	   		text-transform: uppercase;
	   		font-weight: bold;
	   		margin-bottom: 15px;
		}

		.inline-f {
			display: inline-flex;
			margin-left: -15px;
		}

		.unit {
		    padding: 0;
		    margin-top: 8px;
		    margin-left: -8px;
	   		@include primaryfont;
	   		font-size: 14px;
	   		color: $colorblack;
	   		font-weight: 300;
	   		opacity: 0.54;
		}
		.disabled {
			opacity: 0.5;
		}

	}

}

#Exam {
	li {
		padding: 10px 0px;
		&:hover {
			span {
			   	color: $colorblack;
				opacity: 0.8;
			}
		}
	}
	.checkable {
		p {
			border-bottom: 1px solid $inputborder;
			padding-bottom: 5px;
			padding-left: 5px;
		}
		span {
		   	color: $colorblack;
			opacity: 0.54;
		}
	}
	.custom-control {
		padding-left: 0;
	}

		.boxlabel {
		   		@include primaryfont;
		   		font-size: 14px;
		   		color: $colorblack;
				display: flex;
				align-items: center;
				letter-spacing: 0.05em;
				// text-transform: uppercase;
				span {
					display: flex;
				    align-self: baseline;
				    position: absolute;
				    right: 5px;
				}
			&::before {
				width: 20px;
				height: 20px;
			}
		}

}

#TTE {
	li {
		padding: 10px 0px;
		&:hover {
			span {
			   	color: $colorblack;
				opacity: 0.8;
			}
		}
	}
	.checkable {
		p {
			border-bottom: 1px solid $inputborder;
			padding-bottom: 5px;
			padding-left: 5px;
		}
		span {
		   	color: $colorblack;
			opacity: 0.54;
		}
	}
	label {
		&::after {
			content: none;
		}
		&::before {
			content: none;
		}
	}
	.custom-control {
		padding-left: 0;
	}
}

#ECG {
	li {
		padding: 10px 0px;
		&:hover {
			span {
			   	color: $colorblack;
				opacity: 0.8;
			}
		}
	}
	.checkable {
		p {
			border-bottom: 1px solid $inputborder;
			padding-bottom: 5px;
			padding-left: 5px;
		}
		span {
		   	color: $colorblack;
			opacity: 0.54;
		}
	}
	label {
		&::after {
			content: none;
		}
		&::before {
			content: none;
		}
	}
	.custom-control {
		padding-left: 0;
	}

}
.preview {
	text-align: center;
	margin-bottom: 20px;
	.p_name {
		font-size: 24px;
		@include primaryfont;
		font-weight: bold;
		line-height: 140%;
	}
	.p_info {
		@include primaryfont;
		line-height: 140%;
	}
}
.practice {
		.radiolabel {
			&::before {
				border-radius: 50%;
			}
		}
	.radiolabel {
		&::before {
			border-radius: 50%;
		}
	}
	.customradio {
		display: flex;
		margin-top: -5px;
		vertical-align: middle;
		&:checked~.radiolabel {
			&::before {
			    background-color: #fff;
			    border-radius: 50%;
			    border: 5px solid #00A5B4;
			    z-index: 999;
			}
			&::after {
				background-color: $primarycolor;
			    border-radius: 50%;
			    border: 4px solid #fff;
			}
		}
	}
	.inline-f {
		span {
	   		@include primaryfont;
			font-weight: 300;
			font-size: 14px;
		}
	}
	.checkable {
		p {
			border-bottom: 1px solid $inputborder;
			padding-bottom: 5px;
			padding-left: 5px;
		}
		span {
		   	color: $colorblack;
			opacity: 0.54;
		}
	}
	li {
		padding: 10px 0px;
		&:hover {
			span {
			   	color: $colorblack;
				opacity: 0.8;
			}
		}
		.custombox {
			&:checked~.boxlabel {
				span {
				   	color: $colorblack;
					opacity: 0.8;
				}
			}
		}
	}
		.boxlabel {
		   		@include primaryfont;
		   		font-size: 14px;
		   		color: $colorblack;
				display: flex;
				align-items: center;
				letter-spacing: 0.05em;
				// text-transform: uppercase;
				span {
					display: flex;
				    align-self: baseline;
				    position: absolute;
				    right: 5px;
				}
			&::before {
				width: 20px;
				height: 20px;
			}
		}
		.custombox {
			display: flex;
			margin-top: -5px;
			vertical-align: middle;
			&:checked~.boxlabel {
				&::before {
					width: 20px;
    				height: 20px;
					color: $colorwhite;
				    border-color: $primarycolor;
				    background-color: $primarycolor;
				}
				&::after {
					top: -2px;
				    left: -26px;
				    display: block;
				    width: 1.5rem;
				    height: 2rem;
				}
			}
		}

}

#EST {
	.radiolabel {
		&::before {
			border-radius: 50%;
		}
	}
	.customradio {
		display: flex;
		margin-top: -5px;
		vertical-align: middle;
		&:checked~.radiolabel {
			&::before {
			    background-color: #fff;
			    border-radius: 50%;
			    border: 5px solid #00A5B4;
			    z-index: 999;
			}
			&::after {
				background-color: $primarycolor;
			    border-radius: 50%;
			    border: 4px solid #fff;
			}
		}
	}
	.inline-f {
		span {
	   		@include primaryfont;
			font-weight: 300;
			font-size: 14px;
		}
	}
	.checkable {
		p {
			border-bottom: 1px solid $inputborder;
			padding-bottom: 5px;
			padding-left: 5px;
		}
		span {
		   	color: $colorblack;
			opacity: 0.54;
		}
	}
	li {
		padding: 10px 0px;
		&:hover {
			span {
			   	color: $colorblack;
				opacity: 0.8;
			}
		}
		.custombox {
			&:checked~.boxlabel {
				span {
				   	color: $colorblack;
					opacity: 0.8;
				}
			}
		}
	}
}

#Patient {
	p {
		border-bottom: 1px solid $inputborder;
		padding-bottom: 5px;
		padding-left: 5px;
	}
	span {
	   	color: $colorblack;
		opacity: 0.54;
	}
	li {
		padding: 10px 0px;
		&:hover {
			span {
			   	color: $colorblack;
				opacity: 0.8;
			}
		}
		.custombox {
			&:checked~.boxlabel {
				span {
				   	color: $colorblack;
					opacity: 0.8;
				}
			}
		}
	}
}

#NewPhxComponent {
	p {
		border-bottom: 1px solid $inputborder;
		padding-bottom: 5px;
		padding-left: 5px;
	}
	span {
	   	color: $colorblack;
		opacity: 0.54;
	}
	li {
		padding: 10px 0px;
		&:hover {
			span {
			   	color: $colorblack;
				opacity: 0.8;
			}
		}
		.custombox {
			&:checked~.boxlabel {
				span {
				   	color: $colorblack;
					opacity: 0.8;
				}
			}
		}
	}
}


#HxComponent {
	p {
		border-bottom: 1px solid $inputborder;
		padding-bottom: 5px;
		padding-left: 5px;
	}
	span {
	   	color: $colorblack;
		opacity: 0.54;
	}
	li {
		padding: 10px 0px;
		&:hover {
			span {
			   	color: $colorblack;
				opacity: 0.8;
			}
		}
		.custombox {
			&:checked~.boxlabel {
				span {
				   	color: $colorblack;
					opacity: 0.8;
				}
			}
		}
	}
}

.sidenavs a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenavs a:hover {
  color: #f1f1f1;
}

.sidenavs .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media print {    
    ._button * {
        display: none !important;
    }
    .choose-letterhead {
    	display: none !important;
    }
}

.impressions {
	padding: 0px 5px !important; 
	line-height: 120% !important; 
	font-weight: 400 !important; 
}
.lines p {
	white-space: pre-line
}
.letter-hl {
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}
.letter-content {
	line-height: 150%;
	font-size: 17px !important;
}

.details-name {
	@include primaryfont;
	font-weight: 300;
	font-size: 18px;
	line-height: 180%;
	color: $colorblack;
	letter-spacing: 0.005em;
}
.details-info {
	@include primaryfont;
	font-weight: 300;
	font-size: 14px;
	line-height: 140%;
	color: $colorblack;
}
.modal-title {
	@include primaryfont;
	font-weight: 300;
	font-size: 14px;
	line-height: 140%;
	color: $primarycolor;
}
.v--modal-box {
	z-index: 99999;
}
.v--modal {
	border-radius: 0px !important;
}
.choose-letterhead {
	display: inline-flex;
    margin-top: 15px;
    cursor: pointer;
    p {
    	border-radius: 3px;
    	font-weight: bold;
    	padding: 5px 20px !important;
    	border: 1px $primarycolor solid;
    	@include primaryfont;
    	font-size: 14px !important;
	    font-weight: 300;
	    color: $primarycolor !important;
	    text-transform: uppercase;
	    &:hover {
	    	color: $colorblack !important;
    		border: 1px $colorblack solid;
	    }
	}
}
.user-action {
	color: $primarycolor;
	visibility: hidden;
}
.user-lettertr:hover {
	.user-action {
		visibility: visible;
	}
	
}
.patientlist {
	label {
		font-weight: bold;
		color: $colorblack;
		@include primaryfont;
		font-size: 12px;
		line-height: 180%;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		opacity: 0.38;
	}
}

.tte_number {
	color: $primarycolor;
	font-size: 36px;
	line-height: 53px;
}