@import 'mixins';

.login-container {
	width: 100%;
	background-color: $primarycolor;
	height: 100vh;
	padding: 100px;
    @include for-phone-only {    
    	padding: 20px;
   }
}

.login-right-image {
	background: url('../images/login-image.png');
	background-repeat: no-repeat;
	background-size: contain;
    background-position: center;
}

.login-logo { 
	text-align: center;
    margin: 20px 50px 50px 50px;
    @include for-phone-only {    
    	margin: 50px;
   	}
}

.login-form {
	max-width: 100%;
}

.login-form input {
    height: 3rem;
}

::placeholder { 
	font-size: 14px;
	color: $colorblack;
	opacity: 0.4; 
	@include primaryfont;
}

.login-form p {
	@include primaryfont;
	font-style: normal;
	line-height: 140%;
	color: $colorblack;
	font-size: 14px;
	margin: 0px;
}

.login-form a {
	@include primaryfont;
	font-style: normal;
	line-height: 140%;
	color: $accent;
	font-size: 14px;
	margin: 0px;
}

.login-form label, a:link {
	@include primaryfont;
	color: $accent;
	font-size: 14px;
	margin: 0px;
}

.login-form button {
	border: 0px;
	font-size: 18px;
	@include primaryfont;
	color: $colorblack;
	width: 100%;
	background: $accent;
	border-radius: 3px;
}

.login-note p {
	color: $colorblack;
	text-align: center;
	@include primaryfont;
	font-size: 18px;
	margin-top: 80px;
    @include for-phone-only { 
		font-size: 16px;
   	}
}
