$colorwhite: #fff;
$lightwhite: #F8F8F8;
$colorblack: #2B2B2B;
$accent: #E1CEB0;
$primarycolor: #00A5B4;
$backgroundcolor: #ECECEC;
$navbarbg: #E6E6E6;
$normalfontsize: 14px;
$iconsize: 20px;
$inputborder: #C8C8C8;


@mixin primaryfont {
	font-family: Heebo;
	font-style: normal;
	font-weight: 300;
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}