<template>
	<div>
		<div v-show="isOpen">
			<div>

				<div class="module-subtitle">Associated ssss</div>

				<div class="labelopen" @click="goBack">
					<p class="boxlabel">Chest Pain <span><i class="material-icons">keyboard_arrow_left</i></span></p>
				</div>

				<div class="submodule-subtitle">Chest Pain History</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="form-check">
							<input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_history" id="chestpain_history1" value="Exertional" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_history == 'Exertional'">
							<label class="form-check-label custom-control-label radiolabel" for="chestpain_history1">Exertional</label>
						</div>
						<div class="form-check">
							<input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_history" id="chestpain_history2" value="Non-exertional" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_history == 'Non-exertional'">
							<label class="form-check-label custom-control-label radiolabel" for="chestpain_history2">Non-exertional</label>
						</div>
						<div class="form-check">
							<input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_history" id="chestpain_history3" value="Resting" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_history == 'Resting'">
							<label class="form-check-label custom-control-label radiolabel" for="chestpain_history3">Resting</label>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="col-sm-4">
							<div class="form-check">
								<input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_position" id="chestpain_position1" value="Left-sided" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_position == 'Left-sided'">
								<label class="form-check-label custom-control-label radiolabel" for="chestpain_position1">Left-sided</label>
							</div>
							<div class="form-check">
								<input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_position" id="chestpain_position2" value="Right-sided" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_position == 'Right-sided'">
								<label class="form-check-label custom-control-label radiolabel" for="chestpain_position2">Right-sided</label>
							</div>
							<div class="form-check">
								<input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_position" id="chestpain_position3" value="Central" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_position == 'Central'">
								<label class="form-check-label custom-control-label radiolabel" for="chestpain_position3">Central</label>
							</div>
							<div class="form-check">
								<input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_position" id="chestpain_position4" value="Epigastric" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_position == 'Epigastric'">
								<label class="form-check-label custom-control-label radiolabel" for="chestpain_position4">Epigastric</label>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="col-sm-4">
							<div class="form-check">
								<input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_status" id="Epigastric" value="Epigastric" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_status == 'Epigastric'">
								<label class="form-check-label custom-control-label radiolabel" for="Epigastric">
									Epigastric
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_status" id="Sharp" value="Sharp" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_status == 'Sharp'">
								<label class="form-check-label custom-control-label radiolabel" for="Sharp">
									Sharp
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_status" id="Pressure-like" value="Pressure-like" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_status == 'Pressure-like'">
								<label class="form-check-label custom-control-label radiolabel" for="Pressure-like">
									Pressure-like
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_status" id="Stabbing" value="Stabbing" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_status == 'Stabbing'">
								<label class="form-check-label custom-control-label radiolabel" for="Stabbing">
									Stabbing
								</label>
							</div>
						</div>
					</div>
				</div>
				<br><br>

				<div class="form-group row">
					<label for="chestpain_onset1" class="col-sm-3 col-form-label">Onset</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="chestpain_onset1" type="number" name="chestpain_onset" step="any" style="width: 70px;" :value="hxdetails.chestpain != null ? hxdetails.chestpain.chestpain_onset : ''">
						</div>
					</div>
				</div>

				<div class="form-group row">
					<label for="chestpain_duration1" class="col-sm-3 col-form-label">Duration</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="chestpain_duration1" type="number" name="chestpain_duration" step="any" style="width: 70px;" :value="hxdetails.chestpain != null ? hxdetails.chestpain.chestpain_duration : ''">
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</template>
<script>
	import Pusher from 'pusher-js';
	import axios from 'axios';
	import Constant,{ constant } from '../../Constant';
    export default {
    	props: ['hxdetails', 'isOpen'],
    	components: {
		   //
		},      
		data(){
			return {
				showChestPain: this.isOpen,
				showHxComponent: false,
				complaints: [
				{
					name: 'Chest Pain',
					status: 'disabled'
				},
				{
					name: 'SOBOE',
					status: ''
				},
				{
					name: 'Orthopnoea',
					status: ''
				},
				{
					name: 'PND',
					status: ''
				},
				{
					name: 'Palpitations',
					status: ''
				},
				{
					name: 'Pre-syncope',
					status: ''
				},
				{
					name: 'Syncope',
					status: ''
				},
				]
			}
		},
		watch: {
			showChestPain: function (val) {
				this.isOpen = !this.isOpen
			}
		},
		methods: {
			checkAssociated(event) {
				if (event.target.checked) {
					this.showHxComponent = true;
				} else {
					this.showHxComponent = false;
				}
			},
			goBack() {
				this.$emit('back', '')
				this.showChestPain = false
			}
		},
		created() {
	    	//
	    },
	}
</script>