<template>
	<div v-show="isOpen">
		<div>

			<div class="module-subtitle">Associated soboe</div>

			<div class="labelopen" @click="goBack">
				<p class="boxlabel">SOBOE <span><i class="material-icons">keyboard_arrow_left</i></span></p>
			</div>

			<div class="submodule-subtitle">Dyspnoea History</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-check">
						<input class="form-check-input custom-control-input customradio" type="radio" name="soboe_exertion" id="soboe1" value="Minimal exertion" :checked="hxdetails.soboe != null && hxdetails.soboe.soboe_exertion == 'Minimal exertion'">
						<label class="form-check-label custom-control-label radiolabel" for="soboe1">Minimal exertion</label>
					</div>
					<div class="form-check">
						<input class="form-check-input custom-control-input customradio" type="radio" name="soboe_exertion" id="soboe2" value="Min-Mod exertion" :checked="hxdetails.soboe != null && hxdetails.soboe.soboe_exertion == 'Min-Mod exertion'">
						<label class="form-check-label custom-control-label radiolabel" for="soboe2">Min-Mod exertion</label>
					</div>
					<div class="form-check">
						<input class="form-check-input custom-control-input customradio" type="radio" name="soboe_exertion" id="soboe3" value="Moderate exertion" :checked="hxdetails.soboe != null && hxdetails.soboe.soboe_exertion == 'Moderate exertion'">
						<label class="form-check-label custom-control-label radiolabel" for="soboe3">Moderate exertion</label>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-check">
						<input class="form-check-input custom-control-input customradio" type="radio" name="soboe_condition" id="soboe4" value="Stable" :checked="hxdetails.soboe != null && hxdetails.soboe.soboe_condition == 'Stable'">
						<label class="form-check-label custom-control-label radiolabel" for="soboe4">Stable</label>
					</div>
					<div class="form-check">
						<input class="form-check-input custom-control-input customradio" type="radio" name="soboe_condition" id="soboe5" value="Gradually worsening" :checked="hxdetails.soboe != null && hxdetails.soboe.soboe_condition == 'Gradually worsening'">
						<label class="form-check-label custom-control-label radiolabel" for="soboe5">Gradually worsening</label>
					</div>
					<div class="form-check">
						<input class="form-check-input custom-control-input customradio" type="radio" name="soboe_condition" id="soboe6" value="Acutely worsening" :checked="hxdetails.soboe != null && hxdetails.soboe.soboe_condition == 'Acutely worsening'">
						<label class="form-check-label custom-control-label radiolabel" for="soboe6">Acutely worsening</label>
					</div>
				</div>
			</div>
			<br><br>

			<div class="form-group row">
				<label for="Onset" class="col-sm-3 col-form-label">Onset</label>
				<div class="col-sm-3 inline-f">
					<div style="margin-left: -20px; text-align: center;">
						<input class="form-control" id="Onset" type="number" name="soboe_onset" step="any" style="width: 70px;" :value="hxdetails.soboe != null ? hxdetails.soboe.soboe_onset : ''">
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label for="Duration1" class="col-sm-3 col-form-label">Duration</label>
				<div class="col-sm-3 inline-f">
					<div style="margin-left: -20px; text-align: center;">
						<input class="form-control" id="Duration1" type="number" name="soboe_duration" step="any" style="width: 70px;" :value="hxdetails.soboe != null ? hxdetails.soboe.soboe_duration : ''">
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import Pusher from 'pusher-js';
	import axios from 'axios';
	import Constant,{ constant } from '../../Constant';
    export default {
    	props: ['hxdetails', 'isOpen'],
    	components: {
		   //
		},      
		data(){
			return {
				showSOBOE: this.isOpen,
				showHxComponent: false,
				complaints: [
				{
					name: 'Chest Pain',
					status: 'disabled'
				},
				{
					name: 'SOBOE',
					status: ''
				},
				{
					name: 'Orthopnoea',
					status: ''
				},
				{
					name: 'PND',
					status: ''
				},
				{
					name: 'Palpitations',
					status: ''
				},
				{
					name: 'Pre-syncope',
					status: ''
				},
				{
					name: 'Syncope',
					status: ''
				},
				]
			}
		},
		watch: {
			showSOBOE: function (val) {
				this.isOpen = !this.isOpen
			}
		},
		created() {
			showSOBOE: this.isOpen
		},
		methods: {
			goBack() {
				this.$emit('back', '')
				this.showSOBOE = false
			}
		},
		created() {
	    	//
	    },
	}
</script>