<template>
    <div class="home-container">
		
		<!-- home -->
		
    </div>
</template>

<script>
	import Constant,{ constant } from '../DashboardComponent/Constant';
	import axios from 'axios';
    export default {
        data(){
	        return {
	        	baseurl: document.querySelector('meta[name="base-url"]').getAttribute('content'),
	        	logo: "/images/logo.png",
		        email: null,
		        password: null,
		        error: false,
		        remoteMsg: '',
	        }
	    },
		mounted() {
			this.getUser();
		},
	    methods: {
	    	getUser() {
				axios.get(constant.userUrl, {
                	headers: constant.headers(this.$cookie.get('access_token')),
            	}).then(response => {
			      	this.data = response.data.data
			      	this.$router.push({name: 'user'})
			    }).catch(error => {
			    	this.$cookie.delete('access_token');
					this.$router.push({name: 'login'})
			    });
	    	},
	    }
  }
</script>
<style>
	.close {
		float: right !important;
	    font-size: 1.5rem  !important;
	    font-weight: 700 !important;
	    line-height: 1 !important;
	    color: #000 !important;
	    text-shadow: 0 1px 0 #fff !important;
	    opacity: .5 !important;
	}
</style>