<template>
    <div class="login-container">
		<div class="row">
		    <div class="col-md-4">
		    	<div class="login-logo"><img :src="baseurl + logo"></div>
				<form autocomplete="on" class="col-md-12 login-form" @submit.prevent="login" method="POST" id="login">
					<div class="form-group">
				        <div class="alert alert-danger" v-if="error">
				            <a class="close" @click="hideAlert">&times;</a>
				            <p>{{ remoteMsg }}</p>
				        </div>
					</div>	
					<div class="form-group">
						<input type="email" class="form-control" v-model="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" v-model="password" name="password" placeholder="Password">
					</div>

					<div class="form-group">
						<label>
							<p>Forgot password?</p>
						</label>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Log in</button>
					</div>
				</form>

				<div class="login-note">
					<p>Not yet a member? <a href="javascript:void(0)" @click="openRegister">Create an account.</a></p>
				</div>
			</div>
		    <div class="col-md-8 login-right-image"></div>
		</div>
		<div class="row">
		</div>
    </div>
</template>

<script>
	import Constant,{ constant } from '../DashboardComponent/Constant';
	import axios from 'axios';
    export default {
        data(){
	        return {
	        	baseurl: document.querySelector('meta[name="base-url"]').getAttribute('content'),
	        	logo: "/images/logo.png",
		        email: null,
		        password: null,
		        error: false,
		        remoteMsg: '',
	        }
	    },
	    methods: {
	      	login(e){
	      		this.hideAlert();
				const form = new FormData(document.getElementById("login"));
				axios.post(constant.loginUrl, form).then(response => {
					this.$cookie.set('access_token', response.data.access_token, { expires: response.data.expires_in });
					this.$router.push({name: 'user'})
				}).catch(err => {
					this.error = true;
					this.remoteMsg = 'Invalid email or password.';
				    constant.removeToken;
				});	      	
			},
			hideAlert() {
				this.error = false;
			},
	      	openRegister() {
	      		this.$router.push({name: 'register'})
	      	}
	    }
  }
</script>
<style>
	.close {
		float: right !important;
	    font-size: 1.5rem  !important;
	    font-weight: 700 !important;
	    line-height: 1 !important;
	    color: #000 !important;
	    text-shadow: 0 1px 0 #fff !important;
	    opacity: .5 !important;
	}
</style>