<template>
    <div class="login-container">
		<div class="row">
		    <div class="col-md-4">
		    	<div class="login-logo"><img :src="baseurl + logo"></div>
				<form class="col-md-12 login-form" @submit="register" method="post" id="register">
					<div class="form-group">
						<input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="Re-enter Password" required>
					</div>

					<div class="form-group">
						<label>
							<p>By sigining up, you agree to <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a></p>
						</label>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Sign up</button>
					</div>
				</form>

				<div class="login-note">
					<p>Already have an account? <a href="javascript:void(0)" @click="gotoLogin">Log in here</a></p>
				</div>
			</div>
		    <div class="col-md-8 login-right-image"></div>
		</div>
		<div class="row">
		</div>
    </div>
</template>

<script>
	import Constant,{ constant } from '../DashboardComponent/Constant';
	import axios from 'axios';
    export default {
        data(){
	        return {
	        	baseurl: document.querySelector('meta[name="base-url"]').getAttribute('content'),
	        	logo: "/images/logo.png",
	        }
	    },
	    methods: {
	      	register(e){
	      		e.preventDefault();
				const form = new FormData(document.getElementById("register"));
				axios.post(constant.registerUrl, form, {
				    headers: constant.header,
				}).then(response => {
					this.gotoLogin();
				}).catch(err => {
					//
				});
	      	},
	      	gotoLogin() {
	      		this.$router.push({name: 'login'});
	      	}
	    }
  }
</script>