<template>
	<div id="meds">
		<div v-show="showBloods">
		
			<div class="form-group row" style="margin-left: 5px;">
				<div class="col-6">

					<div class="form-group row">
						<strong>Cr: </strong>  {{ blood.cr }}
					</div>

					<div class="form-group row">
						<strong>HbA1c: </strong>  {{ blood.hb1ac }}
					</div>

					<div class="form-group row">
						<strong>FBGL: </strong>  {{ blood.fbgl }}
					</div>


				</div>
				<div class="col-6">

					<div class="form-group row">
						<strong>TC: </strong>  {{ blood.tc }}
					</div>

					<div class="form-group row">
						<strong>LDL: </strong>  {{ blood.ldl }}
					</div>

					<div class="form-group row">
						<strong>TG: </strong>  {{ blood.tg }}
					</div>

				</div>
			</div>

			<div class="form-group row">
				<div class="add-new-doctor-btn" @click="$modal.show('add-blood')">	
		    		Add Blood Results
		    	</div>
			</div>

			<ul class="checkable">
				<li v-for="bd in bloods">
				    <div :class="{activeBlood: bd.id === activeBloood }" class="custom-control custom-checkbox" style="padding-left: 0; border-bottom: 1px solid #E1CEB0;margin-bottom: 5px;">
						<label class="custom-control-label boxlabel" style="display: none"></label> 
						<p @click="viewBlood(bd)" class="boxlabel" style="margin-left: 10px; padding: 10px 0px;">{{ bd.created_at | moment("DD/MM/YYYY") }} | CR: {{ bd.cr }} | HbA1c: {{ bd.hb1ac }} | FBGL: {{ bd.fbgl }} | TC: {{ bd.tc }} | LDL: {{ bd.ldl }}<span> <i class="material-icons edit" @click="updateBloodModal(bd)">edit</i> <i class="material-icons delete" @click="deleteBloodModal(bd.id)">delete</i></span></p>
				    </div>
				</li>
			</ul>

		</div>

		<modal name="add-blood" height="auto" :scrollable="true">
			<div class="window-header" style="z-index: 99999">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Add Blood</h5>
		        <button class="close" @click="$modal.hide('add-blood')">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
				<form method="post" id="add-blood" @submit.prevent="addBlood($event)">
					<div class="row">
						<div class="col-6">
						  <div class="form-group">
						    <label for="blood_date">Date</label>
						    <input type="text" class="form-control"  name="date" id="blood_date" placeholder="" required v-mask="'##-##-####'" v-model="dateinput" placeholder="DD-MM-YYYY">
						  </div>

						  <div class="form-group">
						    <label for="blood_cr">Cr</label>
						    <input type="number" class="form-control" step="0.1" name="cr" id="blood_cr" placeholder="">
						  </div>
						  <div class="form-group">
						    <label for="blood_tc">TC</label>
						    <input type="number" class="form-control" step="0.1" name="tc" id="blood_tc" placeholder="">
						  </div>

						  <div class="form-group">
						    <label for="blood_tg">FBGL</label>
						    <input type="number" class="form-control" step="0.1" name="tg" id="blood_tg" placeholder="">
						  </div>

						  <div class="form-group">
						    <label for="blood_hdl">HDL</label>
						    <input type="number" class="form-control" step="0.1" name="hdl" id="blood_hdl" >
						  </div>


						</div>

						<div class="col-6">
						  <div class="form-group">
						    <label for="blood_fbgl">FBGL</label>
						    <input type="number" class="form-control" step="0.1" name="fbgl" id="blood_fbgl" placeholder="">
						  </div>


						  <div class="form-group">
						    <label for="blood_tg">TG</label>
						    <input type="number" class="form-control" step="0.1" name="tg" id="blood_tg" placeholder="">
						  </div>

						  <div class="form-group">
						    <label for="blood_hb1ac">Hb1ac</label>
						    <input type="number" class="form-control" step="0.1" name="hb1ac" id="blood_hb1ac" placeholder="">
						  </div>

						  <div class="form-group">
						    <label for="blood_ldl">LDL</label>
						    <input type="number" class="form-control" step="0.1" name="ldl" id="blood_ldl" >
						  </div>

						</div>
					</div>

				  <div class="form-group form-row center">
				  	<button type="submit" class="btn btn-primary add-doctor-btn">Save</button>
				  </div>
				</form>
		      </div>
			</div>
		</modal>

		<modal name="update-blood" height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Update Medication</h5>
		        <button class="close" @click="$modal.hide('update-blood')">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
				<form method="post" id="update-blood" @submit.prevent="updateBlood($event)">
					<div class="row">
						<div class="col-6">
						  <div class="form-group">
						    <label for="blood_date">Date</label>
						    <input type="text" class="form-control"  name="date" id="blood_date" placeholder="" required v-mask="'##-##-####'" v-model="blood.date" placeholder="DD-MM-YYYY">
						  </div>

						  <div class="form-group">
						    <label for="blood_cr">Cr</label>
						    <input type="number" class="form-control" :value="blood.cr" step="0.1" name="cr" id="blood_cr" placeholder="">
						  </div>
						  <div class="form-group">
						    <label for="blood_tc">TC</label>
						    <input type="number" class="form-control" :value="blood.tc" step="0.1" name="tc" id="blood_tc" placeholder="">
						  </div>

						  <div class="form-group">
						    <label for="blood_tg">FBGL</label>
						    <input type="number" class="form-control" :value="blood.tg" step="0.1" name="tg" id="blood_tg" placeholder="">
						  </div>

						  <div class="form-group">
						    <label for="blood_hdl">HDL</label>
						    <input type="number" class="form-control" :value="blood.hdl" step="0.1" name="hdl" id="blood_hdl" >
						  </div>


						</div>

						<div class="col-6">
						  <div class="form-group">
						    <label for="blood_fbgl">FBGL</label>
						    <input type="number" class="form-control" :value="blood.fbgl" step="0.1" name="fbgl" id="blood_fbgl" placeholder="">
						  </div>


						  <div class="form-group">
						    <label for="blood_tg">TG</label>
						    <input type="number" class="form-control" :value="blood.tg" step="0.1" name="tg" id="blood_tg" placeholder="">
						  </div>

						  <div class="form-group">
						    <label for="blood_hb1ac">Hb1ac</label>
						    <input type="number" class="form-control" :value="blood.hb1ac" step="0.1" name="hb1ac" id="blood_hb1ac" placeholder="">
						  </div>

						  <div class="form-group">
						    <label for="blood_ldl">LDL</label>
						    <input type="number" class="form-control" :value="blood.ldl" step="0.1" name="ldl" id="blood_ldl" >
						    <input type="hidden" name="bloodid" :value="blood.id">
						  </div>

						</div>
					</div>

				  <div class="form-group form-row center">
				  	<button type="submit" class="btn btn-primary add-doctor-btn">Save</button>
				  </div>
				</form>
		      </div>
			</div>
		</modal>


		<modal name="delete-blood" height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Delete blood result</h5>
		        <button class="close" @click="$modal.hide('delete-blood')" aria-label="Close" >
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body center">
		      	<div>Are you sure?</div>
		      	<div>This cannot be undone.</div>
				
				<button class="btn btn-primary add-doctor-btn" style="margin: 0 auto; margin-top: 15px" @click="deleteBlood(bloodid)">Delete</button>

		      </div>
			</div>
		</modal>


	</div>
</template>
<script>
	import Pusher from 'pusher-js';
	import axios from 'axios';
	import Constant,{ constant } from '../Constant';
	import * as moment from "moment/moment";
	export default {
    	components: {
		   //
		},
        data(){
	        return {
	        	showBloods: true,
	        	dateinput: '',
	        	userid: this.$route.params.letterid,
	        	bloods: [],
	        	blood: [],
	        	bloodid: '',
	        	activeBloood: ''

	        }
	    },
		mounted() {
			this.getBloods();
		},
		computed: {
			filteredList() {
				if (this.meds != null) {
					return this.meds.filter(val => {
						return val.name.toLowerCase().includes(this.search.toLowerCase())
					});
			  	}
			}
		},
	    methods: {
	    	goBack() {
	    		// this.showTTE = true;
	    		// this.hideAll();
	    	},
	    	getBloods() {
				axios.get(constant.getBloods+this.userid, {
                    headers: constant.headers(this.$cookie.get('access_token')),
                }).then(response => {
			      	this.bloods = response.data
			      }).catch(error => {
			      });
	    	},
	    	addBlood(e) {
				const form = new FormData(document.getElementById("add-blood"));
				axios.post(constant.saveBlood+this.userid, form, {
				    headers: constant.headers(this.$cookie.get('access_token')),
				}).then(response => {
					this.getBloods();
					this.$modal.hide('add-blood')
				}).catch(err => {
					//
				});
	    	},
	    	updateBlood(e) {
	    		e.preventDefault();
				const form = new FormData(document.getElementById("update-blood"));
				axios.post(constant.updateBlood+this.userid, form, {
				    headers: constant.headers(this.$cookie.get('access_token')),
				}).then(response => {
					this.getBloods();
					this.$modal.hide('update-blood')
				}).catch(err => {
					//
				});
	    	},
		  //   getBlood(id) {
				// axios.get(constant.getBlood+this.userid, {
    //                 headers: constant.headers(this.$cookie.get('access_token')),
    //             }).then(response => {
			 //      	this.blood = response.data
			 //      }).catch(error => {
			 //      });
		  //   },
	    	updateBloodModal(data) {
	    		this.blood = data;
	    		this.$modal.show('update-blood');
	    	},
		    deleteBlood(id) {
				axios.get(constant.deleteBlood+id, {
                    headers: constant.headers(this.$cookie.get('access_token')),
                }).then(response => {
			        this.getBloods();
			        this.$modal.hide('delete-blood');
			      }).catch(error => {
			      	//
			      });
		    },
			deleteBloodModal(id) {
				this.bloodid = id;
				this.$modal.show('delete-blood');
			},
			viewBlood(data) {
				this.blood = data;
				this.activeBloood = data.id;
			}

	    }
	}
</script>
<style>
	#meds strong {
		padding-right: 5px;
	}
	.activeBlood {
		background-color: #E1CEB0;
	}
</style>