<template>
	<div>
		<form @change.prevent="saveECG()" id="ecg-details">
		<div class="module-subtitle" >ECG Findings</div>
		<div class="form-group row">
			<label for="pulserate" class="col-sm-3 col-form-label">Pulse Rate</label>
			<div class="col-sm-3 inline-f">
				<div style="margin-left: -20px; text-align: center;">
				  <input class="form-control" id="pulserate" name="pulse_rate" :value="patientdetails.pulse_rate" type="number" step="any" style="width: 70px;" min="20" max="200">
				</div>
				<div class="col-sm-2 unit" style="margin-left: 10px; margin-top: 4px;"><p>bpm</p></div>
			</div>
		</div>


		<div class="form-group row">
			<label for="rhythm" class="col-sm-3 col-form-label">Rhythm</label>
			<div class="col-sm-6 inline-f">
				<div style="margin-left: -20px; text-align: center;">
					<select class="custom-select" name="rhythm" id="rhythm">
						<option selected disabled >Select</option>
						<option v-for="rhythm in rhythms" :value="rhythm" :selected="rhythm == patientdetails.rhythm">{{ rhythm }}</option>
					</select>
			  <!-- <input class="form-check-input" type="radio" name="rhythm" :id="rhythm" :value="rhythm" :checked="patientdetails.rhythm === rhythm">
			  <label class="form-check-label" :for="rhythm">{{ rhythm }}</label> -->
				</div>
			</div>
			
		</div>


		<div v-show="showECG">
			

			<ul class="checkable">
				<li v-for="ecgFinding in ecgFindings">
				    <div class="custom-control custom-checkbox">
						<label class="custom-control-label boxlabel"></label> 
						<p @click="openFindings(ecgFinding.name)" class="boxlabel" style="margin-left: 10px;">{{ ecgFinding.name }} <span><i class="material-icons">keyboard_arrow_right</i></span></p>

				    </div>

				</li>
			</ul>
		</div>
		

			<div id="ecg-findings-rhythm" v-show="showComplex">
				<div>
					

					<div class="labelopen" @click="goBack">
						<p class="boxlabel">Complex<span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>
					<div class="col-sm-12" style="margin-left: -15px;">
						<div class="form-group row col-sm-6 complex">
							<div class="form-check form-check-inline">
							  <input @click="checkComplex($event, 'Narrow Complex')" class="form-check-input" type="radio" name="complex" id="Narrow Complex" value="narrow complexes" :checked="patientdetails.complex == 'narrow complexes'">
							  <label class="form-check-label" for="Narrow Complex">Narrow Complex</label>
							</div>
						</div>

						<div class="form-group row col-sm-6 complex">
							<div class="form-check form-check-inline">
							  <input @click="checkComplex($event, 'Broad Complex')" class="form-check-input" type="radio" name="complex" id="Broad Complex" value="broad complexes" :checked="patientdetails.complex == 'broad complexes'">
							  <label class="form-check-label" for="Broad Complex">Broad Complex</label>
							</div>
						</div>
					</div>

					<div v-show="patientdetails.complex == 'broad complexes'">
						<div class="submodule-subtitle">LOCATION</div>
						<div class="col-sm-6 inline-f">
							<select class="custom-select" name="complex_location">
								<option disabled selected>Select</option>
								<option v-for="loc in locations" :value="loc.value" :selected="patientdetails.complex_location === loc.value">{{ loc.name }}</option>
							</select>
						</div>
					</div>

					<div v-if="patientdetails.complex == 'broad complexes' || patientdetails.complex == 'narrow complexes'">
						<div class="submodule-subtitle">Bundle Branch Block</div>
						<div class="col-sm-6 inline-f">
							<select v-if="patientdetails.complex == 'narrow complexes'" class="custom-select" name="complex_bundle">
								<option disabled selected>Select</option>
								<option value="no bundle branch block" :selected="patientdetails.complex_bundle === 'no bundle branch block'">No BBB</option>
								<option value="incomplete left bundle branch block" :selected="patientdetails.complex_bundle === 'incomplete left bundle branch block'">Incomplete LBBB</option>
								<option value="incomplete right bundle branch block" :selected="patientdetails.complex_bundle === 'incomplete right bundle branch block'">Incomplete RBBB</option>
							</select>
							<select v-if="patientdetails.complex == 'broad complexes'" class="custom-select" name="complex_bundle">
								<option disabled selected>Select</option>
								<option value="no bundle branch block" :selected="patientdetails.complex_bundle == 'no bundle branch block'">No BBB</option>
								<option value="complete left bundle branch block" :selected="patientdetails.complex_bundle == 'complete left bundle branch block'">Complete LBBB</option>
								<option value="complete right bundle branch block" :selected="patientdetails.complex_bundle == 'complete right bundle branch block'">Complete RBBB</option>
							</select>
						</div>
					</div>

				</div>			
			</div>
			<div id="axis" v-show="showAxis">
				<div>
					

					<div class="labelopen" @click="goBack">
						<p class="boxlabel">Axis<span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>
					<div class="col-sm-12" style="margin-left: -15px;">
						<div class="form-group row col-sm-6">
							<div class="form-check form-check-inline">
							  <input @click="checkAxis($event, 'Normal Axis')" class="form-check-input" type="radio" name="axis" id="Normal Axis" value="normal axis" :checked="patientdetails.axis === 'normal axis'">
							  <label class="form-check-label" for="Normal Axis">Normal Axis</label>
							</div>
						</div>
						<div class="form-group row col-sm-6 complex">
							<div class="form-check form-check-inline">
							  <input @click="checkAxis($event, 'Left Axis Deviation')" class="form-check-input" type="radio" name="axis" id="Left Axis Deviation" value="left axis deviation" :checked="patientdetails.axis === 'left axis deviation'">
							  <label class="form-check-label" for="Left Axis Deviation">Left Axis Deviation</label>
							</div>
						</div>

						<div v-if="patientdetails.axis === 'left axis deviation'" class="form-group row col-sm-6 complex">
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="checkbox" name="left_anterior_hemiblock" id="Left Anterior Hemiblock" value="left anterior hemiblock" :checked="patientdetails.left_anterior_hemiblock === 'left anterior hemiblock'">
							  <label class="form-check-label" for="Left Anterior Hemiblock">Left Anterior Hemiblock</label>
							</div>
						</div>	

						<div class="form-group row col-sm-6">
							<div class="form-check form-check-inline">
							  <input @click="checkAxis($event, 'Right Axis Deviation')" class="form-check-input" type="radio" name="axis" id="Right Axis Deviation" value="right axis deviation" :checked="patientdetails.axis === 'right axis deviation'">
							  <label class="form-check-label" for="Right Axis Deviation">Right Axis Deviation</label>
							</div>
						</div>
					</div>
				</div>			
			</div>
			<div id="q-waves" v-show="showQWaves">
				<div>
					

					<div class="labelopen" @click="goBack">
						<p class="boxlabel">Q Waves<span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>
					<div class="col-sm-12" style="margin-left: -15px;">
						<div class="form-group row col-sm-6 complex">
							<div class="form-check form-check-inline">
							  <input @click="checkQWaves($event, 'Q Waves')" class="form-check-input" type="checkbox" name="qwaves" id="Q Waves present" value="Q Waves" :checked="patientdetails.qwaves == 'Q Waves present'">
							  <label class="form-check-label" for="Q Waves present">Q Waves present</label>
							</div>
						</div>
					</div>
					<div v-if="patientdetails.qwaves == 'Q Waves'">
						<div class="submodule-subtitle">LOCATION</div>
						<div class="col-sm-6 inline-f">
							<select class="custom-select" name="qwaves_location">
								<option disabled selected>Select</option>
								<option v-for="loc in locations" :value="loc.value" :selected="patientdetails.qwaves_location === loc.value">{{ loc.name }}</option>
							</select>
						</div>
					</div>
				</div>			
			</div>
			<div id="t-waves" v-show="showTWaves">
				<div>
					

					<div class="labelopen" @click="goBack">
						<p class="boxlabel">T Waves<span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>
					<div class="col-sm-12" style="margin-left: -15px;">
						<div class="form-group row col-sm-6 complex">
							<div class="form-check form-check-inline">
							  <input @click="checkTWaves($event, 'T Wave flattening')" class="form-check-input" type="checkbox" name="twave_flattening" id="T Wave flattening" value="T Wave flattening" :checked="patientdetails.twave_flattening !== null">
							  <label class="form-check-label" for="T Wave flattening">T Wave flattening</label>
							</div>
						</div>
					</div>
					<div v-if="patientdetails.twave_flattening !== null">
						<div class="submodule-subtitle">LOCATION</div>
						<div class="col-sm-6 inline-f">
							<select class="custom-select" name="twave_flattening_location">
								<option disabled selected>Select</option>
								<option v-for="loc in locations" :value="loc.value" :selected="patientdetails.twave_flattening_location == loc.value">{{ loc.name }}</option>
							</select>
						</div>
					</div>

					<div class="col-sm-12" style="margin-left: -15px;">
						<div class="form-group row col-sm-6 complex">
							<div class="form-check form-check-inline">
							  <input @click="checkTWaves($event, 'T Wave inversion')" class="form-check-input" type="checkbox" name="twave_inversion" id="T Wave inversion" value="T Wave inversion" :checked="patientdetails.twave_inversion !== null">
							  <label class="form-check-label" for="T Wave inversion">T Wave inversion</label>
							</div>
						</div>
					</div>
					<div v-if="patientdetails.twave_inversion !== null">
						<div class="submodule-subtitle">LOCATION</div>
						<div class="col-sm-6 inline-f">
							<select class="custom-select" name="twave_inversion_location">
								<option disabled selected>Select</option>
								<option v-for="loc in locations" :value="loc.value" :selected="patientdetails.twave_inversion_location == loc.value">{{ loc.name }}</option>
							</select>
						</div>
					</div>
				</div>			
			</div>
			<div id="st-segment" v-show="showSTSegment">
				<div>
					

					<div class="labelopen" @click="goBack">
						<p class="boxlabel">ST Segment<span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>
					<div class="col-sm-12" style="margin-left: -15px;">
						<div class="form-group row col-sm-6">
							<div class="form-check form-check-inline">
							  <input @click="checkSTSegment($event, 'ST depression')" class="form-check-input" type="checkbox" name="st_depression" id="ST depression" value="ST depression" :checked="patientdetails.st_depression !== null">
							  <label class="form-check-label" for="ST depression">ST depression</label>
							</div>
						</div>
					</div>

					<div v-if="patientdetails.st_depression !== null" class="col-sm-12" style="margin-left: -15px; margin-top: -50px; margin-bottom: -20px;">
						<div class="form-group row col-sm-6 complex">
							<div class="submodule-subtitle">LOCATION</div>
							<div class="col-sm-12 inline-f">
								<select class="custom-select" name="st_depression_location">
									<option disabled selected>Select</option>
									<option v-for="loc in locations" :value="loc.name" :selected="patientdetails.st_depression_location == loc.name">{{ loc.name }}</option>
								</select>
							</div>
						</div>
						<div class="form-group row col-sm-6 complex">
							<div class="submodule-subtitle">HEIGHT</div>
							<div class="col-sm-12 inline-f">
								<select class="custom-select" name="st_depression_height">
									<option disabled selected>Select</option>
									<option v-for="stSegmentHeight in stSegmentHeights" :value="stSegmentHeight" :selected="patientdetails.st_depression_height == stSegmentHeight">{{ stSegmentHeight }}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-12" style="margin-left: -15px;">
						<div class="form-group row col-sm-6">
							<div class="form-check form-check-inline">
							  <input @click="checkSTSegmentElevation($event, 'ST elevation')" class="form-check-input" type="checkbox" name="st_elevation" id="ST elevation" value="ST elevation" :checked="patientdetails.st_elevation !== null">
							  <label class="form-check-label" for="ST elevation">ST elevation</label>
							</div>
						</div>
					</div>

					<div v-if="patientdetails.st_elevation !== null" class="col-sm-12" style="margin-left: -15px; margin-top: -50px;">
						<div class="form-group row col-sm-6 complex">
							<div class="submodule-subtitle">LOCATION</div>
							<div class="col-sm-12 inline-f">
								<select class="custom-select" name="st_elevation_location">
									<option disabled selected>Select</option>
									<option v-for="loc in locations" :value="loc.name" :selected="patientdetails.st_elevation_location == loc.name">{{ loc.name }}</option>
								</select>
							</div>
						</div>
						<div class="form-group row col-sm-6 complex">
							<div class="submodule-subtitle">HEIGHT</div>
							<div class="col-sm-12 inline-f">
								<select class="custom-select" name="st_elevation_height">
									<option disabled selected>Select</option>
									<option v-for="stSegmentHeight in stSegmentHeights" :value="stSegmentHeight" :selected="patientdetails.st_elevation_height == stSegmentHeight">{{ stSegmentHeight }}</option>
								</select>
							</div>
						</div>
					</div>

				</div>			
			</div>


			<div id="heart-block" v-show="showHeartBlock">
				<div>
					

					<div class="labelopen" @click="goBack">
						<p class="boxlabel">Heart Block<span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>

					<div class="form-group row col-sm-12" v-for="heartBlock in heartBlocks">
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="heartblock" :id="heartBlock" :value="heartBlock" :checked="patientdetails.heartblock == heartBlock">
						  <label class="form-check-label" :for="heartBlock">{{ heartBlock }}</label>
						</div>
					</div>
				</div>			
			</div>
		</form>	
	</div>
</template>
<script>
	import Pusher from 'pusher-js';
	import axios from 'axios';
	import Constant,{ constant } from '../Constant';
    export default {
    	props: ['patientdetails'],
    	components: {
		   //
		},
        data(){
	        return {
	        	showRate: false,
	        	showRhythm: false,
	        	showComplex: false,
	        	showAxis: false,
	        	showQWaves: false,
	        	showTWaves: false,
	        	showSTSegment: false,
	        	showHeartBlock: false,
	        	showECG: true,
	        	ECGHeading: 'ECG FINDINGS',
	        	stSegmentHeights: [
	        		'0.5mm',
	        		'1mm',
	        		'2mm',
	        		'3mm',
	        		'4mm',
	        	],
	        	heartBlocks: [
	        		'No Heart Block',
	        		'First Degree Heart Block',
	        		'Second Degree Heart Block',
	        		'Third Degree Heart Block',
	        	],
	        	ecgFindings: [
		        	{
		        		name: 'Complex'
		        	}, 
		        	{
		        		name: 'Axis'
		        	}, 
		        	{
		        		name: 'Q Waves'
		        	},  
		        	{
		        		name: 'T Waves'
		        	},
		        	{
		        		name: 'ST Segment'
		        	}, 
		        	{
		        		name: 'Heart Block'
		        	}
	        	],
	        	locations: [
		        	{
		        		name: 'Widespread',
		        		value: 'in all leads'
		        	},
		        	{
		        		name: 'Anterior',
		        		value: 'anterior'
		        	},
		        	{
		        		name: 'Anterolateral',
		        		value: 'anterolateral'
		        	},
		        	{
		        		name: 'Lateral',
		        		value: 'lateral'
		        	},
		        	{
		        		name: 'Inferolateral',
		        		value: 'inferolateral'
		        	},
		        	{
		        		name: 'Inferior',
		        		value: 'inferior'
		        	},
	        	],
	        	hasClick: false,
	        	white: 'white',
	        	locationstatus: true,
	        	bundlestatus: true,
	        	// location: '',
	        	// bundle: '',
	        	leftAnteriorHemiblock: '',
	        	leftAnterior: true,
	        	qWaves: true,
	        	qWavesLocation: '',
	        	tWave1: true,
	        	tWave2: true,
	        	tWavesLocation1: '',
	        	tWavesLocation2: '',
	        	stdepression: true,
	        	stdepressionLocation: '',
	        	stdepressionHeight: '',
	        	stelevation: true,
	        	stelevationLocation: '',
	        	stelevationHeight: '',
	        	rhythms: constant.ecg_rhythm,
				complex_location: false,
				complex_bundle: false,
				complex_narrow: false,
				complex_broad: false,
				userid: this.$route.params.letterid,
	        }
	    },
	    created() {
	    	//
	    },
	    methods: {
	    	goBack() {
	    		this.showECG = true;
	    		this.hideAll();
	    	},
	    	openFindings(name) {
	    		this.showECG = false;
	    		if (name == 'Rate') {
	    			this.showRate = true;
	    		}
	    		if (name == 'Rhythm') {
	    			this.showRhythm = true;
	    		}
	    		if (name == 'Complex') {
	    			this.showComplex = true;
	    		}
	    		if (name == 'Axis') {
	    			this.showAxis = true;
	    		}
	    		if (name == 'Q Waves') {
	    			this.showQWaves = true;
	    		}
	    		if (name == 'T Waves') {
	    			this.showTWaves = true;
	    		}
	    		if (name == 'ST Segment') {
	    			this.showSTSegment = true;
	    		}
	    		if (name == 'Heart Block') {
	    			this.showHeartBlock = true;
	    		}
	    	},
	    	hideAll() {
				this.showRate = false;
				this.showRhythm = false;
				this.showComplex = false;
				this.showQWaves = false;
				this.showAxis = false;
				this.showTWaves = false;
				this.showSTSegment = false;
				this.showHeartBlock = false;
	    	},
	    	checkComplex(event, val) {
    			this.location = '';
    			this.bundle = '';
	    		if (val === 'Narrow Complex') {
					this.complex_location = false;
					this.complex_bundle = true;
					this.complex_narrow = true;
					this.complex_broad = false;
	    		} 
	    		if (val === 'Broad Complex') {
					this.complex_location = true;
					this.complex_bundle = true;
					this.complex_narrow = false;
					this.complex_broad = true;
	    		}
	    	},
	    	checkAxis(event, val) {
	    		if (val === 'Left Axis Deviation') {
	    			this.leftAnterior = false;
	    		} else {
	    			this.leftAnterior = true;
	    			this.leftAnteriorHemiblock = '';	    		
	    		}
	    	},
	    	checkQWaves(event, val) {
	    		if (event.target.checked) {
	    			this.qWaves = false;
	    		} else {
	    			this.qWaves = true;
	    			this.qWavesLocation = '';
	    		}
	    	},
	    	checkTWaves(event, val) {
	    		if (event.target.checked && event.target.value === 'T Wave flattening') {
    				this.tWave1 = false;
	    		}  else if (!event.target.checked && event.target.value === 'T Wave flattening') {
					this.tWave1 = true;
					this.tWavesLocation1 = '';
	    		}

	    		if (event.target.checked && event.target.value === 'T Wave inversion') {
    				this.tWave2 = false;
	    		} else if (!event.target.checked && event.target.value === 'T Wave inversion') {
	    			this.tWave2 = true;
					this.tWavesLocation2 = '';
	    		}		
	    	},
	    	checkSTSegment(event, val) {
	    		if (event.target.checked) {
    				this.stdepression = false;
	    		} else {
					this.stdepression = true;
					this.stdepressionLocation = '';
					this.stdepressionHeight = '';
	    		}
	    	},
	    	checkSTSegmentElevation(event, val) {
	    		if (event.target.checked) {
    				this.stelevation = false;
	    		} else {
					this.stelevation = true;
					this.stelevationLocation = '';
					this.stelevationHeight = '';
	    		}
	    	},
	    	saveECG() {
		      const form = new FormData(document.getElementById("ecg-details"));
		      axios.post(constant.savePatientUrl+this.userid, form, {
		            	headers: constant.headers(this.$cookie.get('access_token')),
		          }).then(response => {
						const data = response.data;
						this.$emit('ecg', data);
		          }).catch(err => {
		          });
	    	}

	    },
	    mounted() {
	    	//
	    }
  }	


</script>
<style>
	label {
		z-index: 2;
	}
	#ecg-findings-rate .row {
		margin-top: 30px
	}
	#ecg-findings-rhythm .form-group {
		margin-top: 30px;
	}
	#ecg-findings-rhythm .submodule-subtitle {
		margin: 20px 0px 5px 0px;
	}
	#ecg-findings-rhythm .complex {
		display: inline-flex;
	}
	#axis .row:nth-child(1) {
		margin-top: 30px
	}
	#axis .complex {
		display: inline-flex;
	}
	#q-waves .row {
		margin-top: 30px
	}
	#t-waves .row {
		margin-top: 30px
	}
	#t-waves .submodule-subtitle {
		margin: 20px 0px 5px 0px;
	}
	#st-segment .complex {
		display: inline-flex;
	}
	#st-segment .submodule-subtitle {
		margin: 20px 0px 5px 0px;
	}
	#st-segment .row:nth-child(1) {
		margin-top: 30px
	}
	#heart-block .form-group {
		margin-top: 30px;
	}
	#heart-block .submodule-subtitle {
		margin: 20px 0px 5px 0px;
	}
</style>