<template>

	<div>

		<form @change="saveEST($event)" id="est-details">
			<div v-show="showEST">
				<div class="module-subtitle">{{ ESTHeading }}</div>
				<div class="col-sm-12">
					<div class="form-group row col-sm-6" style="display: inline-block; margin-left: -27px;" v-for="st in stressTest">
						<div class="form-check form-check-inline">
						  <input class="form-check-input custom-control-input customradio" type="radio" name="stress_test" :checked="estdetails.stress_test == st" :id="st" :value="st">
						  <label class="form-check-label custom-control-label radiolabel" :for="st">{{ st }}</label>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<label for="Duration" class="col-sm-3 col-form-label">Duration</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="Duration" type="number" step="any" style="width: 70px;" name="stress_test_min" :value="estdetails.stress_test_min">
						  <span>min</span>
						</div>
						<div class="divide">
							<p>:</p>
						</div>
					</div>
					<div class="col-sm-3 inline-f" style="margin-left: -50px;">
						<div style="margin-right: 9px; text-align: center;">
						  <input class="form-control" type="number" step="any" style="width: 70px;" name="stress_test_sec" :value="estdetails.stress_test_sec">
						  <span>sec</span>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<label for="Stage" class="col-sm-3 col-form-label">Stage</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="Stage" type="number" step="any" style="width: 70px;" name="stress_test_stage" :value="estdetails.stress_test_stage">
						</div>
					</div>
				</div>

				<div class="form-group row">
					<label for="Peak" class="col-sm-3 col-form-label">Peak PR</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="Peak" type="number" step="any" style="width: 70px;" name="stress_test_peak_pr" :value="estdetails.stress_test_peak_pr">
						</div>
						<div class="col-sm-2 unit" style="margin-left: 10px; margin-top: 4px;"><p>bpm</p></div>
					</div>
				</div>

				<div class="form-group row">
					<label for="Peak" class="col-sm-3 col-form-label"></label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="Peak" type="number" step="any" style="width: 70px;" name="stress_test_peak_pr_max" :value="estdetails.stress_test_peak_pr_max">
						</div>
						<div class="col-sm-9 unit" style="margin-left: 10px; margin-top: 4px; min-width: 200px;"><p>% of max Pred. PR</p></div>
					</div>
				</div>

				<div class="form-group row">
					<label for="Duration" class="col-sm-3 col-form-label">Peak BP</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="Duration" type="number" step="any" style="width: 70px;" name="stress_test_peak_bp" :value="estdetails.stress_test_peak_bp">
						</div>
						<div class="divide">
							<p></p>
						</div>
					</div>
				</div>

				<div class="form-group">
				    <div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input custombox" id="Chest PainEST" name="change_pain" :checked="estdetails.change_pain == 'Chest Pain'" value="Chest Pain">
						<label class="custom-control-label boxlabel" for="Chest PainEST"></label> 
						<p class="boxlabel" style="margin-left: 10px;">Chest Pain</p>
				    </div>
				</div>

				<div class="form-group">
				    <div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input custombox" id="DyspnoeaEST" name="dyspnoea" :checked="estdetails.dyspnoea == 'Dyspnoea'" value="Dyspnoea">
						<label class="custom-control-label boxlabel" for="DyspnoeaEST"></label> 
						<p class="boxlabel" style="margin-left: 10px;">Dyspnoea at peak stress</p>
				    </div>
				</div>


				<ul class="checkable">
					<li>
					    <div class="custom-control custom-checkbox">
							<input ref="ST Depression" type="checkbox" class="custom-control-input custombox" id="ST Depression" name="st_depression" value="ST Depression" :checked="estdetails.st_depression == 'ST Depression'">
							<label class="custom-control-label boxlabel" for="ST Depression"></label> 
							<p @click="openComplaint($event, 'ST Depression')" class="boxlabel" style="margin-left: 10px;">ST Depression<span><i class="material-icons">keyboard_arrow_right</i></span></p>

					    </div>
					</li>
					<li>
					    <div class="custom-control custom-checkbox">
							<input ref="T wave Change" type="checkbox" class="custom-control-input custombox" id="T wave Change" name="twave_change" value="T wave Change" :checked="estdetails.twave_change == 'T wave Change'">
							<label class="custom-control-label boxlabel" for="T wave Change"></label> 
							<p @click="openComplaint($event, 'T wave Change')" class="boxlabel" style="margin-left: 10px;">T wave Change<span><i class="material-icons">keyboard_arrow_right</i></span></p>

					    </div>
					</li>
					<li>
					    <div class="custom-control custom-checkbox">
							<input ref="Hypokinesis" type="checkbox" class="custom-control-input custombox" id="Hypokinesis" name="hypokinesis" value="Hypokinesis" :checked="estdetails.hypokinesis == 'Hypokinesis'">
							<label class="custom-control-label boxlabel" for="Hypokinesis"></label> 
							<p @click="openComplaint($event, 'Hypokinesis')" class="boxlabel" style="margin-left: 10px;">Hypokinesis<span><i class="material-icons">keyboard_arrow_right</i></span></p>

					    </div>
					</li>
					<li>
					    <div class="custom-control custom-checkbox">
							<input ref="Hypotension" type="checkbox" class="custom-control-input custombox" id="Hypotension" name="hypotension" value="Hypotension" :checked="estdetails.hypotension == 'Hypotension'">
							<label class="custom-control-label boxlabel" for="Hypotension"></label> 
							<p @click="openComplaint($event, 'Hypotension')" class="boxlabel" style="margin-left: 10px;">Hypotension<span><i class="material-icons">keyboard_arrow_right</i></span></p>

					    </div>
					</li>
				</ul>
			</div>

			<div v-show="showSTDepression">
				<div>
					<div class="module-subtitle">{{ ESTHeading }}</div>

					<div class="labelopen" @click="goBack">
						<p class="boxlabel">ST Depression <span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>

					<div class="submodule-subtitle">Anterior</div>

					<div class="form-group row">
						<div class="col-sm-6 inline-f">
							<div class="col-sm-9">
								<select class="form-control" name="st_depression_anterior">
									<option selected disabled>Choose</option>
									<option v-for="option in st_depression_options" :value="option" :selected="option == estdetails.st_depression_anterior">{{ option }}</option>
								</select>
							</div>
							<div class="col-sm-6" style="margin-left: -15px;">
								<select class="form-control" name="st_depression_anterior_size">
									<option selected></option>
									<option v-for="option in st_depression_sizes" :value="option" :selected="option == estdetails.st_depression_anterior_size">{{ option }}</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6 inline-f" style="margin-left: 5px;">
							<input v-model="anteriorVI" class="hidden" type="checkbox" name="st_depression_anterior_options[]" value="V1">
							<input v-model="anteriorV2" class="hidden" type="checkbox" name="st_depression_anterior_options[]" value="V2">
							<input v-model="anteriorV3" class="hidden" type="checkbox" name="st_depression_anterior_options[]" value="V3">
							<input v-model="anteriorV4" class="hidden" type="checkbox" name="st_depression_anterior_options[]" value="V4">
							<div class="btn" @click="changeColor($event,'green','Anterior','V1')">V1</div>
							<div class="btn" @click="changeColor($event,'green','Anterior','V2')">V2</div>
							<div class="btn" @click="changeColor($event,'yellow','Anterior','V3')">V3</div>
							<div class="btn" @click="changeColor($event,'yellow','Anterior','V4')">V4</div>
						</div>
					</div>

					<div class="submodule-subtitle">Lateral</div>

					<div class="form-group row">
						<div class="col-sm-6 inline-f">
							<div class="col-sm-9">
								<select class="form-control" name="st_depression_lateral">
									<option selected disabled>Choose</option>
									<option v-for="option in st_depression_options" :value="option" :selected="option == estdetails.st_depression_lateral">{{ option }}</option>
								</select>
							</div>
							<div class="col-sm-6" style="margin-left: -15px;">
								<select class="form-control" name="st_depression_lateral_size">
									<option selected></option>
									<option v-for="option in st_depression_sizes" :value="option" :selected="option == estdetails.st_depression_lateral_size">{{ option }}</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6 inline-f" style="margin-left: 5px;">
							<input v-model="lateralI" class="hidden" type="checkbox" name="st_depression_lateral_options[]" value="I">
							<input v-model="lateralaVL" class="hidden" type="checkbox" name="st_depression_lateral_options[]" value="aVL">
							<input v-model="lateralV5" class="hidden" type="checkbox" name="st_depression_lateral_options[]" value="V5">
							<input v-model="lateralV6" class="hidden" type="checkbox" name="st_depression_lateral_options[]" value="V6">
							<div class="btn" @click="changeColor($event,'blue','Lateral','I')">I</div>
							<div class="btn" @click="changeColor($event,'blue','Lateral','aVL')">aVL</div>
							<div class="btn" @click="changeColor($event,'blue','Lateral','V5')">V5</div>
							<div class="btn" @click="changeColor($event,'blue','Lateral','V6')">V6</div>
						</div>
					</div>

					<div class="submodule-subtitle">Inferior</div>

					<div class="form-group row">
						<div class="col-sm-6 inline-f">
							<div class="col-sm-9">
								<select class="form-control" name="st_depression_inferior">
									<option selected disabled>Choose</option>
									<option v-for="option in st_depression_options" :value="option" :selected="option == estdetails.st_depression_inferior">{{ option }}</option>
								</select>
							</div>
							<div class="col-sm-6" style="margin-left: -15px;">
								<select class="form-control" name="st_depression_inferior_size">
									<option selected></option>
									<option v-for="option in st_depression_sizes" :value="option" :selected="option == estdetails.st_depression_inferior_size">{{ option }}</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6 inline-f" style="margin-left: 5px;">
							<input v-model="inferiorII" class="hidden" type="checkbox" name="st_depression_inferior_options[]" value="II">
							<input v-model="inferiorIII" class="hidden" type="checkbox" name="st_depression_inferior_options[]" value="III">
							<input v-model="inferioraVF" class="hidden" type="checkbox" name="st_depression_inferior_options[]" value="aVF">
							<input v-model="inferioraVR" class="hidden" type="checkbox" name="st_depression_inferior_options[]" value="aVR">
							<div class="btn" @click="changeColor($event,'red','Inferior','II')">II</div>
							<div class="btn" @click="changeColor($event,'red','Inferior','III')">III</div>
							<div class="btn" @click="changeColor($event,'red','Inferior','aVF')">aVF</div>
							<div class="btn" @click="changeColor($event,'violet','Inferior','aVR')">aVR</div>
						</div>
					</div>

					<div class="submodule-subtitle">Inferolateral</div>

					<div class="form-group row">
						<div class="col-sm-6 inline-f">
							<div class="col-sm-9">
								<select class="form-control" name="st_depression_inferolateral">
									<option selected disabled>Choose</option>
									<option v-for="option in st_depression_options" :value="option" :selected="option == estdetails.st_depression_inferolateral">{{ option }}</option>
								</select>
							</div>
							<div class="col-sm-6" style="margin-left: -15px;">
								<select class="form-control" name="st_depression_inferolateral_size">
									<option selected></option>
									<option v-for="option in st_depression_sizes" :value="option" :selected="option == estdetails.st_depression_inferolateral_size">{{ option }}</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6 inline-f" style="margin-left: 5px;">
						</div>
					</div>
				</div>
			</div>

			<div v-show="showTWaveChanged">
				<div>
					<div class="module-subtitle">{{ ESTHeading }}</div>

					<div class="labelopen" @click="goBack">
						<p class="boxlabel">T wave change <span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>

					<div class="submodule-subtitle">Anterior T Wave Changes</div>

					<div class="form-group row">
						<div class="col-sm-6 inline-f">
							<div class="col-sm-9">
								<select class="form-control" name="twave_change_anterior">
									<option selected disabled>Choose</option>
									<option v-for="twave_option in twave_options" :value="twave_option" :selected="twave_option == estdetails.twave_change_anterior">{{ twave_option }}</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6 inline-f" style="margin-left: 5px;">
								<input v-model="twave_anteriorV1" type="checkbox" class="hidden" name="twave_change_anterior_options[]" value="V1">
								<input v-model="twave_anteriorV2" type="checkbox" class="hidden" name="twave_change_anterior_options[]" value="V2">
								<input v-model="twave_anteriorV3" type="checkbox" class="hidden" name="twave_change_anterior_options[]" value="V3">
								<input v-model="twave_anteriorV4" type="checkbox" class="hidden" name="twave_change_anterior_options[]" value="V4">
								<div class="btn" @click="changeColor2($event,'green','V1')">V1</div>
								<div class="btn" @click="changeColor2($event,'green','V2')">V2</div>
								<div class="btn" @click="changeColor2($event,'yellow','V3')">V3</div>
								<div class="btn" @click="changeColor2($event,'yellow','V4')">V4</div>
							
						</div>
					</div>

					<div class="submodule-subtitle">Lateral T Wave Changes</div>

					<div class="form-group row">
						<div class="col-sm-6 inline-f">
							<div class="col-sm-9">
								<select class="form-control" name="twave_change_lateral">
									<option selected disabled>Choose</option>
									<option v-for="twave_option in twave_options" :value="twave_option" :selected="twave_option == estdetails.twave_change_lateral">{{ twave_option }}</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6 inline-f" style="margin-left: 5px;">
								<input v-model="twave_lateralI" type="checkbox" class="hidden" name="twave_change_lateral_options[]" value="I">
								<input v-model="twave_lateralaVL" type="checkbox" class="hidden" name="twave_change_lateral_options[]" value="aVL">
								<input v-model="twave_lateralV5" type="checkbox" class="hidden" name="twave_change_lateral_options[]" value="V5">
								<input v-model="twave_lateralV6" type="checkbox" class="hidden" name="twave_change_lateral_options[]" value="V6">
								<div class="btn" @click="changeColor2($event,'blue','I')">I</div>
								<div class="btn" @click="changeColor2($event,'blue','aVL')">aVL</div>
								<div class="btn" @click="changeColor2($event,'blue','V5')">V5</div>
								<div class="btn" @click="changeColor2($event,'blue','V6')">V6</div>
							
						</div>
					</div>

					<div class="submodule-subtitle">Inferior T Wave Changes</div>

					<div class="form-group row">
						<div class="col-sm-6 inline-f">
							<div class="col-sm-9">
								<select class="form-control" name="twave_change_inferior">
									<option selected disabled>Choose</option>
									<option v-for="twave_option in twave_options" :value="twave_option" :selected="twave_option == estdetails.twave_change_inferior">{{ twave_option }}</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6 inline-f" style="margin-left: 5px;">
								<input v-model="twave_inferiorII" type="checkbox" class="hidden" name="twave_change_inferior_options[]" value="II">
								<input v-model="twave_inferiorIII" type="checkbox" class="hidden" name="twave_change_inferior_options[]" value="III">
								<input v-model="twave_inferioraVF" type="checkbox" class="hidden" name="twave_change_inferior_options[]" value="aVF">
								<input v-model="twave_inferioraVR" type="checkbox" class="hidden" name="twave_change_inferior_options[]" value="aVR">
								<div class="btn" @click="changeColor2($event,'red','II')">II</div>
								<div class="btn" @click="changeColor2($event,'red','III')">III</div>
								<div class="btn" @click="changeColor2($event,'red','aVF')">aVF</div>
								<div class="btn" @click="changeColor2($event,'violet','aVR')">aVR</div>
						</div>
					</div>

					<div class="submodule-subtitle">Inferolateral T Wave Changes</div>

					<div class="form-group row">
						<div class="col-sm-6 inline-f">
							<div class="col-sm-9">
								<select class="form-control" name="twave_change_inferolateral">
									<option selected disabled>Choose</option>
									<option v-for="twave_option in twave_options" :value="twave_option" :selected="twave_option == estdetails.twave_change_inferolateral">{{ twave_option }}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div v-show="showHypokinesis">
				<div>
					<div class="module-subtitle">{{ ESTHeading }}</div>

					<div class="labelopen" @click="goBack">
						<p class="boxlabel">Hypokinesis<span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>

					<div class="form-group row">
						<p style="padding: 15px 15px;">Hypokinesis present - see TTE tab</p>
					</div>

					<div class="submodule-subtitle">Report segment name as</div>

					<div class="form-group row">
						<div class="col-sm-12 inline-f">
							<div class="col-sm-9">
								<select class="form-control" name="hypokinesis_segment">
									<option selected disabled>Choose</option>
									<option value="segment number" :selected="'segment number' == estdetails.hypokinesis_segment">Segment number</option>
									<option value="segment name" :selected="'segment name' == estdetails.hypokinesis_segment">Segment name</option>
									<option value="region summarized" :selected="'region summarized' == estdetails.hypokinesis_segment">Region summarized</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div v-show="showHypotension">
				<div>
					<div class="module-subtitle">{{ ESTHeading }}</div>

					<div class="labelopen" @click="goBack">
						<p class="boxlabel">Hypotension<span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>

					<div class="submodule-subtitle">Hypotension during EST</div>

					<div class="form-group row">
						<div class="col-sm-3 inline-f">
							<div style="margin-left: 15px;">
							  <input class="form-control" name="hypotension_up" id="Duration" type="number" step="1" style="width: 70px;" min="40" max="120" :value="estdetails.hypotension_up">
							</div>
						</div>
						<div class="col-sm-3 inline-f">
							<div style="margin-right: 9px; text-align: center;">
							  <input class="form-control" name="hypotension_down" type="number" step="1" style="width: 70px;" min="20" max="90" :value="estdetails.hypotension_down">
							</div>
						</div>
					</div>
				</div>
			</div>

		</form>
	</div>

</template>

<script>
	
	import Pusher from 'pusher-js';
	import axios from 'axios';
	import Constant,{ constant } from '../Constant';
    export default {
    	props: ['estdetails'],
    	components: {
		   //
		},
        data(){
	        return {
	        	showSTDepression: false,
	        	showTWaveChanged: false,
	        	showHypokinesis: false,
	        	showHypotension: false,
	        	showEST: true,
	        	ESTHeading: 'Stress Test Result',
	        	ESTlists: [
		        	{
		        		name: 'ST Depression'
		        	}, 
		        	{
		        		name: 'T wave Change'
		        	}, 
		        	{
		        		name: 'Hypokinesis'
		        	}, 
		        	{
		        		name: 'Hypotension'
		        	}
	        	],
	        	stressTest: ['Positive', 'Negative', 'Equivocal', 'Not performed'],
	        	hasClick: false,
	        	white: 'white',
	        	selectedComplaint: [],
	        	st_depression_options: ['normal', 'slowly upsloping', 'horizontal', 'quickly upsloping'],
	        	st_depression_sizes: ['0.5mm', '1mm', '2mm', '3mm', '4mm'],
	        	anterior: [],
	        	lateral: [],
	        	inferior: [],
	        	inferolateral: [],
	        	newAnterior: [],
				lateralI: false,
				lateralaVL: false,
				lateralV5: false,
				lateralV6: false,
				anteriorVI: false,
				anteriorV2: false,
				anteriorV3: false,
				anteriorV4: false,
				inferiorII: false,
				inferiorIII: false,
				inferioraVF: false,
				inferioraVR: false,

				twave_lateralI: false,
				twave_lateralaVL: false,
				twave_lateralV5: false,
				twave_lateralV6: false,
				twave_anteriorV1: false,
				twave_anteriorV2: false,
				twave_anteriorV3: false,
				twave_anteriorV4: false,
				twave_inferiorII: false,
				twave_inferiorIII: false,
				twave_inferioraVF: false,
				twave_inferioraVR: false,
				twave_options: ['normal','T wave flattening','T wave inversion'],
				userid: this.$route.params.letterid,
	        }
	    },
		watch: {
			// whenever question changes, this function will run
			anterior: function (newQuestion, oldQuestion) {
				this.newAnterior = [...new Set(this.anterior)]
			}
		},
	    methods: {
	    	goBack() {
	    		this.showEST = true;
	    		this.hideAll();
	    	},
			openComplaint(event, name) {
		        if (this.$refs[name].checked) {
		        	if (name == 'ST Depression') {
		        		this.showSTDepression = true;
		        		this.showEST = false;
		        	} else if (name == 'T wave Change') {
		        		this.showTWaveChanged = true;
		        		this.showEST = false;
		        	} else if (name == 'Hypokinesis') {
		        		this.showHypokinesis = true;
		        		this.showEST = false;
		        	} else if (name == 'Hypotension') {
		        		this.showHypotension = true;
		        		this.showEST = false;
		        	}
		        } else {
		        	this.selectedComplaint.splice(this.selectedComplaint.indexOf(name), 1);
		        	//this.$emit('complaint', this.selectedComplaint);
		        }
		    },
	    	hideAll() {
	    		//this.showEST = true;
	    		this.showSTDepression = false;
	    		this.showTWaveChanged = false;
	    		this.showHypokinesis = false;
	    		this.showHypotension = false;
	    	},
	    	changeColor(event, color, group, val) {

		        if (val == 'I')
		        	this.lateralI = !this.lateralI 
		        if (val == 'aVL')
		        	this.lateralaVL = !this.lateralaVL 
		        if (val == 'V5')
		        	this.lateralV5 = !this.lateralV5 
		        if (val == 'V6')
		        	this.lateralV6 = !this.lateralV6

		        if (val == 'V1')
		        	this.anteriorVI = !this.anteriorVI
		        if (val == 'V2')
		        	this.anteriorV2 = !this.anteriorV2
		        if (val == 'V3')
		        	this.anteriorV3 = !this.anteriorV3
		        if (val == 'V4')
		        	this.anteriorV4 = !this.anteriorV4

		        if (val == 'II')
		        	this.inferiorII = !this.inferiorII
		        if (val == 'III')
		        	this.inferiorIII = !this.inferiorIII
		        if (val == 'aVF')
		        	this.inferioraVF = !this.inferioraVF
		        if (val == 'aVR')
		        	this.inferioraVR = !this.inferioraVR
		        
	    		event.currentTarget.classList.toggle(color);
	    	},
	    	changeColor2(event, color, val) {

		        if (val == 'I')
		        	this.twave_lateralI = !this.twave_lateralI 
		        if (val == 'aVL')
		        	this.twave_lateralaVL = !this.twave_lateralaVL 
		        if (val == 'V5')
		        	this.twave_lateralV5 = !this.twave_lateralV5 
		        if (val == 'V6')
		        	this.twave_lateralV6 = !this.twave_lateralV6

		        if (val == 'V1')
		        	this.twave_anteriorV1 = !this.twave_anteriorV1
		        if (val == 'V2')
		        	this.twave_anteriorV2 = !this.twave_anteriorV2
		        if (val == 'V3')
		        	this.twave_anteriorV3 = !this.twave_anteriorV3
		        if (val == 'V4')
		        	this.twave_anteriorV4 = !this.twave_anteriorV4

		        if (val == 'II')
		        	this.twave_inferiorII = !this.twave_inferiorII
		        if (val == 'III')
		        	this.twave_inferiorIII = !this.twave_inferiorIII
		        if (val == 'aVF')
		        	this.twave_inferioraVF = !this.twave_inferioraVF
		        if (val == 'aVR')
		        	this.twave_inferioraVR = !this.twave_inferioraVR
		        
	    		event.currentTarget.classList.toggle(color);

	    	},
			saveEST() {
				const form = new FormData(document.getElementById("est-details"));
				axios.post(constant.saveEstUrl+this.userid, form, {
				    headers: constant.headers(this.$cookie.get('access_token')),
				}).then(response => {
					const data = response.data;
					this.$emit('est', data);
				}).catch(err => {
					//
				});
			},
	    },
	    mounted() {
	    	//
	    }
  }	


</script>
<style type="text/css">
	.btn {
		background: #FFFFFF;
		border: 1px solid #E1CEB0;
		box-sizing: border-box;
		width: 40px;
		height: 40px;
		margin: 0 1px;
		border-radius: 0px;
		display: flex;
		justify-content: center;
	}
	.btn:hover {
		opacity: 0.6;
	}
	.green {
		background-color: green;
	}
	.yellow {
		background-color: yellow;
	}
	.blue {
		background-color: blue;
		color: white;
	}
	.violet {
		background-color: violet;
	}
	.red {
		background-color: red;
		color: white;
	}
	p {
		font-family: Heebo;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 200%;

	}
	.boxlabel {
		cursor: pointer
	}
	.hidden {
		display: none;
	}
</style>