<template>
	
	<div>
		
		<div>
			
			<div class="module-subtitle">Resting</div>
			<form @change="saveExam()" id="exam-details">
				<div class="form-group row">
					<div class="col-sm-6 inline-f">
						<label for="BP" class="col-sm-4 col-form-label">BP</label>
						<div class="col-sm-7" style="margin-left: -30px;">
						  <input class="form-control" id="BP" name="bp_over" type="number" min="60" max="280" step="any" :value="patientdetails.bp_over">
						</div>
						<div class="col-sm-2 divide">
							<p>/</p>
						</div>
					</div>
					<div class="col-sm-3 inline-f" style="margin-left: -50px;">
						  <input class="form-control" type="number" step="any" min="20" max="160" name="bp_under" :value="patientdetails.bp_under">
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-6 inline-f">
						<label for="PR" class="col-sm-4 col-form-label">PR</label>
						<div class="col-sm-7" style="margin-left: -30px;">
						  <input class="form-control" id="PR" name="pr_over" max="200" min="20" type="number" step="any" :value="patientdetails.pr_over">
						</div>
						<div class="col-sm-2 divide">
							<p>/</p>
						</div>
					</div>
					<div class="col-sm-6 inline-f" style="margin-left: -50px;">
						<select class="custom-select" name="pr_under">
							<option selected disabled >Select</option>
							<option v-for="pr in prs" v-bind:value="pr" :selected="pr == patientdetails.pr_under">{{ pr }}</option>
						</select>
					</div>
				</div>

			    <div class="custom-control custom-checkbox">
					<input @change="openExertional($event)" type="checkbox" class="custom-control-input custombox" id="exertionalCheck1" name="exertional_" :value="isCheck" :checked="patientdetails.exertional_ == 1 ? true : false">
					<label class="custom-control-label boxlabel" for="exertionalCheck1"></label> 
					<p class="boxlabel" style="margin-left: 10px;">Exertional</p>
			    </div>

				<div class="form-group row">
					<div class="col-sm-6 inline-f">
						<label for="EBP" class="col-sm-4 col-form-label">BP</label>
						<div class="col-sm-7" style="margin-left: -30px;">
						  <input class="form-control" id="EBP" name="exertional_bp_over" type="number" step="any" :disabled="validated" :value="patientdetails.exertional_bp_over">
						</div>
						<div class="col-sm-2 divide">
							<p>/</p>
						</div>
					</div>
					<div class="col-sm-3 inline-f" style="margin-left: -50px;">
						  <input class="form-control" type="number" step="any" :disabled="validated" name="exertional_bp_under" :value="patientdetails.exertional_bp_under">
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-6 inline-f">
						<label for="EPR" class="col-sm-4 col-form-label">PR</label>
						<div class="col-sm-7" style="margin-left: -30px;">
						  <input class="form-control" id="EPR" name="exertional_pr_over" type="number" step="any" :disabled="validated" :value="patientdetails.exertional_pr_over">
						</div>
						<div class="col-sm-2 divide">
							<p>/</p>
						</div>
					</div>
					<div class="col-sm-6 inline-f" style="margin-left: -50px;">
						<select class="custom-select" name="exertional_pr_under" :disabled="validated">
							<option selected disabled>Select</option>
							<option v-for="pr in prs" v-bind:value="pr" :selected="pr == patientdetails.exertional_pr_under">{{ pr }}</option>
						</select>
					</div>
				</div>

				<div class="module-subtitle">Chest sounds</div>

				<div class="col-sm-12 col-md-6" style="display: inline-block; margin-left: -10px;"><img <img :src="baseurl + chest"></div>
				<div class="col-sm-12 col-md-6" style="display: inline-block;">

					<ul id="chest-sounds">
						<li>
						    <div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input custombox" id="Wheeze" name="wheeze" value="Wheeze" :checked="patientdetails.wheeze == 'wheeze' ? true : false">
								<label class="custom-control-label boxlabel" for="Wheeze">Wheeze</label> 
						    </div>
						</li>
						<li>
						    <div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input custombox" id="Crackles" name="crackles" value="Crackles" :checked="patientdetails.crackles == 'crackles' ? true : false">
								<label class="custom-control-label boxlabel" for="Crackles">Crackles</label> 
						    </div>
						</li>
						<li>
						    <div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input custombox" id="Ronchi" name="ronchi" value="Ronchi" :checked="patientdetails.ronchi == 'ronchi' ? true : false">
								<label class="custom-control-label boxlabel" for="Ronchi">Ronchi</label> 
						    </div>
						</li>
						<li>
						    <div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input custombox" id="Reduced air entry" name="reduced_air_entry" value="reduced air entry" :checked="patientdetails.reduced_air_entry == 'reduced air entry' ? true : false">
								<label class="custom-control-label boxlabel" for="Reduced air entry">Reduced air entry</label>
						    </div>
						</li>
					</ul>

				</div>
				<div class="form-group" style="margin-top: 10px">
					<textarea class="form-control" rows="4" v-model="message"></textarea>
				</div>
			</form>
		</div>

	</div>

</template>
<script>
	import Pusher from 'pusher-js';
	import axios from 'axios';
	import Constant,{ constant } from '../Constant';
	export default {
		props: ['patientdetails'],
	    data () {
	      	return {	        	
	      		baseurl: document.querySelector('meta[name="base-url"]').getAttribute('content'),
		        chest: "/images/chest.png", 
		        validated: true,
		        prs: constant.prs,
		        isCheck: 0,
		        message: ''
	      	}
	    },
	    mounted() {
	    	//
	    },
	    methods: {
	        saveExam() {
		      const form = new FormData(document.getElementById("exam-details"));
		      axios.post(constant.saveExam, form, {
		              headers: constant.headers(this.$cookie.get('access_token')),
		          }).then(response => {
						const data = response.data;
						// let chests = [];
						// this.saveChestArrays(data);
						// this.$emit('exam', data);
		          }).catch(err => {
		          });
	        },
		    openExertional(event) {
		    	if (event.target.checked) {
		    		this.validated = false;
		    		this.isCheck = 1;
		    	} else {
		    		this.validated = true;
		    		this.isCheck = 0;
		    		// this.patientdetails.exertional_bp_over = '';
		    		// this.patientdetails.exertional_bp_under = '';
		    		// this.patientdetails.exertional_pr_over = '';
		    		// this.patientdetails.exertional_pr_under = '';
		    	}
		    },
	       	saveChestArrays(data) {
	       		let chests = [];
		    	chests.push(data.wheeze);
		    	chests.push(data.crackles);
		    	chests.push(data.ronchi);
		    	chests.push(data.reduced_air_entry);

				var filtered = chests.filter(function (el) {
				  return el;
				});

				this.pushMessage(filtered);
	       	},
			pushMessage(filtered) {
				if (filtered.length > 1) {
					var lastarray = filtered[filtered.length - 1];
					filtered.pop();
					filtered.push('and '+lastarray);
					var lungs_string = filtered.join(', ');
					this.message = lungs_string;
				} else {
					this.message = filtered.toString();
				}
			}
	    }
	}

</script>
<style>
	#chest-sounds .custom-control-label {
		padding-top: 8px;
	}
</style>