<template>

	<div id="HxComponent">
		<form @change="saveHx()" id="hx-details">
			<div v-show="showComplaints">
				<div class="module-subtitle">Presenting Complaint</div>
				<ul>
					<li v-for="complaint in complaints">
					    <div class="custom-control custom-checkbox">
							<input :ref="complaint.name" type="checkbox" class="custom-control-input custombox" :id="complaint.name" name="sel_complaints[]" :value="complaint.name" :checked="hxdetails.hx != null && hxdetails.hx.sel_complaints.includes(complaint.name)">
							<label class="custom-control-label boxlabel" :for="complaint.name"></label> 
							<p @click="openComplaint($event, complaint.name)" class="boxlabel" style="margin-left: 10px;">{{ complaint.name }} <span><i class="material-icons">keyboard_arrow_right</i></span></p>
					    </div>
					</li>
				</ul>
			</div>
			<div v-show="showChestPain">
					<div>
						
						<div class="module-subtitle">{{ complaintname }}</div>

						<div class="labelopen" @click="goBack">
							<p class="boxlabel">Chest Pain <span><i class="material-icons">keyboard_arrow_left</i></span></p>
						</div>

						<div class="submodule-subtitle">Chest Pain History</div>

						<div class="row">
							<div class="col-sm-4">
								<div class="form-check">
								  <input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_history" id="chestpain_history1" value="Exertional" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_history == 'Exertional'">
								  <label class="form-check-label custom-control-label radiolabel" for="chestpain_history1">Exertional</label>
								</div>
								<div class="form-check">
								  <input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_history" id="chestpain_history2" value="Non-exertional" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_history == 'Non-exertional'">
								  <label class="form-check-label custom-control-label radiolabel" for="chestpain_history2">Non-exertional</label>
								</div>
								<div class="form-check">
								  <input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_history" id="chestpain_history3" value="Resting" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_history == 'Resting'">
								  <label class="form-check-label custom-control-label radiolabel" for="chestpain_history3">Resting</label>
								</div>
							</div>
						  <div class="col-sm-4">
							<div class="col-sm-4">
								<div class="form-check">
								  <input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_position" id="chestpain_position1" value="Left-sided" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_position == 'Left-sided'">
								  <label class="form-check-label custom-control-label radiolabel" for="chestpain_position1">Left-sided</label>
								</div>
								<div class="form-check">
								  <input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_position" id="chestpain_position2" value="Right-sided" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_position == 'Right-sided'">
								  <label class="form-check-label custom-control-label radiolabel" for="chestpain_position2">Right-sided</label>
								</div>
								<div class="form-check">
								  <input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_position" id="chestpain_position3" value="Central" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_position == 'Central'">
								  <label class="form-check-label custom-control-label radiolabel" for="chestpain_position3">Central</label>
								</div>
								<div class="form-check">
								  <input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_position" id="chestpain_position4" value="Epigastric" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_position == 'Epigastric'">
								  <label class="form-check-label custom-control-label radiolabel" for="chestpain_position4">Epigastric</label>
								</div>
							</div>
						</div>
						  <div class="col-sm-4">
							<div class="col-sm-4">
								<div class="form-check">
								  <input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_status" id="Epigastric" value="Epigastric" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_status == 'Epigastric'">
								  <label class="form-check-label custom-control-label radiolabel" for="Epigastric">
								    Epigastric
								  </label>
								</div>
								<div class="form-check">
								  <input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_status" id="Sharp" value="Sharp" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_status == 'Sharp'">
								  <label class="form-check-label custom-control-label radiolabel" for="Sharp">
								    Sharp
								  </label>
								</div>
								<div class="form-check">
								  <input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_status" id="Pressure-like" value="Pressure-like" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_status == 'Pressure-like'">
								  <label class="form-check-label custom-control-label radiolabel" for="Pressure-like">
								    Pressure-like
								  </label>
								</div>
								<div class="form-check">
								  <input class="form-check-input custom-control-input customradio" type="radio" name="chestpain_status" id="Stabbing" value="Stabbing" :checked="hxdetails.chestpain != null && hxdetails.chestpain.chestpain_status == 'Stabbing'">
								  <label class="form-check-label custom-control-label radiolabel" for="Stabbing">
								    Stabbing
								  </label>
								</div>
							</div>
						  </div>
						</div>
						<br><br>

						<div class="form-group row">
							<label for="chestpain_onset1" class="col-sm-3 col-form-label">Onset</label>
							<div class="col-sm-3 inline-f">
								<div style="margin-left: -20px; text-align: center;">
								  <input class="form-control" id="chestpain_onset1" type="number" name="chestpain_onset" step="any" style="width: 70px;" :value="hxdetails.chestpain != null ? hxdetails.chestpain.chestpain_onset : ''">
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="chestpain_duration1" class="col-sm-3 col-form-label">Duration</label>
							<div class="col-sm-3 inline-f">
								<div style="margin-left: -20px; text-align: center;">
								  <input class="form-control" id="chestpain_duration1" type="number" name="chestpain_duration" step="any" style="width: 70px;" :value="hxdetails.chestpain != null ? hxdetails.chestpain.chestpain_duration : ''">
								</div>
							</div>
						</div>

						<div v-show="associated">
							<div class="form-group">
							    <div class="custom-control custom-checkbox">
									<input @click="checkAssociated($event, 'Chest Pain')" type="checkbox" class="custom-control-input custombox" id="associated" name="example1">
									<label class="custom-control-label boxlabel" for="associated"></label> 
									<p class="boxlabel" style="margin-left: 10px; text-transform: uppercase; font-weight: bold; border-bottom: 0px">With associated symptoms</p>
							    </div>
							</div>

							<!-- hx component -->
							<div id="HxComponent" v-show="showChestPainAssociatedSymptoms">
								<ul>
									<li v-for="complaint in complaints">
									    <div class="custom-control custom-checkbox" :class="complaint.status">
											<input @click="associateSymptoms($event, complaint.name, 'Chest Pain')" :disabled="complaint.status == 'disabled'" type="checkbox" class="custom-control-input custombox" :id="complaint.name + 1" name="complaint">
											<label class="custom-control-label boxlabel" :for="complaint.name + 1"></label> 
											<p class="boxlabel" style="margin-left: 10px;">{{ complaint.name }} <span><i class="material-icons">keyboard_arrow_right</i></span></p>
									    </div>
									</li>
								</ul>
							</div>
						</div>

					</div>
			</div>

			<div v-show="showSOBOE">
				<div>
					
					<div class="module-subtitle">{{ complaintname }}</div>

					<div class="labelopen" @click="goBack">
						<p class="boxlabel">SOBOE <span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>

					<div class="submodule-subtitle">Dyspnoea History</div>

					<div class="row">
						<div class="col-sm-6">
							<div class="form-check">
							  <input class="form-check-input custom-control-input customradio" type="radio" name="soboe_exertion" id="soboe1" value="Minimal exertion" :checked="hxdetails.soboe != null && hxdetails.soboe.soboe_exertion == 'Minimal exertion'">
							  <label class="form-check-label custom-control-label radiolabel" for="soboe1">Minimal exertion</label>
							</div>
							<div class="form-check">
							  <input class="form-check-input custom-control-input customradio" type="radio" name="soboe_exertion" id="soboe2" value="Min-Mod exertion" :checked="hxdetails.soboe != null && hxdetails.soboe.soboe_exertion == 'Min-Mod exertion'">
							  <label class="form-check-label custom-control-label radiolabel" for="soboe2">Min-Mod exertion</label>
							</div>
							<div class="form-check">
							  <input class="form-check-input custom-control-input customradio" type="radio" name="soboe_exertion" id="soboe3" value="Moderate exertion" :checked="hxdetails.soboe != null && hxdetails.soboe.soboe_exertion == 'Moderate exertion'">
							  <label class="form-check-label custom-control-label radiolabel" for="soboe3">Moderate exertion</label>
							</div>
						</div>
					  <div class="col-sm-6">
							<div class="form-check">
							  <input class="form-check-input custom-control-input customradio" type="radio" name="soboe_condition" id="soboe4" value="Stable" :checked="hxdetails.soboe != null && hxdetails.soboe.soboe_condition == 'Stable'">
							  <label class="form-check-label custom-control-label radiolabel" for="soboe4">Stable</label>
							</div>
							<div class="form-check">
							  <input class="form-check-input custom-control-input customradio" type="radio" name="soboe_condition" id="soboe5" value="Gradually worsening" :checked="hxdetails.soboe != null && hxdetails.soboe.soboe_condition == 'Gradually worsening'">
							  <label class="form-check-label custom-control-label radiolabel" for="soboe5">Gradually worsening</label>
							</div>
							<div class="form-check">
							  <input class="form-check-input custom-control-input customradio" type="radio" name="soboe_condition" id="soboe6" value="Acutely worsening" :checked="hxdetails.soboe != null && hxdetails.soboe.soboe_condition == 'Acutely worsening'">
							  <label class="form-check-label custom-control-label radiolabel" for="soboe6">Acutely worsening</label>
							</div>
						</div>
					</div>
					<br><br>

					<div class="form-group row">
						<label for="Onset" class="col-sm-3 col-form-label">Onset</label>
						<div class="col-sm-3 inline-f">
							<div style="margin-left: -20px; text-align: center;">
							  <input class="form-control" id="Onset" type="number" name="soboe_onset" step="any" style="width: 70px;" :value="hxdetails.soboe != null ? hxdetails.soboe.soboe_onset : ''">
							</div>
						</div>
					</div>

					<div class="form-group row">
						<label for="Duration1" class="col-sm-3 col-form-label">Duration</label>
						<div class="col-sm-3 inline-f">
							<div style="margin-left: -20px; text-align: center;">
							  <input class="form-control" id="Duration1" type="number" name="soboe_duration" step="any" style="width: 70px;" :value="hxdetails.soboe != null ? hxdetails.soboe.soboe_duration : ''">
							</div>
						</div>
					</div>

					<div v-show="associated">
						<div class="form-group">
						    <div class="custom-control custom-checkbox">
								<input @click="checkAssociated($event, 'SOBOE')" type="checkbox" class="custom-control-input custombox" id="associated2" name="example1">
								<label class="custom-control-label boxlabel" for="associated2"></label> 
								<p class="boxlabel" style="margin-left: 10px; text-transform: uppercase; font-weight: bold; border-bottom: 0px">With associated symptoms</p>
						    </div>
						</div>

						<!-- hx component -->
						<div id="HxComponent" v-show="showSOBOEAssociatedSymptoms">
							<ul>
								<li v-for="complaint in complaints">
								    <div class="custom-control custom-checkbox" :class="complaint.status">
										<input @click="associateSymptoms($event, complaint.name, 'SOBOE')" :disabled="complaint.status == 'disabled'" type="checkbox" class="custom-control-input custombox" :id="complaint.name + 2" name="complaint">
										<label class="custom-control-label boxlabel" :for="complaint.name + 2"></label> 
										<p class="boxlabel" style="margin-left: 10px;">{{ complaint.name }} <span><i class="material-icons">keyboard_arrow_right</i></span></p>
								    </div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div v-show="showOrthopnoea">
				<div>
					
					<div class="module-subtitle">{{ complaintname }}</div>

					<div class="labelopen" @click="goBack">
						<p class="boxlabel">Orthopnoea <span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>

					<div class="submodule-subtitle">Orthopnoea History</div>

					<div class="row">
						<div class="col-sm-12">
							<div class="form-check">
							  <input class="form-check-input custom-control-input customradio" type="radio" name="exampleRadios" id="Orthopnoea1" value="option1">
							  <label class="form-check-label custom-control-label radiolabel" for="Orthopnoea1">
							    2 pillows
							  </label>
							</div>
							<div class="form-check">
							  <input class="form-check-input custom-control-input customradio" type="radio" name="exampleRadios" id="Orthopnoea2" value="option2">
							  <label class="form-check-label custom-control-label radiolabel" for="Orthopnoea2">
							    3 pillows
							  </label>
							</div>
							<div class="form-check">
							  <input class="form-check-input custom-control-input customradio" type="radio" name="exampleRadios" id="Orthopnoea3" value="option3">
							  <label class="form-check-label custom-control-label radiolabel" for="Orthopnoea3">
							    4 pillows
							  </label>
							</div>
							<div class="form-check">
							  <input class="form-check-input custom-control-input customradio" type="radio" name="exampleRadios" id="Orthopnoea4" value="option3">
							  <label class="form-check-label custom-control-label radiolabel" for="Orthopnoea4">
							    sit upright
							  </label>
							</div>
						</div>
					</div>
					<br><br>

					<div class="form-group row">
						<label for="Onset" class="col-sm-3 col-form-label">Onset</label>
						<div class="col-sm-3 inline-f">
							<div style="margin-left: -20px; text-align: center;">
							  <input class="form-control" id="Onset" type="number" step="any" style="width: 70px;">
							</div>
						</div>
						<div class="col-sm-6 inline-f" style="margin-left: -50px;">
							<div class="col-sm-9" style="margin-left: -10px; width: 100px;">
								<select class="form-control" id="sex">
									<option selected disabled>Select</option>
									<option value="1">Option 1</option>
									<option value="2">Option 2</option>
								</select>
							</div>
						</div>
					</div>

					<div v-show="associated">
						<div class="form-group">
						    <div class="custom-control custom-checkbox">
								<input @click="checkAssociated($event, 'Orthopnoea')" type="checkbox" class="custom-control-input custombox" id="associated3" name="example1">
								<label class="custom-control-label boxlabel" for="associated3"></label> 
								<p class="boxlabel" style="margin-left: 10px; text-transform: uppercase; font-weight: bold; border-bottom: 0px">With associated symptoms</p>
						    </div>
						</div>

						<!-- hx component -->
						<div id="HxComponent" v-show="showOrthopnoeaAssociatedSymptoms">
							<ul>
								<li v-for="complaint in complaints">
								    <div class="custom-control custom-checkbox" :class="complaint.status">
										<input @click="associateSymptoms($event, complaint.name, 'Orthopnoea')" :disabled="complaint.status == 'disabled'" type="checkbox" class="custom-control-input custombox" :id="complaint.name + 3" name="complaint">
										<label class="custom-control-label boxlabel" :for="complaint.name + 3"></label> 
										<p class="boxlabel" style="margin-left: 10px;">{{ complaint.name }} <span><i class="material-icons">keyboard_arrow_right</i></span></p>
								    </div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div v-show="showPND">
				<div>
					
					<div class="module-subtitle">{{ complaintname }}</div>

					<div class="labelopen" @click="goBack">
						<p class="boxlabel">PND <span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>

					<div class="submodule-subtitle">PND History</div>

					<div class="form-group row">
						<label for="Onset" class="col-sm-3 col-form-label">Onset</label>
						<div class="col-sm-3 inline-f">
							<div style="margin-left: -20px; text-align: center;">
							  <input class="form-control" id="Onset" type="number" step="any" style="width: 70px;">
							</div>
						</div>
						<div class="col-sm-6 inline-f" style="margin-left: -50px;">
							<div class="col-sm-9" style="margin-left: -10px; width: 100px;">
								<select class="form-control" id="sex">
									<option selected disabled>Select</option>
									<option value="1">Option 1</option>
									<option value="2">Option 2</option>
								</select>
							</div>
						</div>
					</div>

					<div v-show="associated">
						<div class="form-group">
						    <div class="custom-control custom-checkbox">
								<input @click="checkAssociated($event, 'PND')" type="checkbox" class="custom-control-input custombox" id="associated4" name="example1">
								<label class="custom-control-label boxlabel" for="associated4"></label> 
								<p class="boxlabel" style="margin-left: 10px; text-transform: uppercase; font-weight: bold; border-bottom: 0px">With associated symptoms</p>
						    </div>
						</div>

						<!-- hx component -->
						<div id="HxComponent" v-show="showPNDAssociatedSymptoms">
							<ul>
								<li v-for="complaint in complaints">
								    <div class="custom-control custom-checkbox" :class="complaint.status">
										<input @click="associateSymptoms($event, complaint.name, 'PND')" :disabled="complaint.status == 'disabled'" type="checkbox" class="custom-control-input custombox" :id="complaint.name + 4" name="complaint">
										<label class="custom-control-label boxlabel" :for="complaint.name + 4"></label> 
										<p class="boxlabel" style="margin-left: 10px;">{{ complaint.name }} <span><i class="material-icons">keyboard_arrow_right</i></span></p>
								    </div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div v-show="showPalpitations">
				<div>
					
					<div class="module-subtitle">{{ complaintname }}</div>

					<div class="labelopen" @click="goBack">
						<p class="boxlabel">Palpitations <span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>

					<div class="submodule-subtitle">Palpitations History</div>

					<div class="form-group row">
						<label for="Onset" class="col-sm-3 col-form-label">Onset</label>
						<div class="col-sm-3 inline-f">
							<div style="margin-left: -20px; text-align: center;">
							  <input class="form-control" id="Onset" type="number" step="any" style="width: 70px;">
							</div>
						</div>
						<div class="col-sm-6 inline-f" style="margin-left: -50px;">
							<div class="col-sm-9" style="margin-left: -10px; width: 100px;">
								<select class="form-control" id="sex">
									<option selected disabled>Select</option>
									<option value="1">Option 1</option>
									<option value="2">Option 2</option>
								</select>
							</div>
						</div>
					</div>

					<div class="form-group row" style="align-items: center;">
						<label for="Onset" class="col-sm-3 col-form-label">Episode Duration</label>
						<div class="col-sm-3 inline-f">
							<div style="margin-left: -20px; text-align: center;">
							  <input class="form-control" id="Onset" type="number" step="any" style="width: 70px;">
							</div>
						</div>
						<div class="col-sm-6 inline-f" style="margin-left: -50px;">
							<div class="col-sm-9" style="margin-left: -10px; width: 100px;">
								<select class="form-control" id="sex">
									<option selected disabled>Select</option>
									<option value="1">Option 1</option>
									<option value="2">Option 2</option>
								</select>
							</div>
						</div>
					</div>

					<div v-show="associated">
						<div class="form-group">
						    <div class="custom-control custom-checkbox">
								<input @click="checkAssociated($event, 'Palpitations')" type="checkbox" class="custom-control-input custombox" id="associated5" name="example1">
								<label class="custom-control-label boxlabel" for="associated5"></label> 
								<p class="boxlabel" style="margin-left: 10px; text-transform: uppercase; font-weight: bold; border-bottom: 0px">With associated symptoms</p>
						    </div>
						</div>

						<!-- hx component -->
						<div id="HxComponent" v-show="showPalpitationsAssociatedSymptoms">
							<ul>
								<li v-for="complaint in complaints">
								    <div class="custom-control custom-checkbox" :class="complaint.status">
										<input @click="associateSymptoms($event, complaint.name, 'Palpitations')" :disabled="complaint.status == 'disabled'" type="checkbox" class="custom-control-input custombox" :id="complaint.name + 5" name="complaint">
										<label class="custom-control-label boxlabel" :for="complaint.name + 5"></label> 
										<p class="boxlabel" style="margin-left: 10px;">{{ complaint.name }} <span><i class="material-icons">keyboard_arrow_right</i></span></p>
								    </div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div v-show="showPresyncope">
				<div>
					
					<div class="module-subtitle">{{ complaintname }}</div>

					<div class="labelopen" @click="goBack">
						<p class="boxlabel">Pre-syncope <span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>

					<div class="submodule-subtitle">Pre-syncope History</div>

					<div class="form-group row">
						<label for="Onset" class="col-sm-3 col-form-label">Onset</label>
						<div class="col-sm-3 inline-f">
							<div style="margin-left: -20px; text-align: center;">
							  <input class="form-control" id="Onset" type="number" step="any" style="width: 70px;">
							</div>
						</div>
						<div class="col-sm-6 inline-f" style="margin-left: -50px;">
							<div class="col-sm-9" style="margin-left: -10px; width: 100px;">
								<select class="form-control" id="sex">
									<option selected disabled>Select</option>
									<option value="1">Option 1</option>
									<option value="2">Option 2</option>
								</select>
							</div>
						</div>
					</div>

					<div v-show="associated">
						<div class="form-group">
						    <div class="custom-control custom-checkbox">
								<input @click="checkAssociated($event, 'Pre-syncope')" type="checkbox" class="custom-control-input custombox" id="associated6" name="example1">
								<label class="custom-control-label boxlabel" for="associated6"></label> 
								<p class="boxlabel" style="margin-left: 10px; text-transform: uppercase; font-weight: bold; border-bottom: 0px">With associated symptoms</p>
						    </div>
						</div>

						<!-- hx component -->
						<div id="HxComponent" v-show="showPresyncopeAssociatedSymptoms">
							<ul>
								<li v-for="complaint in complaints">
								    <div class="custom-control custom-checkbox" :class="complaint.status">
										<input @click="associateSymptoms($event, complaint.name, 'Pre-syncope')" :disabled="complaint.status == 'disabled'" type="checkbox" class="custom-control-input custombox" :id="complaint.name + 6" name="complaint">
										<label class="custom-control-label boxlabel" :for="complaint.name + 6"></label> 
										<p class="boxlabel" style="margin-left: 10px;">{{ complaint.name }} <span><i class="material-icons">keyboard_arrow_right</i></span></p>
								    </div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div v-show="showSyncope">
				<div>
					
					<div class="module-subtitle">{{ complaintname }}</div>

					<div class="labelopen" @click="goBack">
						<p class="boxlabel">Syncope <span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>

					<div class="submodule-subtitle">Syncope History</div>

					<div class="form-group row">
						<label for="Onset" class="col-sm-3 col-form-label">Onset</label>
						<div class="col-sm-3 inline-f">
							<div style="margin-left: -20px; text-align: center;">
							  <input class="form-control" id="Onset" type="number" step="any" style="width: 70px;">
							</div>
						</div>
						<div class="col-sm-6 inline-f" style="margin-left: -50px;">
							<div class="col-sm-9" style="margin-left: -10px; width: 100px;">
								<select class="form-control" id="sex">
									<option selected disabled>Select</option>
									<option value="1">Option 1</option>
									<option value="2">Option 2</option>
								</select>
							</div>
						</div>
					</div>

					<div v-show="associated">
						<div class="form-group">
						    <div class="custom-control custom-checkbox">
								<input @click="checkAssociated($event, 'Syncope')" type="checkbox" class="custom-control-input custombox" id="associated7" name="example1">
								<label class="custom-control-label boxlabel" for="associated7"></label> 
								<p class="boxlabel" style="margin-left: 10px; text-transform: uppercase; font-weight: bold; border-bottom: 0px">With associated symptoms</p>
						    </div>
						</div>

						<!-- hx component -->
						<div id="HxComponent" v-show="showSyncopeAssociatedSymptoms">
							<ul>
								<li v-for="complaint in complaints">
								    <div class="custom-control custom-checkbox" :class="complaint.status">
										<input @click="associateSymptoms($event, complaint.name, 'Syncope')" :disabled="complaint.status == 'disabled'" type="checkbox" class="custom-control-input custombox" :id="complaint.name + 7" name="complaint">
										<label class="custom-control-label boxlabel" :for="complaint.name + 7"></label> 
										<p class="boxlabel" style="margin-left: 10px;">{{ complaint.name }} <span><i class="material-icons">keyboard_arrow_right</i></span></p>
								    </div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>
		<ChestPain @back="_chestPain" :hxdetails="hxdetails" :isOpen="openChestPain"></ChestPain>
		<Soboe @back="_soboe" :hxdetails="hxdetails" :isOpen="openSoboe"></Soboe>
	</div>
	
</template>
<script>
	import Pusher from 'pusher-js';
	import axios from 'axios';
	import Constant,{ constant } from '../Constant';
	import ChestPain from './Hx/ChestPain';
	import Soboe from './Hx/Soboe';
    export default {
    	props: ['hxdetails'],
    	components: {
		   ChestPain,Soboe
		},
        data(){
	        return {
	        	openChestPain: false,
	        	openSoboe: false,
	        	complaintname: '',
	        	associated: true,
	        	showHxComponent: false,
	        	showComplaints: true,

	        	showChestPain: false,
	        	showChestPainAssociatedSymptoms: false,

	        	showSOBOE: false,
	        	showSOBOEAssociatedSymptoms: false,

	        	showOrthopnoea: false,
	        	showOrthopnoeaAssociatedSymptoms: false,

	        	showPND: false,
	        	showPNDAssociatedSymptoms: false,

	        	showPalpitations: false,
	        	showPalpitationsAssociatedSymptoms: false,

	        	showPresyncope: false,
	        	showPresyncopeAssociatedSymptoms: false,

	        	showSyncope: false,
	        	showSyncopeAssociatedSymptoms: false,

	        	complaints: [
		        	{
		        		name: 'Chest Pain',
		        		status: ''
		        	},
		        	{
		        		name: 'SOBOE',
		        		status: ''
		        	},
		        	{
		        		name: 'Orthopnoea',
		        		status: ''
		        	},
		        	{
		        		name: 'PND',
		        		status: ''
		        	},
		        	{
		        		name: 'Palpitations',
		        		status: ''
		        	},
		        	{
		        		name: 'Pre-syncope',
		        		status: ''
		        	},
		        	{
		        		name: 'Syncope',
		        		status: ''
		        	},
	        	],
	        	selectedComplaint: [],
	        }
	    },
	    methods: {
	    	saveComplaint(name) {
	    		this.selectedComplaint.push(name);
	    		//this.$emit('complaint', this.selectedComplaint);
	    	},
			openComplaint(event, name) {
		        if (this.$refs[name][0].checked) {
		        	if (name == 'SOBOE') {
						this.saveComplaint("Dyspnoea");
		        	} else if (name == 'PND') {
		        		this.saveComplaint("Paroxysmal Nocturnal Dyspnoea")
		        	} else {
		        		this.saveComplaint(name);
		        	}
		    		this.associated = true;
		    		this.complaintname = 'Presenting Complaint';
		        	if (name == 'Chest Pain') {
		        		this.showChestPain = true;
		        		this.showComplaints = false;
		        	} else if (name == 'SOBOE') {
		        		this.showSOBOE = true;
		        		this.showComplaints = false;
		        	} else if (name == 'Orthopnoea') {
		        		this.showOrthopnoea = true;
		        		this.showComplaints = false;
		        	} else if (name == 'PND') {
		        		this.showPND = true;
		        		this.showComplaints = false;
		        	} else if (name == 'Palpitations') {
		        		this.showPalpitations = true;
		        		this.showComplaints = false;
		        	} else if (name == 'Pre-syncope') {
		        		this.showPresyncope = true;
		        		this.showComplaints = false;
		        	} else if (name == 'Syncope') {
		        		this.showSyncope = true;
		        		this.showComplaints = false;
		        	}
		        	for (let i = 0; i < this.complaints.length; i++) {
		        		if (name == this.complaints[i].name) {
		        			this.complaints[i].status = 'disabled';
		        		} else {
		        			this.disableCheckbox(name);
		        		}
		        	}
		        } else {
		        	this.selectedComplaint.splice(this.selectedComplaint.indexOf(name), 1);
		        	//this.$emit('complaint', this.selectedComplaint);
		        } 
		    },
		    goBack() {
		    	this.showSOBOE = false;
	        	this.showChestPain = false;
	        	this.showOrthopnoea = false;
	        	this.showPND = false;
	        	this.showPalpitations = false;
	        	this.showPresyncope = false;
	        	this.showSyncope = false;
	        	this.showComplaints = true;
		    },
		    back() {
	        	this.showChestPain = true;
	        	this.showComplaints = false;
		    },
			checkAssociated(event, name) {
		        if (event.target.checked) {
		        	if (name == 'Chest Pain') {
		        		this.showChestPainAssociatedSymptoms = true;
		        		this.showComplaints = false;
		        	} else if (name == 'SOBOE') {
		        		this.showSOBOEAssociatedSymptoms = true;
		        		this.showComplaints = false;
		        	} else if (name == 'Orthopnoea') {
		        		this.showOrthopnoeaAssociatedSymptoms = true;
		        		this.showComplaints = false;
		        	} else if (name == 'PND') {
		        		this.showPNDAssociatedSymptoms = true;
		        		this.showComplaints = false;
		        	} else if (name == 'Palpitations') {
		        		this.showPalpitationsAssociatedSymptoms = true;
		        		this.showComplaints = false;
		        	} else if (name == 'Pre-syncope') {
		        		this.showPresyncopeAssociatedSymptoms = true;
		        		this.showComplaints = false;
		        	} else if (name == 'Syncope') {
		        		this.showSyncopeAssociatedSymptoms = true;
		        		this.showComplaints = false;
		        	}
		        } else {
	        		this.showChestPainAssociatedSymptoms = false;
	        		this.showSOBOEAssociatedSymptoms = false;
	        		this.showOrthopnoeaAssociatedSymptoms = false;
	        		this.showPNDAssociatedSymptoms = false;
	        		this.showPalpitationsAssociatedSymptoms = false;
	        		this.showSyncopeAssociatedSymptoms = false;
		        }
		    },
		    disableCheckbox(name) {
	    		for (let i = 0; i < this.complaints.length; i++) {
	        		if (name == this.complaints[i].name) {
	        			this.complaints[i].status = 'disabled';
	        		} else {
	        			this.complaints[i].status = '';
	        		}
		        }
		    },
		    associateSymptoms(event, name, parent) {
		        if (event.target.checked) {
		        	this.hideAll();
		    		this.complaintname = parent + " Associated symptom";
		        	if (name == 'Chest Pain') {
		        		this.openChestPain = true;
		        		this.showComplaints = false;
		        	} else if (name == 'SOBOE') {
		        		this.openSoboe = true;
		        		this.showComplaints = false;
		        	} 
		        	else if (name == 'Orthopnoea') {
		        		this.showOrthopnoea = true;
		        		this.showComplaints = false;
		        	} else if (name == 'PND') {
		        		this.showPND = true;
		        		this.showComplaints = false;
		        	} else if (name == 'Palpitations') {
		        		this.showPalpitations = true;
		        		this.showComplaints = false;
		        	} else if (name == 'Pre-syncope') {
		        		this.showPresyncope = true;
		        		this.showComplaints = false;
		        	} else if (name == 'Syncope') {
		        		this.showSyncope = true;
		        		this.showComplaints = false;
		        	}
		        }
		    },
		    hideAll() {
		    	this.associated = false;
	    		this.showChestPain = false;
        		this.showSOBOE = false;
        		this.showOrthopnoea = false;
        		this.showPND = false;
        		this.showPalpitations = false;
        		this.showSyncope = false;
		    },
		    saveHx() {
		    //   const form = new FormData(document.getElementById("hx-details"));
		    //   axios.post(constant.saveHxUrl, form, {
		    //           headers: constant.header,
		    //       }).then(response => {
						// const data = response.data;
						// this.$emit('hx', data);
		    //       }).catch(err => {
		    //       });
		    },
		    _chestPain() {
		        this.associated = true;
		        this.showChestPainAssociatedSymptoms = true;
		    	this.openChestPain = false;
        		this.showChestPain = true;
        		this.showComplaints = false;
		    },
		    _soboe() {
		        this.associated = true;
		        this.showSOBOEAssociatedSymptoms = true;
		    	this.openSoboe = false;
	    		this.showSOBOE = true;
	    		this.showComplaints = false;
		    }
	    },
	    mounted() {
	    	//
	    }
  }
</script>
<style type="text/css">

	.labelopen > .boxlabel {
		border-bottom: 0px !important;
	}
</style>