<template>
	<div id="meds">
		<div v-show="showMeds">
		
			<div class="form-group row">
				<label for="search" class="col-sm-3 col-form-label" style="z-index: 1">Search</label>
				<div class="col-sm-9">
					<input type="text" id="search" class="form-control" v-model="search">
				</div>
			</div>

			<div class="form-group row">
				<div class="add-new-doctor-btn" @click="$modal.show('add-med')">	
		    		Add new med
		    	</div>
			</div>

			<ul class="checkable">
				<li v-for="med in filteredList">
				    <div class="custom-control custom-checkbox" style="padding-left: 0; border-bottom: 1px solid #E1CEB0;margin-bottom: 5px;">
						<label class="custom-control-label boxlabel" style="display: none"></label> 
						<p class="boxlabel" style="margin-left: 10px; padding: 10px 0px;">{{ med.name }}<span><i class="material-icons edit" @click="openUpdateModal(med)">edit</i> <i class="material-icons delete" @click="deleteMedModal(med.id)">delete</i></span></p>

				    </div>
				</li>
			</ul>

		</div>

		<modal name="add-med" height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Add Medication</h5>
		        <button class="close" @click="$modal.hide('add-med')">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
				<form method="post" id="add-med" @submit="addMed($event)">

				  <div class="form-group">
				    <label for="med_name">Name</label>
				    <input type="text" class="form-control"  name="name" id="med_name" placeholder="" required>
				  </div>
				  <div class="form-group">
				    <label for="med_type">Type</label>
				    <input type="text" class="form-control"  name="type" id="med_type" placeholder="" required>
				  </div>
				  <div class="form-group">
				    <label for="med_class">Class</label>
				    <input type="text" class="form-control"  name="class" id="med_class" placeholder="" required>
				  </div>
				  <div class="form-group">
				    <label for="med_dose">Doses</label>
				    <input type="text" class="form-control"  name="dose" id="med_dose" placeholder="Separated by comma (,)">
				  </div>
				  <div class="form-group">
				    <label for="med_frequency">Frequency</label>
				    <input type="text" class="form-control" name="frequency" id="med_frequency" >
				  </div>

				  <div class="form-group form-row center">
				  	<button type="submit" class="btn btn-primary add-doctor-btn">Add to Meds List</button>
				  </div>
				</form>
		      </div>
			</div>
		</modal>

		<modal name="update-med" height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Update Medication</h5>
		        <button class="close" @click="$modal.hide('update-med')">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
				<form method="post" id="update-med" @submit="updateMed($event)">

				  <div class="form-group">
				    <label for="med_name_">Name</label>
				    <input type="text" class="form-control" :value="bloodData.name" name="name" id="med_name_" placeholder="" required>
				  </div>
				  <div class="form-group">
				    <label for="med_type_">Type</label>
				    <input type="text" class="form-control" :value="bloodData.type" name="type" id="med_type_" placeholder="" required>
				  </div>
				  <div class="form-group">
				    <label for="med_class_">Class</label>
				    <input type="text" class="form-control" :value="bloodData.class" name="class" id="med_class_" placeholder="" required>
				  </div>
				  <div class="form-group">
				    <label for="med_dose_">Doses</label>
				    <input type="text" class="form-control" :value="bloodData.dose" name="dose" id="med_dose_" placeholder="Separated by comma (,)">
				  </div>
				  <div class="form-group">
				    <label for="med_frequency_">Frequency</label>
				    <input type="text" class="form-control" :value="bloodData.frequency" name="frequency_" id="med_frequency" >
				  </div>

				  <div class="form-group form-row center">
				  	<button type="submit" class="btn btn-primary add-doctor-btn">Update Med</button>
				  </div>
				</form>
		      </div>
			</div>
		</modal>


		<modal name="delete-med" height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Delete med</h5>
		        <button class="close" @click="$modal.hide('delete-med')" aria-label="Close" >
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body center">
		      	<div>Are you sure?</div>
		      	<div>This cannot be undone.</div>
				
				<button class="btn btn-primary add-doctor-btn" style="margin: 0 auto; margin-top: 15px" @click="deleteMed(medid)">Delete</button>

		      </div>
			</div>
		</modal>


	</div>
</template>
<script>
	import Pusher from 'pusher-js';
	import axios from 'axios';
	import Constant,{ constant } from '../Constant';
	export default {
    	components: {
		   //
		},
        data(){
	        return {
	        	showMeds: true,
	        	meds: [],
	        	frequencies: [],
	        	med: '',
	        	medid: '',
	        	search: '',
	        	bloodData: [],
	        }
	    },
		mounted() {
			this.getMeds();
		},
		computed: {
			filteredList() {
				if (this.meds != null) {
					return this.meds.filter(val => {
						return val.name.toLowerCase().includes(this.search.toLowerCase())
					});
			  	}
			}
		},
	    methods: {
	    	goBack() {
	    		// this.showTTE = true;
	    		// this.hideAll();
	    	},
	    	getMeds() {
				axios.get(constant.getMeds, {
                    headers: constant.headers(this.$cookie.get('access_token')),
                }).then(response => {
			      	this.meds = response.data
			      }).catch(error => {
			      });
	    	},
	    	addMed(e) {
	    		e.preventDefault();
				const form = new FormData(document.getElementById("add-med"));
				axios.post(constant.addMed, form, {
				    headers: constant.headers(this.$cookie.get('access_token')),
				}).then(response => {
					this.getMeds();
					this.$modal.hide('add-med')
				}).catch(err => {
					//
				});
	    	},
	    	updateMed(e) {
	    		e.preventDefault();
				const form = new FormData(document.getElementById("update-med"));
				axios.post(constant.updateMed+this.medid, form, {
				    headers: constant.headers(this.$cookie.get('access_token')),
				}).then(response => {
					this.getMeds();
					this.$modal.hide('update-med')
				}).catch(err => {
					//
				});
	    	},
		    getPractice(id) {
				axios.get(constant.getMed+id, {
                    headers: constant.headers(this.$cookie.get('access_token')),
                }).then(response => {
			      	this.med = response.data
			    }).catch(error => {
			    });
		    },
	    	openUpdateModal(data) {
	    		this.bloodData = data;
	    		this.$modal.show('update-med');
	    	},
		    deleteMed(id) {
				axios.get(constant.deleteMed+id, {
                    headers: constant.headers(this.$cookie.get('access_token')),
                }).then(response => {
			        this.getMeds();
			        this.$modal.hide('delete-med');
			      }).catch(error => {
			      	//
			      });
		    },
			deleteMedModal(id) {
				this.medid = id;
				this.$modal.show('delete-med');
			},

	    }
	}
</script>