<template>
	<div id="new-exam">
		<form @change="saveExam()" id="exam-details">
			<div class="module-subtitle">Vital Signs</div>
			<div class="form-group row">
				<div class="col-sm-6 inline-f">
					<label for="BP" class="col-sm-4 col-form-label">BP</label>
					<div class="col-sm-7" style="margin-left: -30px;">
					  <input class="form-control" id="BP" name="bp_over" min="60" max="280" type="number" step="any" :value="examdetails.bp_over">
					</div>
					<div class="col-sm-2 divide">
						<p>/</p>
					</div>
				</div>
				<div class="col-sm-3 inline-f" style="margin-left: -50px;">
					  <input class="form-control" type="number" step="any" name="bp_under" min="20" max="160" :value="examdetails.bp_under">
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6 inline-f">
					<label for="PR" class="col-sm-4 col-form-label">PR</label>
					<div class="col-sm-7" style="margin-left: -30px;">
					  <input class="form-control" id="PR" name="pr_over" type="number" min="20" max="200" step="any" :value="examdetails.pr_over">
					</div>
					<div class="col-sm-2 divide">
						<p>/</p>
					</div>
				</div>
				<div class="col-sm-6 inline-f" style="margin-left: -50px;">
					<select class="custom-select" name="pr_under">
						<option selected disabled >Select</option>
						<option v-for="pr in vitalsigns" v-bind:value="pr" :selected="pr == examdetails.pr_under">{{ pr }}</option>
					</select>
				</div>
			</div>


			<div v-show="showList">
				<ul class="checkable">
					<li v-for="exam in exams">
					    <div class="custom-control custom-checkbox">
							<p @click="openExam($event, exam)" class="boxlabel" style="margin-left: 10px;">{{ exam }}<span><i class="material-icons">keyboard_arrow_right</i></span></p>

					    </div>
					</li>
				</ul>
			</div>

			<div v-show="showHeartSounds">
				<div>
					<div class="labelopen" @click="goBack">
						<p class="boxlabel">Heart Sounds<span><i class="material-icons">keyboard_arrow_left</i></span></p>

					</div>
						<div class="module-subtitle">Cardiac Exam</div>
						<div class="form-group row" style="margin-bottom: 0rem;">

							<div class="col-sm-6 inline-f">
							    <div class="custom-control custom-checkbox" style="margin-top: 10px; margin-left: 45px; text-align: center;">
									<input @change="checkSystolic" type="checkbox" class="custom-control-input custombox" id="ejection_systolic" name="cardiac_exam[]" value="Ejection Systolic Murmur" :checked="examdetails.cardiac_exam != null && examdetails.cardiac_exam.includes('Ejection Systolic Murmur')">
									<label style="padding-top: 7px;" class="custom-control-label boxlabel" for="ejection_systolic">Ejection Systolic Murmur</label> 
							    </div>
							</div>

							<div class="col-sm-6 inline-f" v-show="ejection_systolic_murmur_options || examdetails.cardiac_exam != null && examdetails.cardiac_exam.includes('Ejection Systolic Murmur')">
								<div style="">
								  <select class="form-control" name="ejection_murmur_options">
								  	  <option selected></option>
								  	  <option :selected="examdetails.ejection_murmur_options == 'No radiation'">No radiation</option>
								  	  <option :selected="examdetails.ejection_murmur_options == 'Carotid radiation'">Carotid radiation</option>
								  </select>
								</div>
							</div>
						</div>

						<div class="form-group row" style="margin-bottom: 0rem;">
							<div class="col-sm-6 inline-f">
							    <div class="custom-control custom-checkbox" style="margin-top: 10px; margin-left: 45px; text-align: center;">
									<input type="checkbox" class="custom-control-input custombox" id="pansystolic_murmur" name="cardiac_exam[]" value="Pansystolic Murmur" :checked="examdetails.cardiac_exam != null && examdetails.cardiac_exam.includes('Pansystolic Murmur')">
									<label style="padding-top: 7px;" class="custom-control-label boxlabel" for="pansystolic_murmur">Pansystolic Murmur</label> 
							    </div>
							</div>
						</div>

						<div class="form-group row" style="margin-bottom: 0rem;">
							<div class="col-sm-6 inline-f">
							    <div class="custom-control custom-checkbox" style="margin-top: 10px; margin-left: 45px; text-align: center;">
									<input type="checkbox" class="custom-control-input custombox" id="mid_systolic_murmur" name="cardiac_exam[]" value="Mid-Systolic Click" :checked="examdetails.cardiac_exam != null && examdetails.cardiac_exam.includes('Mid-Systolic Click')">
									<label style="padding-top: 7px;" class="custom-control-label boxlabel" for="mid_systolic_murmur">Mid-Systolic Click</label> 
							    </div>
							</div>
						</div>

						<div class="form-group row" style="margin-bottom: 0rem;">
							<div class="col-sm-6 inline-f">
							    <div class="custom-control custom-checkbox" style="margin-top: 10px; margin-left: 45px; text-align: center;">
									<input type="checkbox" class="custom-control-input custombox" id="diastolic_murmur" name="cardiac_exam[]" value="Diastolic Murmur" :checked="examdetails.cardiac_exam != null && examdetails.cardiac_exam.includes('Diastolic Murmur')">
									<label style="padding-top: 7px;" class="custom-control-label boxlabel" for="diastolic_murmur">Diastolic Murmur</label> 
							    </div>
							</div>
						</div>

						<div class="form-group row" style="margin-bottom: 0rem;">
							<div class="col-sm-6 inline-f">
							    <div class="custom-control custom-checkbox" style="margin-top: 10px; margin-left: 45px; text-align: center;">
									<input type="checkbox" class="custom-control-input custombox" id="loud_p2" name="cardiac_exam[]" value="Loud P2" :checked="examdetails.cardiac_exam != null && examdetails.cardiac_exam.includes('Loud P2')">
									<label style="padding-top: 7px;" class="custom-control-label boxlabel" for="loud_p2">Loud P2</label> 
							    </div>
							</div>
						</div>


				</div>			
			</div>

			<div v-show="showLungSounds">
				<div class="labelopen" @click="goBack">
					<p class="boxlabel">Lung Sounds<span><i class="material-icons">keyboard_arrow_left</i></span></p>

				</div>
						<div class="module-subtitle">Respiratory Exam</div>
				<div class="col-sm-12 col-md-6" style="display: inline-block; margin-left: -10px; top: -60px;">

					<!-- <img <img :src="baseurl + chest"> -->
					<input type="hidden" v-model="lungs_image" name="lungs_image[]">
					<input type="hidden" name="lungs_image[]" >
					<svg width="185" height="185" viewBox="0 0 185 185" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<rect @click="svgImage0" x="4.30249" y="133.372" width="80.3101" height="48.7597" fill="url(#pattern0)"/>
						<rect @click="svgImage1" x="4" y="79" width="81.7442" height="54.4961" fill="url(#pattern1)"/>
						<rect @click="svgImage2" y="2.86823" width="93.2171" height="76.0078" fill="url(#pattern2)"/>
						<rect @click="svgImage3" x="93.2173" width="80.3101" height="78.876" fill="url(#pattern3)"/>
						<rect @click="svgImage4" x="98.9534" y="78.876" width="86.0465" height="54.4961" fill="url(#pattern4)"/>
						<rect @click="svgImage5" x="106.124" y="133.372" width="78.876" height="51.6279" fill="url(#pattern5)"/>
						<defs>
							<pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
								<use  xlink:href="#image0" transform="scale(0.0178571 0.0294118)"/>
							</pattern>
							<pattern id="pattern1" patternContentUnits="objectBoundingBox" width="1" height="1">
								<use xlink:href="#image1" transform="scale(0.0175439 0.0263158)"/>
							</pattern>
							<pattern id="pattern2" patternContentUnits="objectBoundingBox" width="1" height="1">
								<use xlink:href="#image2" transform="scale(0.0153846 0.0188679)"/>
							</pattern>
							<pattern id="pattern3" patternContentUnits="objectBoundingBox" width="1" height="1">
								<use xlink:href="#image3" transform="scale(0.0178571 0.0181818)"/>
							</pattern>
							<pattern id="pattern4" patternContentUnits="objectBoundingBox" width="1" height="1">
								<use xlink:href="#image4" transform="scale(0.0166667 0.0263158)"/>
							</pattern>
							<pattern id="pattern5" patternContentUnits="objectBoundingBox" width="1" height="1">
								<use xlink:href="#image5" transform="scale(0.0181818 0.0277778)"/>
							</pattern>

							<image id="image0" width="56" height="34" :xlink:href="examdetails.lungs_image != null && examdetails.lungs_image.includes('0') ? coloredImage0 : whiteImage0"/>
							<image id="image1" width="57" height="38" :xlink:href="examdetails.lungs_image != null && examdetails.lungs_image.includes('1') ? coloredImage1 : whiteImage1"/>
							<image id="image2" width="65" height="53" :xlink:href="examdetails.lungs_image != null && examdetails.lungs_image.includes('2') ? coloredImage2 : whiteImage2"/>
							<image id="image3" width="56" height="55" :xlink:href="examdetails.lungs_image != null && examdetails.lungs_image.includes('3') ? coloredImage3 : whiteImage3"/>
							<image id="image4" width="60" height="38" :xlink:href="examdetails.lungs_image != null && examdetails.lungs_image.includes('4') ? coloredImage4 : whiteImage4"/>
							<image id="image5" width="55" height="36" :xlink:href="examdetails.lungs_image != null && examdetails.lungs_image.includes('5') ? coloredImage5 : whiteImage5"/>
						</defs>
					</svg>

				</div>
				<div class="col-sm-12 col-md-6" style="display: inline-block;">

					<ul id="chest-sounds">
						<li>
						    <div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input custombox" id="Wheeze_" name="lungs_box[]" value="Wheeze" :checked="examdetails.lungs_box != null && examdetails.lungs_box.includes('Wheeze')">
								<label class="custom-control-label boxlabel" for="Wheeze_">Wheeze</label> 
						    </div>
						</li>
						<li>
						    <div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input custombox" id="Crackles_" name="lungs_box[]" value="Crackles" :checked="examdetails.lungs_box != null && examdetails.lungs_box.includes('Crackles')">
								<label class="custom-control-label boxlabel" for="Crackles_">Crackles</label> 
						    </div>
						</li>
						<li>
						    <div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input custombox" id="Ronchi_" name="lungs_box[]" value="Ronchi" :checked="examdetails.lungs_box != null && examdetails.lungs_box.includes('Ronchi')">
								<label class="custom-control-label boxlabel" for="Ronchi_">Ronchi</label> 
						    </div>
						</li>
						<li>
						    <div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input custombox" id="Reduced air entry_" name="lungs_box[]" value="reduced air entry" :checked="examdetails.lungs_box != null && examdetails.lungs_box.includes('reduced air entry')">
								<label class="custom-control-label boxlabel" for="Reduced air entry_">Reduced air entry</label>
						    </div>
						</li>
					</ul>
				</div>
			</div>


			<div v-show="showHeadNeck">
				<div>
					<div class="labelopen" @click="goBack">
						<p class="boxlabel">Head & Neck<span><i class="material-icons">keyboard_arrow_left</i></span></p>

					</div>
						<div class="module-subtitle">Head and Neck</div>

						<div class="form-group row" style="margin-bottom: 0rem;">
							<div class="col-sm-6 inline-f">
							    <div class="custom-control custom-checkbox" style="margin-top: 10px; margin-left: 45px; text-align: center;">
									<input type="checkbox" class="custom-control-input custombox" id="raised_jvp" name="head_neck[]" value="Raised JVP" :checked="examdetails.head_neck != null && examdetails.head_neck.includes('Raised JVP')">
									<label style="padding-top: 7px;" class="custom-control-label boxlabel" for="raised_jvp">Raised JVP</label> 
							    </div>
							</div>
						</div>

						<div class="form-group row" style="margin-bottom: 0rem;">
							<div class="col-sm-6 inline-f">
							    <div class="custom-control custom-checkbox" style="margin-top: 10px; margin-left: 45px; text-align: center;">
									<input type="checkbox" class="custom-control-input custombox" id="carotid_bruit" name="head_neck[]" value="Carotid Bruit" :checked="examdetails.head_neck != null && examdetails.head_neck.includes('Carotid Bruit')">
									<label style="padding-top: 7px;" class="custom-control-label boxlabel" for="carotid_bruit">Carotid Bruit</label> 
							    </div>
							</div>
						</div>
				</div>			
			</div>
	
			<div v-show="showAbdomen">
				<div>
					<div class="labelopen" @click="goBack">
						<p class="boxlabel">Abdomen<span><i class="material-icons">keyboard_arrow_left</i></span></p>

					</div>
						<div class="module-subtitle">Abdomen</div>

						<div class="form-group row" style="margin-bottom: 0rem;">
							<div class="col-sm-6 inline-f">
							    <div class="custom-control custom-checkbox" style="margin-top: 10px; margin-left: 45px; text-align: center;">
									<input type="checkbox" class="custom-control-input custombox" id="splenomegaly" name="abdomen[]" value="Splenomegaly" :checked="examdetails.abdomen != null && examdetails.abdomen.includes('Splenomegaly')">
									<label style="padding-top: 7px;" class="custom-control-label boxlabel" for="splenomegaly">Splenomegaly</label> 
							    </div>
							</div>
						</div>

						<div class="form-group row" style="margin-bottom: 0rem;">
							<div class="col-sm-6 inline-f">
							    <div class="custom-control custom-checkbox" style="margin-top: 10px; margin-left: 45px; text-align: center;">
									<input type="checkbox" class="custom-control-input custombox" id="hepatomegaly" name="abdomen[]" value="Hepatomegaly" :checked="examdetails.abdomen != null && examdetails.abdomen.includes('Hepatomegaly')">
									<label style="padding-top: 7px;" class="custom-control-label boxlabel" for="hepatomegaly">Hepatomegaly</label> 
							    </div>
							</div>
						</div>
				</div>			
			</div>
	
			<div v-show="showPeripheral">
				<div>
					<div class="labelopen" @click="goBack">
						<p class="boxlabel">Peripheral<span><i class="material-icons">keyboard_arrow_left</i></span></p>

					</div>
						<div class="module-subtitle">Peripheral Oedema</div>

						<div class="form-group row">
							<div class="col-sm-6 inline-f">
							    <div class="custom-control custom-checkbox" style="margin-top: 10px; margin-left: 45px; text-align: center;">
									<input @change="checkPeripheral($event)" type="checkbox" class="custom-control-input custombox" id="peripheral_oedema" name="peripheral_oedema" value="Peripheral Oedema" :checked="examdetails.peripheral_oedema != null && examdetails.peripheral_oedema.includes('Peripheral Oedema')">
									<label style="padding-top: 7px;" class="custom-control-label boxlabel" for="peripheral_oedema">Peripheral Oedema</label> 
							    </div>
							</div>
						</div>
						<div v-show="peripheral_options_ || examdetails.peripheral_oedema != null && examdetails.peripheral_oedema.includes('Peripheral Oedema')">
							<div class="form-group row">

								<div class="col-sm-6 inline-f" style="margin-left: 5px;">
									<select class="custom-select" name="peripheral_oedema_option1">
										<option selected disabled >Select</option>
										<option v-for="peripheral_option in peripheral_options" v-bind:value="peripheral_option" :selected="peripheral_option == examdetails.peripheral_oedema_option1">{{ peripheral_option }}</option>
									</select>
								</div>
							</div>

							<div class="form-group row">
								
								<div class="col-sm-6 inline-f" style="margin-left: 5px;">
									<select class="custom-select" name="peripheral_oedema_option2">
										<option selected disabled >Select</option>
										<option v-for="peripheral_option2 in peripheral_options2" v-bind:value="peripheral_option2" :selected="peripheral_option2 == examdetails.peripheral_oedema_option2">{{ peripheral_option2 }}</option>
									</select>
								</div>
							</div>
						</div>

				</div>			
			</div>
		</form>
	</div> 
</template>
<script>
	import Pusher from 'pusher-js';
	import axios from 'axios';
	import Constant,{ constant } from '../Constant';
	export default {
    	props: ['examdetails'],
    	components: {
		   //
		},
        data(){
	        return {
	        	userid: this.$route.params.letterid,
	        	exams: ['Heart Sounds', 'Lung Sounds', 'Head & Neck', 'Abdomen', 'Peripheral'],
	        	vitalsigns: ['regular', 'irregular', 'regularly irregular', 'irregularly irregular'],
	        	showList: true,
	        	showHeartSounds: false,
	        	showLungSounds: false,
	        	showHeadNeck: false,
	        	showAbdomen: false,
	        	showPeripheral: false, 	
	      		baseurl: document.querySelector('meta[name="base-url"]').getAttribute('content'),
		        chest: "/images/chest.png",
		        whiteImage0: constant.whiteImage0,
		        whiteImage1: constant.whiteImage1,
		        whiteImage2: constant.whiteImage2,
		        whiteImage3: constant.whiteImage3,
		        whiteImage4: constant.whiteImage4,
		        whiteImage5: constant.whiteImage5,
		        coloredImage0: constant.coloredImage0,
		        coloredImage1: constant.coloredImage1,
		        coloredImage2: constant.coloredImage2,
		        coloredImage3: constant.coloredImage3,
		        coloredImage4: constant.coloredImage4,
		        coloredImage5: constant.coloredImage5,
		        peripheral_options: ['trace', 'minimal', 'moderate', 'marked'],
		        peripheral_options2: ['of the feet', 'to the mid shins', 'to the knees', 'extending above the knees'],
		        peripheral_options_: false,
		        ejection_systolic_murmur_options: false,
		        lungs_image: [],
	        }
	    },
		watch: {
			lungs_image() {
			    this.$nextTick(() => {
			      this.saveExam();
			    });
			}
		},
		computed : {
			years () {
			  const year = new Date().getFullYear()
			  return Array.from({length: year - 1900}, (value, index) => 1901 + index)
			}
		},
	    methods: {
	    	goBack() {
	    		this.showList = true;
	    		this.hideAll();
	    	},
	    	hideAll() {
				this.showHeartSounds = false;
				this.showLungSounds = false;
				this.showHeadNeck = false;
				this.showPeripheral = false;
				this.showAbdomen = false;
	    	},
	        saveExam() {
		      const form = new FormData(document.getElementById("exam-details"));
		      axios.post(constant.saveExamUrl+this.userid, form, {
		              headers: constant.headers(this.$cookie.get('access_token')),
		          }).then(response => {
						const data = response.data;
						// let chests = [];
						// this.saveChestArrays(data);
						this.$emit('exam', data);
		          }).catch(err => {
		          });
	        },
	    	openExam(e, name) {
	    		this.showList = false;
	    		if (name === 'Heart Sounds') {
	    			this.showHeartSounds = true;
	    		}
	    		if (name === 'Lung Sounds') {
	    			this.showLungSounds = true;
	    		}
	    		if (name === 'Head & Neck') {
	    			this.showHeadNeck = true;
	    		}
	    		if (name === 'Abdomen') {
	    			this.showAbdomen = true;
	    		}
	    		if (name === 'Peripheral') {
	    			this.showPeripheral = true;
	    		}
	    	},
	    	checkPeripheral(event) {
	    		if (event.target.checked) {
	    			this.peripheral_options = true;
	    		} else {
	    			this.peripheral_options = false;
	    		}
	    	},
	    	checkSystolic(event) {
	    		if (event.target.checked) {
	    			this.ejection_systolic_murmur_options = true;
	    		} else {
	    			this.ejection_systolic_murmur_options = false;
	    		}
	    	},
	        deleteLungsImageVal: function(event) {
	        	this.$delete(this.lungs_image, event)
			},
	    	svgImage0(){
				var ele = document.getElementById("image0")
				var url = ele.getAttributeNS('http://www.w3.org/1999/xlink', 'href');

				ele.setAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href', url === this.whiteImage0 ? this.coloredImage0 : this.whiteImage0);

				if (url === this.whiteImage0) {
					this.lungs_image.push('0')
				} else {
					var a = this.lungs_image.indexOf("0");
					this.deleteLungsImageVal(a);
				}
				

	    	},
	    	svgImage1(){
				var ele = document.getElementById("image1")
				var url = ele.getAttributeNS('http://www.w3.org/1999/xlink', 'href');

				ele.setAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href', url === this.whiteImage1 ? this.coloredImage1 : this.whiteImage1);

				if (url === this.whiteImage1) {
					this.lungs_image.push('1')
				} else {
					var a = this.lungs_image.indexOf("1");
					this.deleteLungsImageVal(a);
				}
				
	    	},
	    	svgImage2(){
				var ele = document.getElementById("image2")
				var url = ele.getAttributeNS('http://www.w3.org/1999/xlink', 'href');

				ele.setAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href', url === this.whiteImage2 ? this.coloredImage2 : this.whiteImage2);

				if (url === this.whiteImage2) {
					this.lungs_image.push('2')
				} else {
					var a = this.lungs_image.indexOf("2");
					this.deleteLungsImageVal(a);
				}
				
	    	},
	    	svgImage3(){
				var ele = document.getElementById("image3")
				var url = ele.getAttributeNS('http://www.w3.org/1999/xlink', 'href');

				ele.setAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href', url === this.whiteImage3 ? this.coloredImage3 : this.whiteImage3);

				if (url === this.whiteImage3) {
					this.lungs_image.push('3')
				} else {
					var a = this.lungs_image.indexOf("3");
					this.deleteLungsImageVal(a);
				}
				
	    	},
	    	svgImage4(){
				var ele = document.getElementById("image4")
				var url = ele.getAttributeNS('http://www.w3.org/1999/xlink', 'href');

				ele.setAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href', url === this.whiteImage4 ? this.coloredImage4 : this.whiteImage4);

				if (url === this.whiteImage4) {
					this.lungs_image.push('4')
				} else {
					var a = this.lungs_image.indexOf("4");
					this.deleteLungsImageVal(a);
				}
				
	    	},
	    	svgImage5(){
				var ele = document.getElementById("image5")
				var url = ele.getAttributeNS('http://www.w3.org/1999/xlink', 'href');

				ele.setAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href', url === this.whiteImage5 ? this.coloredImage5 : this.whiteImage5);

				if (url === this.whiteImage5) {
					this.lungs_image.push('5')
				} else {
					var a = this.lungs_image.indexOf("5");
					this.deleteLungsImageVal(a);
				}
				
	    	},

	    }
	}
</script>
<style>
	#chest-sounds .custom-control-label {
		padding-top: 8px;
	}
</style>