<template>
	<div>
		<div id="NewPhxComponent">
			<form @change.prevent="savePHX" id="newphx-details">
				<div v-show="showPHX">
					<div class="module-subtitle">{{ PHXHeading }}</div>
					<ul class="checkable">
						<li v-for="history in histories">
						    <div class="custom-control custom-checkbox">
								<input :ref="history" type="checkbox" class="custom-control-input custombox" :id="history+dashline" name="history[]" :value="history" :checked="phxdetails.history != null && phxdetails.history.includes(history)" @change="checkPHX($event, history)">
								<label class="custom-control-label boxlabel" :for="history+dashline"></label> 
								<p @click="openPhx($event, history)" class="boxlabel" style="margin-left: 10px;">{{ history }} <span><i class="material-icons">keyboard_arrow_right</i></span></p>
						    </div>
						</li>
					</ul>
				</div>
				
						
				<div id="show-smoker" v-show="showSmoker">
					<div>
						<div class="module-subtitle">{{ PHXHeading }}</div>

						<div class="labelopen" @click="goBack">
							<p class="boxlabel">Smoker<span><i class="material-icons">keyboard_arrow_left</i></span></p>
						</div>

						<div class="form-group row">
							<label for="Peak" class="col-sm-3 col-form-label">Smoking status</label>
							<div class="col-sm-6 inline-f">
								<div style="margin-left: -20px; text-align: center;">
								  <select class="form-control" name="smoker_status">
								  	<option :selected="phxdetails.smoker_status == 'Smoker'">Smoker</option>
								  	<option :selected="phxdetails.smoker_status == 'Ex-smoker'">Ex-smoker</option>
								  </select>
								</div>
							</div>
						</div>

						<div class="form-group row" v-show="phxdetails.smoker_status == 'Ex-smoker'">
							<label for="Peak" class="col-sm-3 col-form-label">Years since quiting</label>
							<div class="col-sm-6 inline-f">
								<div style="margin-left: -20px; text-align: center;">
								  <input name="years_smoke_quiting" :value="phxdetails.years_smoke_quiting" class="form-control" type="number" >
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="Peak" class="col-sm-3 col-form-label">Years smoked</label>
							<div class="col-sm-6 inline-f">
								<div style="margin-left: -20px; text-align: center;">
								  <input name="years_smoked" :value="phxdetails.years_smoked" class="form-control" type="number" >
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="Peak" class="col-sm-3 col-form-label">Cigarretes per day</label>
							<div class="col-sm-6 inline-f">
								<div style="margin-left: -20px; text-align: center;">
								  <input name="cigar_per_day" :value="phxdetails.cigar_per_day" class="form-control" type="number" >
								</div>
							</div>
						</div>

						<div class="form-group row" v-show="smokeresults">
							<div class="col-sm-12 inline-f" style="margin-left: 0px; text-align: center;"><strong>{{ smokingresult }}</strong>  pack years</div>
						</div>

						
					</div>			
				</div>


				<div id="show-diabetes" v-show="showDiabetes">
					<div>
						<div class="module-subtitle">{{ PHXHeading }}</div>

						<div class="labelopen" @click="goBack">
							<p class="boxlabel">Diabetes History<span><i class="material-icons">keyboard_arrow_left</i></span></p>
						</div>

						<div class="form-group row">
							<label for="diabtes_type" class="col-sm-3 col-form-label">Diabetes type</label>
							<div class="col-sm-6 inline-f">
								<div style="margin-left: -20px; text-align: center;">
								  <select class="form-control" name="diabtes_type">
								  	<option :selected="phxdetails.diabtes_type == 'Type 2 Diabetes'">Type 2 Diabetes</option>
								  	<option :selected="phxdetails.diabtes_type == 'Type 1 Diabetes'">Type 1 Diabetes</option>
								  	<option :selected="phxdetails.diabtes_type == 'Impaired Fasting Glucose'">Impaired Fasting Glucose</option>
								  	<option :selected="phxdetails.diabtes_type == 'Impaired Glucose Tolerance'">Impaired Glucose Tolerance</option>
								  </select>
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="hba1c" class="col-sm-3 col-form-label">HbA 1c</label>
							<div class="col-sm-6 inline-f">
								<div style="margin-left: -20px; text-align: center;">

								  <select class="form-control" name="hba1c">
								  	<option disabled selected v-for="(bd, index) in bloods">{{ bd.created_at | moment("DD/MM/YYYY") }} - {{ bd.hb1ac }}mmol/L</option>
								  	<input type="hidden" name="hba1c" :value="blood.hb1ac" >
								  </select>

								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="fasting_bsl" class="col-sm-3 col-form-label">Fasting BSL</label>
							<div class="col-sm-6 inline-f">
								<div style="margin-left: -20px; text-align: center;">

								  <select class="form-control" name="fasting_bsl">
								  	<option disabled selected v-for="(bd, index) in bloods">{{ bd.created_at | moment("DD/MM/YYYY") }} - {{ bd.fbgl }}%</option>
								  	<input type="hidden" name="fasting_bsl" :value="blood.fbgl" >

								  </select>

								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="cretinine" class="col-sm-3 col-form-label">Cretinine</label>
							<div class="col-sm-6 inline-f">
								<div style="margin-left: -20px; text-align: center;">

								  <select class="form-control" name="cretinine">
								  	<option disabled selected v-for="(bd, index) in bloods">{{ bd.created_at | moment("DD/MM/YYYY") }} - {{ bd.cr }}mmol/L</option>
								  	<input type="hidden" name="cretinine" :value="blood.cr" >

								  </select>
								</div>
							</div>
						</div>

						
					</div>			
				</div>


				<div id="show-hypertension" v-show="showHypertension">
					<div>
						<div class="module-subtitle">{{ PHXHeading }}</div>

						<div class="labelopen" @click="goBack">
							<p class="boxlabel">Hypertension History<span><i class="material-icons">keyboard_arrow_left</i></span></p>
						</div>

						<div class="form-group row">
							<label for="hypertension_type" class="col-sm-4 col-form-label">Hypertension type</label>
							<div class="col-sm-6 inline-f">
								<div style="margin-left: -20px; text-align: center;">
								  <select class="form-control" name="hypertension_type">
								  	<option :selected="phxdetails.hypertension_type == 'Essential Hypertension'">Essential Hypertension</option>
								  	<option :selected="phxdetails.hypertension_type == 'Secondary Hypertension'">Secondary Hypertension</option>
								  	<option :selected="phxdetails.hypertension_type == 'White Coat Hypertension'">White Coat Hypertension</option>
								  </select>
								</div>
							</div>
						</div>

						
					</div>			
				</div>


				<div id="show-dyslipidaemia" v-show="showDyslipidaemia">
					<div>
						<div class="module-subtitle">{{ PHXHeading }}</div>

						<div class="labelopen" @click="goBack">
							<p class="boxlabel">Dyslipidaemia History<span><i class="material-icons">keyboard_arrow_left</i></span></p>
						</div>

						<div class="form-group row">
							<label  class="col-sm-1 col-form-label"></label>
							<div class="col-sm-6 inline-f">
								<div style="margin-left: -20px; text-align: center;">

								  <select class="form-control">
								  	<option disabled selected v-for="bd in bloods">{{ bd.created_at | moment("DD/MM/YYYY") }} - TC: {{ bd.tc }} TG: {{ bd.tg }} LDL: {{ bd.ldl }} HDL: {{ bd.hdl }} </option>
								  	<input type="hidden" name="dyslipidaemia_type" :value="'TC '+ blood.tc+'mmol/L ('+blood.updated_at +') ' + 'TG '+ blood.tg+'mmol/L ('+blood.updated_at +')'" >

								  </select>

								</div>
							</div>
						</div>

						
					</div>			
				</div>


				<div id="show-dyslipidaemia" v-show="showIHD">
					<div>
						<div class="module-subtitle">{{ PHXHeading }}</div>

						<div class="labelopen" @click="goBack">
							<p class="boxlabel">Ischaemic Heart Disease History<span><i class="material-icons">keyboard_arrow_left</i></span></p>
						</div>

						<div class="form-group row">
							<div class="col-sm-1 inline-f">
								<div style="margin-top: 10px; margin-left: 20px; text-align: center;">
								  <input name="medical_management" :checked="phxdetails.medical_management == 'Medical Management'" type="checkbox" id="medical_management" value="Medical Management">
								</div>
							</div>
							<label for="medical_management" class="col-sm-6 col-form-label">Medical Management</label>
						</div>

						<div class="form-group row">
							<div class="col-sm-1 inline-f">
								<div style="margin-top: 10px; margin-left: 20px; text-align: center;">
								  <input name="pci" type="checkbox" id="pci" :checked="phxdetails.pci == 'PCI'" value="PCI">
								</div>
							</div>
							<label for="pci" class="col-sm-6 col-form-label">PCI</label>

							<div class="col-sm-4 inline-f" v-show="phxdetails.pci != null">
								<div style="margin-top: 10px; text-align: center;">
								  <select class="form-control" name="pci_years">
								  	  <option :selected="phxdetails.pci_years == year" v-for="year in years" v-if="year >= 1970" :value="year">{{ year }}</option>
								  </select>
								</div>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-1 inline-f">
								<div style="margin-top: 10px; margin-left: 20px; text-align: center;">
								  <input name="cabg" type="checkbox" id="cabg">
								</div>
							</div>
							<label for="cabg" class="col-sm-6 col-form-label">CABG</label>

							<div class="col-sm-4 inline-f" v-show="phxdetails.cabg != null">
								<div style="margin-top: 10px; text-align: center;">
								  <select class="form-control" name="cabg_years">
								  	  <option :selected="phxdetails.cabg_years == year" v-for="year in years" v-if="year >= 1970" :value="year">{{ year }}</option>
								  </select>
								</div>
							</div>
						</div>

						
					</div>			
				</div>


				<div id="show-dyslipidaemia" v-show="showAF">
					<div>
						<div class="module-subtitle">{{ PHXHeading }}</div>

						<div class="labelopen" @click="goBack">
							<p class="boxlabel">Atrial Fibrillation History<span><i class="material-icons">keyboard_arrow_left</i></span></p>
						</div>

						
					</div>			
				</div>


				<div id="show-dyslipidaemia" v-show="showValve">
					<div>
						<div class="module-subtitle">{{ PHXHeading }}</div>

						<div class="labelopen" @click="goBack">
							<p class="boxlabel">Valvular Disease History<span><i class="material-icons">keyboard_arrow_left</i></span></p>
						</div>

						<div class="form-group row">
							<label class="col-sm-3 col-form-label" ></label>
							<label class="col-sm-4 col-form-label">Regurgitation</label>
							<label class="col-sm-2 col-form-label">Stenosis</label>
						</div>

						<div class="form-group row">
							<label for="Peak" class="col-sm-4 col-form-label">Aortic Valve</label>
							<div class="col-sm-4 inline-f">
								<div>
								  <input name="aortic_valve_regurgitation" type="checkbox" :checked="phxdetails.aortic_valve_regurgitation == 'Regurgitation'" value="Regurgitation">
								</div>
							</div>
							<div class="col-sm-4 inline-f">
								<div>
								  <input name="aortic_valve_stenosis" type="checkbox" :checked="phxdetails.aortic_valve_stenosis == 'Stenosis'" value="Stenosis">
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="Peak" class="col-sm-4 col-form-label">Mitral Valve</label>
							<div class="col-sm-4 inline-f">
								<div>
								  <input name="mitral_valve_regurgitation" type="checkbox" :checked="phxdetails.mitral_valve_regurgitation == 'Regurgitation'" value="Regurgitation">
								</div>
							</div>
							<div class="col-sm-4 inline-f">
								<div>
								  <input name="mitral_valve_stenosis" type="checkbox" :checked="phxdetails.mitral_valve_stenosis == 'Stenosis'" value="Stenosis">
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="Peak" class="col-sm-4 col-form-label">Pulmonary Valve</label>
							<div class="col-sm-4 inline-f">
								<div>
								  <input name="pulmonary_valve_regurgitation" type="checkbox" :checked="phxdetails.pulmonary_valve_regurgitation == 'Regurgitation'" value="Regurgitation">
								</div>
							</div>
							<div class="col-sm-4 inline-f">
								<div>
								  <input name="pulmonary_valve_stenosis" type="checkbox" :checked="phxdetails.pulmonary_valve_stenosis == 'Stenosis'" value="Stenosis">
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="Peak" class="col-sm-4 col-form-label">Tricuspid Valve</label>
							<div class="col-sm-4 inline-f">
								<div>
								  <input name="tricuspid_valve_regurgitation" type="checkbox" :checked="phxdetails.tricuspid_valve_regurgitation == 'Regurgitation'" value="Regurgitation">
								</div>
							</div>
							<div class="col-sm-4 inline-f">
								<div>
								  <input name="tricuspid_valve_stenosis" type="checkbox" :checked="phxdetails.tricuspid_valve_stenosis == 'Stenosis'" value="Stenosis">
								</div>
							</div>
						</div>


					</div>			
				</div>


				<div id="show-hypertension" v-show="showCCF">
					<div>
						<div class="module-subtitle">{{ PHXHeading }}</div>

						<div class="labelopen" @click="goBack">
							<p class="boxlabel">Cardiac Failure History<span><i class="material-icons">keyboard_arrow_left</i></span></p>
						</div>

						<div class="form-group row">
							<label for="severity" class="col-sm-4 col-form-label">Severity</label>
							<div class="col-sm-6 inline-f">
								<div style="margin-left: -20px; text-align: center;">
								  <select class="form-control" name="severity">
								  	<option :selected="phxdetails.severity == 'Mild Dysfunction'">Mild Dysfunction</option>
								  	<option :selected="phxdetails.severity == 'Moderate Dysfunction'">Moderate Dysfunction</option>
								  	<option :selected="phxdetails.severity == 'Severe Dysfunction'">Severe Dysfunction</option>
								  </select>
								</div>
							</div>
						</div>

						
					</div>			
				</div>


				<div id="show-dyslipidaemia" v-show="showCVA">
					<div>
						<div class="module-subtitle">{{ PHXHeading }}</div>

						<div class="labelopen" @click="goBack">
							<p class="boxlabel">Cerebrovascular Accident History<span><i class="material-icons">keyboard_arrow_left</i></span></p>
						</div>

						
					</div>			
				</div>


				<div id="show-dyslipidaemia" v-show="showCKD">
					<div>
						<div class="module-subtitle">{{ PHXHeading }}</div>

						<div class="labelopen" @click="goBack">
							<p class="boxlabel">Chronic Kidney Disease History<span><i class="material-icons">keyboard_arrow_left</i></span></p>
						</div>

						
					</div>			
				</div>


				<div id="show-dyslipidaemia" v-show="showPVD">
					<div>
						<div class="module-subtitle">{{ PHXHeading }}</div>

						<div class="labelopen" @click="goBack">
							<p class="boxlabel">Peripheral Vascular Disease History<span><i class="material-icons">keyboard_arrow_left</i></span></p>
						</div>

						
					</div>			
				</div>


				<div id="show-dyslipidaemia" v-show="showCOPD">
					<div>
						<div class="module-subtitle">{{ PHXHeading }}</div>

						<div class="labelopen" @click="goBack">
							<p class="boxlabel">COPD History<span><i class="material-icons">keyboard_arrow_left</i></span></p>
						</div>

						
					</div>			
				</div>


				<div id="show-dyslipidaemia" v-show="showPPM">
					<div>
						<div class="module-subtitle">{{ PHXHeading }}</div>

						<div class="labelopen" @click="goBack">
							<p class="boxlabel">Pacemaker History<span><i class="material-icons">keyboard_arrow_left</i></span></p>
						</div>

						<div class="form-group row">
							<label for="pacemaker_type" class="col-sm-5 col-form-label">Pacemaker type</label>
							<div class="col-sm-6 inline-f">
								<div style="margin-left: -20px; text-align: center;">
								  <select class="form-control" name="pacemaker_type">
								  	<option :selected="phxdetails.pacemaker_type == 'Single chamber'">Single chamber</option>
								  	<option :selected="phxdetails.pacemaker_type == 'Dual chamber'">Dual chamber</option>
								  	<option :selected="phxdetails.pacemaker_type == 'Biventricular device'">Biventricular device</option>
								  	<option :selected="phxdetails.pacemaker_type == 'Impaired Glucose Tolerance'">Impaired Glucose Tolerance</option>
								  </select>
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="manufacturer" class="col-sm-5 col-form-label">Manufacturer</label>
							<div class="col-sm-6 inline-f">
								<div style="margin-left: -20px; text-align: center;">
								  <select class="form-control" name="manufacturer">
								  	<option :selected="phxdetails.manufacturer == 'Medtronic'">Medtronic</option>
								  	<option :selected="phxdetails.manufacturer == 'Boston Scientific'">Boston Scientific</option>
								  	<option :selected="phxdetails.manufacturer == 'Biotronik'">Biotronik</option>
								  	<option :selected="phxdetails.manufacturer == 'St. Jude Medical'">St. Jude Medical</option>
								  	<option :selected="phxdetails.manufacturer == 'Vitatron'">Vitatron</option>
								  	<option :selected="phxdetails.manufacturer == 'SkyNet'">SkyNet</option>
								  </select>
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="date_implanted" class="col-sm-5 col-form-label">Date Implanted (MM-DD-YYYY)</label>
							<div class="col-sm-6 inline-f">
								<div style="margin-left: -20px; text-align: center;">
								  <input name="date_implanted" class="form-control" type="text" v-mask="'##-##-####'" v-model="phxdetails.date_implanted" placeholder="MM-DD-YYYY">
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="date_checked" class="col-sm-5 col-form-label">Date Checked (MM-DD-YYYY)</label>
							<div class="col-sm-6 inline-f">
								<div style="margin-left: -20px; text-align: center;">
								  <input name="date_checked" class="form-control" type="text" v-mask="'##-##-####'" v-model="phxdetails.date_checked" placeholder="MM-DD-YYYY">
								</div>
							</div>
						</div>

					</div>			
				</div>


				<div id="show-dyslipidaemia" v-show="showAICD">
					<div>
						<div class="module-subtitle">{{ PHXHeading }}</div>

						<div class="labelopen" @click="goBack">
							<p class="boxlabel">AICD History<span><i class="material-icons">keyboard_arrow_left</i></span></p>
						</div>

						<div class="form-group row">
							<label for="icd_type" class="col-sm-5 col-form-label">ICD type</label>
							<div class="col-sm-6 inline-f">
								<div style="margin-left: -20px; text-align: center;">
								  <select class="form-control" name="icd_type">
								  	<option :selected="phxdetails.icd_type == 'Regular ICD'">Regular ICD</option>
								  	<option :selected="phxdetails.icd_type == 'Subcutaneous ICD'">Subcutaneous ICD</option>
								  </select>
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="icd_manufacturer" class="col-sm-5 col-form-label">Manufacturer</label>
							<div class="col-sm-6 inline-f">
								<div style="margin-left: -20px; text-align: center;">
								  <select class="form-control" name="icd_manufacturer">
								  	<option :selected="phxdetails.icd_manufacturer == 'Medtronic'">Medtronic</option>
								  	<option :selected="phxdetails.icd_manufacturer == 'Boston Scientific'">Boston Scientific</option>
								  	<option :selected="phxdetails.icd_manufacturer == 'Biotronik'">Biotronik</option>
								  	<option :selected="phxdetails.icd_manufacturer == 'St. Jude Medical'">St. Jude Medical</option>
								  	<option :selected="phxdetails.icd_manufacturer == 'Vitatron'">Vitatron</option>
								  	<option :selected="phxdetails.icd_manufacturer == 'SkyNet'">SkyNet</option>
								  </select>
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="date_implanted" class="col-sm-5 col-form-label">Date Implanted (MM-DD-YYYY)</label>
							<div class="col-sm-6 inline-f">
								<div style="margin-left: -20px; text-align: center;">
								  <input name="icd_date_implanted" class="form-control" type="text" v-mask="'##-##-####'" v-model="phxdetails.icd_date_implanted" placeholder="MM-DD-YYYY">
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="date_checked" class="col-sm-5 col-form-label">Date Checked (MM-DD-YYYY)</label>
							<div class="col-sm-6 inline-f">
								<div style="margin-left: -20px; text-align: center;">
								  <input name="icd_date_checked" class="form-control" type="text" v-mask="'##-##-####'" v-model="phxdetails.icd_date_checked" placeholder="MM-DD-YYYY">
								</div>
							</div>
						</div>

					</div>			
				</div>

			</form>
		</div>
	</div>
</template>

<script>
	import { PerfectScrollbar } from 'vue2-perfect-scrollbar';
	import datePicker from 'vue-bootstrap-datetimepicker';
	import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
	import Constant,{ constant } from '../Constant';
	import Pusher from 'pusher-js';
	import axios from 'axios';
	import * as moment from "moment/moment";
	export default {
		props: ['phxdetails'],
		components: {
			PerfectScrollbar, datePicker
		},
		data () {
			return {
				PHXHeading: 'Add/Remove Past Medical History',
				histories: ['Smoker', 'Diabetes', 'Hypertension', 'Dyslipidaemia', 'IHD', 'AF', 'Valve Disease', 'CCF', 'CVA/TIA', 'CKD', 'PVD', 'COPD', 'PPM', 'AICD'],
		        userid: this.$route.params.letterid,
		        showPHX: true,
		        dashline: '_',
		        showSmoker: false,
		        showDiabetes: false,
		        showHypertension: false,
		        showDyslipidaemia: false,
		        showIHD: false,
		        showAF: false,
		        showValve: false,
		        showCCF: false,
		        showCVA: false,
		        showCKD: false,
		        showPVD: false,
		        showCOPD: false,
		        showPPM: false,
		        showAICD: false,
		        smokeresults: false,
		        yearSmoking: '',
		        cigarPerDay: '',
		        smokingresult: '',
		        date_implanted: '',
		        date_checked: '',
		        icd_date_checked: '',
		        icd_date_implanted: '',
		        checkedPHX: [],
		        bloods: [],
		        blood: [],
			}
		},
		computed : {
			years () {
			  const year = new Date().getFullYear()
			  return Array.from({length: year - 1900}, (value, index) => 1901 + index)
			}
		},
		watch: {
			yearSmoking: function (val) {
				this.getCigarPacks()
			},
			cigarPerDay: function (val) {
				this.getCigarPacks()
			},
			checkedPHX() {
			    this.$nextTick(() => {
			      this.savePHX();
			    });
			}
		},
		methods: {
			checkPHX(event, name) {
				if (event.target.checked) {
					this.checkedPHX.push(name);
				}
			},
			getCigarPacks() {
				this.smokeresults = true;
				this.smokingresult = (this.cigarPerDay / 20) * (this.yearSmoking)
			},
			goBack() {
				this.showPHX = true;
				this.hideall();
			},
			savePHX() {
				const form = new FormData(document.getElementById("newphx-details"));
				axios.post(constant.savePHxUrl+this.userid, form, {
					headers: constant.headers(this.$cookie.get('access_token')),
				}).then(response => {
					const data = response.data;
					this.$emit('phx', data);
				}).catch(err => {
					//
				});
			},
			openPhx(e, name) {
		        if (this.$refs[name][0].checked) {
		        	this.showPHX = false;
		        	if (name == 'Smoker') {
						this.showSmoker = true;
		        	}
		        	if (name == 'Diabetes') {
						this.showDiabetes = true;
		        	}
		        	if (name == 'Hypertension') {
						this.showHypertension = true;
		        	}
		        	if (name == 'Dyslipidaemia') {
						this.showDyslipidaemia = true;
		        	}
		        	if (name == 'IHD') {
						this.showIHD = true;
		        	}
		        	if (name == 'AF') {
						this.showAF = true;
		        	}
		        	if (name == 'Valve Disease') {
						this.showValve = true;
		        	}
		        	if (name == 'CCF') {
						this.showCCF = true;
		        	}
		        	if (name == 'CVA/TIA') {
						this.showCVA = true;
		        	}
		        	if (name == 'CKD') {
						this.showCKD = true;
		        	}
		        	if (name == 'PVD') {
						this.showPVD = true;
		        	}
		        	if (name == 'COPD') {
						this.showCOPD = true;
		        	}
		        	if (name == 'PPM') {
						this.showPPM = true;
		        	}
		        	if (name == 'AICD') {
						this.showAICD = true;
		        	}
		        }
			},
			hideall() {
				this.showSmoker = false;
				this.showDiabetes = false;
				this.showHypertension = false;
				this.showDyslipidaemia = false;
				this.showIHD = false;
				this.showAF = false;
				this.showValve = false;
				this.showCCF = false;
				this.showCVA = false;
				this.showCKD = false;
				this.showPVD = false;
				this.showCOPD = false;
				this.showPPM = false;
				this.showAICD = false;
			},
	    	getBloods() {
				axios.get(constant.getBloods+this.userid, {
                    headers: constant.headers(this.$cookie.get('access_token')),
                }).then(response => {
			      	this.bloods = response.data
			      }).catch(error => {
			      });
	    	},
	    	getFirstBlood() {
				axios.get(constant.firstBlood+this.userid, {
                    headers: constant.headers(this.$cookie.get('access_token')),
                }).then(response => {
			      	this.blood = response.data
			      }).catch(error => {
			      });
	    	},
		},
		mounted() {
			this.getBloods();
			this.getFirstBlood();
		},
	}
</script>