<template>
	
	<div>

		<form @change="saveProfile()" id="patient-details">
			<div>
				<div v-show="showPatientLists">
					<ul class="checkable">
						<li>
							<div class="custom-control custom-checkbox patient-lists">
								<p @click="showPatient('Patient')" class="boxlabel" style="margin-left: 10px;"><i class="material-icons">person</i> Patient Information<span><i class="material-icons">keyboard_arrow_right</i></span></p>

							</div>
						</li>
						<li>
							<div class="custom-control custom-checkbox patient-lists">
								<p @click="showPatient('Social')" class="boxlabel" style="margin-left: 10px;"><i class="material-icons">history</i> Social History<span><i class="material-icons">keyboard_arrow_right</i></span></p>

							</div>
						</li>
						<li>
							<div class="custom-control custom-checkbox patient-lists">
								<p @click="showPatient('Family')" class="boxlabel" style="margin-left: 10px;"><i class="material-icons">people</i> Family Information<span><i class="material-icons">keyboard_arrow_right</i></span></p>

							</div>
						</li>
						<li>
							<div class="custom-control custom-checkbox patient-lists">
								<p @click="showPatient('Doctor')" class="boxlabel" style="margin-left: 10px;"><i class="material-icons">local_hospital</i> Referring Doctor Details<span><i class="material-icons">keyboard_arrow_right</i></span></p>

							</div>
						</li>
					</ul>
				</div>

				<div v-show="showPatientInformation">

					<div class="labelopen" @click="goBack">
						<p class="boxlabel"><i class="material-icons">person</i> Patient Information<span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>

					<div class="form-group row">
						<label for="title" class="col-sm-3 col-form-label">Title</label>
						<div class="col-sm-6">
							<select class="custom-select" name="title" id="title">
								<option selected disabled>Select</option>
								<option disabled v-for="nameprefix in nameprefixes" v-bind:value="nameprefix" :selected="nameprefix == patientdetails.title">{{ nameprefix }}</option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label for="firstname" class="col-sm-3 col-form-label">First name</label>
						<div class="col-sm-9">
							<input readonly type="text" class="form-control" id="firstname" name="firstname" :value="patientdetails.firstname">
						</div>
					</div>

					<div class="form-group row">
						<label for="lastname" class="col-sm-3 col-form-label">Last name</label>
						<div class="col-sm-9">
							<input readonly type="text" class="form-control" id="lastname" name="lastname" :value="patientdetails.lastname">
						</div>
					</div>

					<div class="form-group row birthdate">
						<label for="Birthdate" class="col-sm-3 col-form-label">Birthdate</label>
						<input type="hidden" :value="patientdetails != null ? vdate = patientdetails.age : ''">
						<div class="col-sm-9">
							<date-picker readonly id="Birthdate" name="age" autocomplete="off" style="border-radius: 5px;" :config="options" v-model="vdate" @dp-change="saveProfile"></date-picker>
							<div class="input-group-addon">
								<i class="material-icons">calendar_today</i>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<label for="sex" class="col-sm-3 col-form-label">Sex</label>
						<div class="col-sm-9">
							<select disable class="custom-select" id="sex" name="sex">
								<option selected disabled>Select</option>
								<option disabled v-for="sex in sexes" v-bind:value="sex" :selected="sex == patientdetails.sex">{{ sex }}</option>
							</select>
						</div>
					</div>


					<div class="form-group row">
						<label for="Medicare" class="col-sm-3 col-form-label">Medicare #</label>
						<div class="col-sm-9">
							<input readonly type="text" id="Medicare" class="form-control" name="medicare" :value="patientdetails.medicare">
						</div>
					</div>

				</div>


				<div v-show="showSocial">
					<div class="labelopen" @click="goBack">
						<p class="boxlabel"><i class="material-icons">history</i> Social History<span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>
					<div class="form-group row">
						<label for="Account" class="col-sm-3 col-form-label">Occupation</label>
						<div class="col-sm-9">
							<input type="text" id="Account" class="form-control" name="account_no" :value="patientdetails.account_no">
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-4" v-for="(smokere, index) in smokers">
							<div class="form-check form-check-inline">
								<input class="form-check-input custom-control-input customradio" type="radio" name="smoker" :id="smokere.name" :value="smokere.name" :checked="smokere.name == patientdetails.smoker">
								<label class="form-check-label custom-control-label radiolabel" :for="smokere.name">{{ smokere.name }}</label>
							</div>
						</div>
					</div>
				</div>


				<div v-show="showFamily">
					<div class="labelopen" @click="goBack">
						<p class="boxlabel"><i class="material-icons">people</i> Family History<span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>
					
				</div>

				<div v-show="showDoctor">
					<div class="labelopen" @click="goBack">
						<p class="boxlabel"><i class="material-icons">local_hospital</i> Referring Doctor Details<span><i class="material-icons">keyboard_arrow_left</i></span></p>
					</div>
					<div class="form-group row center">
						<div class="referring-doctors">	
							<div class="empty-doctor" v-show="isEmpty">
								<div style="font-weight: bold">{{ doctor.title }} {{ doctor.firstname }} {{ doctor.lastname }} ({{ doctor.specialty }})</div>
								<div>{{ doctor.practice }}</div>
								<div>{{ doctor.address1 }}</div>
								<div>Ph: {{ doctor.phone }}  Ph: {{ doctor.fax }}</div>
							</div>
							<div class="empty-doctor" v-show="!isEmpty">Select doctor below</div>
						</div>

					</div>

					<div class="form-group row">
						<label for="search" class="col-sm-3 col-form-label" style="z-index: 1">Search</label>
						<div class="col-sm-9">
							<input type="text" id="search" class="form-control">
						</div>
					</div>

					<div class="form-group row">
						<div class="add-new-doctor-btn" @click="addDoctorModal">	
				    		Add new doctor
				    	</div>
					</div>
					<ul>
						<li v-for="doctor in doctors">
						    <div :class="{activedoctor: doctor.id === activeDoc }" class="custom-control custom-checkbox">
								<input :checked="doctor.id == patientdetails.doctor_id" :id="doctor.id" :value="doctor.id" type="radio" class="custom-control-input custombox" name="doctor_id">
								<label class="custom-control-label boxlabel" :for="doctor.id" ></label> 
								<p  @click.prevent="viewDoctor($event, doctor.id)" class="boxlabel" style="margin-left: 10px;padding-top: 10px;margin-top: -15px;">{{ doctor.firstname + ' ' + doctor.lastname }} <span><i @click="updateDoctorModal(doctor.id)" class="material-icons edit">edit</i> <i @click="deleteDoctorModal(doctor.id)" class="material-icons delete">delete</i></span></p>
						    </div>
						</li>
					</ul>

				</div>
			</div>
		</form>
		<modal name="add-doctor" draggable=".window-header" height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Add doctor</h5>
		        <button class="close" @click="$modal.hide('add-doctor')">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
				<form method="post" id="add-doctor-details" @submit="addDoctor($event)">
				  <div class="form-group">
				    <label for="_title">Title</label>
				    <select class="form-control" id="_title" name="title">
					    <option selected></option>
					    <option v-for="docTitle in docTitles">{{ docTitle }}</option>
				    </select>
				  </div>
				  <div class="form-group form-row">
				    <div class="col">
				    	<label for="_fname">First name</label>
				      <input type="text" id="_fname" name="firstname" class="form-control" placeholder="" required>
				    </div>
				    <div class="col">
				    <label for="_lname">Last name</label>
				      <input type="text" id="_lname" name="lastname" class="form-control" placeholder="" required>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="_practice">Practice name</label>
				    <input type="text" class="form-control"  name="practice" id="_practice" placeholder="" required>
				  </div>
				  <div class="form-group">
				    <label for="_specialty">Specialty</label>
				    <input type="text" class="form-control" name="specialty" id="_specialty" placeholder="" required>
				  </div>
				  <div class="form-group form-row">
				    <div class="col">
				    	<label for="_address1">Address line 1</label>
				      <input type="text" id="_address1" name="address1" class="form-control" placeholder="" required>
				    </div>
				    <div class="col">
				    <label for="_address2">Address line 2</label>
				      <input type="text" id="_address2" name="address2" class="form-control" placeholder="">
				    </div>
				  </div>
				  <div class="form-group form-row">
				    <div class="col">
				    	<label for="_phone">Phone</label>
				      <input type="text" id="_phone" name="phone" class="form-control" placeholder="" required>
				    </div>
				    <div class="col">
				    <label for="_fax">Fax</label>
				      <input type="text" id="_fax" name="fax" class="form-control" placeholder="">
				    </div>
				  </div>

				  <div class="form-group form-row center">
				  	<button type="submit" class="btn btn-primary add-doctor-btn">Add to Doctor List</button>
				  </div>
				</form>
		      </div>
			</div>
		</modal>

		<modal name="update-doctor" draggable=".window-header" height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Update doctor</h5>
		        <button class="close" @click="$modal.hide('update-doctor')" aria-label="Close" >
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
				<form method="post" id="update-doctor-details" @submit="updateDoctor($event,doc.id)">
				  <div class="form-group">
				    <label for="_title">Title</label>
				    <select class="form-control" id="_title" name="title">
				    	<option selected></option>
				      <option v-for="docTitle in docTitles" :selected="docTitle == doc.title">{{ docTitle }}</option>
				    </select>
				  </div>
				  <div class="form-group form-row">
				    <div class="col">
				    	<label for="_fname">First name</label>
				      <input type="text" id="_fname" :value="doc.firstname" name="firstname" class="form-control" placeholder="" required>
				    </div>
				    <div class="col">
				    <label for="_lname">Last name</label>
				      <input type="text" id="_lname" :value="doc.lastname" name="lastname" class="form-control" placeholder="" required>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="_practice">Practice name</label>
				    <input type="text" class="form-control" :value="doc.practice" name="practice" id="_practice" placeholder="" required>
				  </div>
				  <div class="form-group">
				    <label for="_specialty">Specialty</label>
				    <input type="text" class="form-control" :value="doc.specialty" name="specialty" id="_specialty" placeholder="" required>
				  </div>
				  <div class="form-group form-row">
				    <div class="col">
				    	<label for="_address1">Address line 1</label>
				      <input type="text" id="_address1" :value="doc.address1" name="address1" class="form-control" placeholder="" required>
				    </div>
				    <div class="col">
				    <label for="_address2">Address line 2</label>
				      <input type="text" id="_address2" :value="doc.address2" name="address2" class="form-control" placeholder="">
				    </div>
				  </div>
				  <div class="form-group form-row">
				    <div class="col">
				    	<label for="_phone">Phone</label>
				      <input type="text" id="_phone" :value="doc.phone" name="phone" class="form-control" placeholder="" required>
				    </div>
				    <div class="col">
				    <label for="_fax">Fax</label>
				      <input type="text" id="_fax" :value="doc.fax" name="fax" class="form-control" placeholder="">
				    </div>
				  </div>

				  <div class="form-group form-row center">
				  	<button type="submit" class="btn btn-primary add-doctor-btn">Update doctor</button>
				  </div>
				</form>
		      </div>
			</div>
		</modal>

		<modal name="delete-doctor" draggable=".window-header" height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Delete doctor</h5>
		        <button class="close" @click="$modal.hide('delete-doctor')" aria-label="Close" >
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body center">
		      	<div>Are you sure?</div>
		      	<div>This cannot be undone.</div>
				
				<button class="btn btn-primary add-doctor-btn" style="margin: 0 auto; margin-top: 15px" @click="deleteDoctor(docId)">Delete</button>

		      </div>
			</div>
		</modal>


	</div>

</template>

<script>
	import Dashboard from '../Dashboard';
	import { PerfectScrollbar } from 'vue2-perfect-scrollbar';
	import datePicker from 'vue-bootstrap-datetimepicker';
	import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
	import Constant,{ constant } from '../Constant';
	import Pusher from 'pusher-js';
	import axios from 'axios';
	export default {
		props: ['patientdetails'],
		components: {
			PerfectScrollbar, datePicker, Dashboard
		},
		data () {
			return {
				nameprefixes: constant.titles,
				sexes: constant.sexes,
				smokers: constant.smokers,
				showPatientLists: true,
				showPatientInformation: false,
				showSocial: false,
				showFamily: false,
				showDoctor: false,
				vdate: this.patientdetails.age,
				age: '',
				date: 'Feb 1, 2020',
		        options: {
			        format: 'DD-MM-YYYY', 
			        useCurrent: false,
		        },
		        doctors: {},
		        doctor: {},
		        doc: [],
		        isEmpty: false,
		        pickDoctor: true,
		        activeDoc: '',
		        docTitles: ['Dr', 'A/Prof', 'Prof', 'Mr', 'Mrs', 'Ms', 'Miss'],
		        docId: '',
		        userid: this.$route.params.letterid,

			}
		},
		watch: {
			vdate(val) {
				// this.age = val
				// this.saveProfile()
			},
		},
		created() {
			this.getDoctors();
		},
		methods: {
			saveProfile() {
				const form = new FormData(document.getElementById("patient-details"));
				form['age'] = this.age;
				axios.post(constant.savePatientUrl+this.userid, form, {
					headers: constant.headers(this.$cookie.get('access_token')),
				}).then(response => {
					const data = response.data;
					this.$emit('patient', data);
				}).catch(err => {
				});
			},
			showPatient(val) {
				if (val == 'Patient') {
					this.showPatientLists = false;
					this.showPatientInformation = true;
					this.showSocial = false;
					this.showFamily = false;
					this.showDoctor = false;
				}
				if (val == 'Social') {
					this.showPatientLists = false;
					this.showPatientInformation = false;
					this.showSocial = true;
					this.showFamily = false;
					this.showDoctor = false;
				}
				if (val == 'Family') {
					this.showPatientLists = false;
					this.showPatientInformation = false;
					this.showSocial = false;
					this.showFamily = true;
					this.showDoctor = false;
				}
				if (val == 'Doctor') {
					this.showPatientLists = false;
					this.showPatientInformation = false;
					this.showSocial = false;
					this.showFamily = false;
					this.showDoctor = true;
				}
			},
			goBack() {
				this.showPatientLists = true;
				this.showPatientInformation = false;
				this.showSocial = false;
				this.showFamily = false;
				this.showDoctor = false;
			},
			getDoctors() {
				axios.get(constant.getDoctors)
			      .then(response => {
			        this.doctors = response.data;
			      }).catch(error => {
			      });
			},
			addDoctor(e) {
				e.preventDefault();
			      const form = new FormData(document.getElementById("add-doctor-details"));
			      axios.post(constant.addDoctor, form, {
			              headers: constant.headers(this.$cookie.get('access_token')),
			          }).then(response => {
						const data = response.data;
						this.getDoctors();
						this.$modal.hide('add-doctor');
			          }).catch(err => {
			          	//
			          });
			},
			updateDoctor(e,id) {
				e.preventDefault();
				const form = new FormData(document.getElementById("update-doctor-details"));
				axios.post(constant.updateDoctor+id, form, {
				      headers: constant.headers(this.$cookie.get('access_token')),
				  }).then(response => {
					this.getDoctors();
					this.$modal.hide('update-doctor');
					this.$emit('patient', response.data);
				  }).catch(err => {
				  	//
				  });			
		    },
			deleteDoctor(id) {
				axios.get(constant.deleteDoctor+id)
			      .then(response => {
			        this.getDoctors();
			        this.$modal.hide('delete-doctor');
			        this.doctor = [];
			        this.isEmpty = false;
			      }).catch(error => {
			      	//
			      });
			},
			viewDoctor(event, id) {
				event.preventDefault();
				this.activeDoc = id;
				axios.get(constant.getDoctor+id)
			      .then(response => {
			        this.doctor = response.data;
			        this.isEmpty = true;
			      }).catch(error => {
			      	//
			      });
			},
			assignDoctor(event, id) {
				if (event.target.checked) {
					
				}
			},
			buttonColor() {
		      let result = [];
		      for (var i = 0; i < 3; i++){
		        if (this.activeButton == i){
		          result.push('black');
		        } else {
		          result.push('green');
		        }
		      }
			},
			addDoctorModal() {
				this.$modal.show('add-doctor');
			},
			updateDoctorModal(id) {
				axios.get(constant.getDoctor+id)
			      .then(response => {
			      	this.doc = response.data;
			      	this.$modal.show('update-doctor');
			      }).catch(error => {
			      	//
			      });
			},
			deleteDoctorModal(id) {
				this.docId = id;
				this.$modal.show('delete-doctor');
			},
		},
		mounted () {
		  //
		}
	}
</script>
<style src="vue2-perfect-scrollbar/dist/vue2-perfect-scrollbar.css"/>
<style type="text/css">
.material-icons {
	font-size: 20px
}
.patient-lists {
	padding-left: 0px;
}
.labelopen {
	margin-bottom: 30px;
}
#patient-details .input-group-addon {
	right: 22px !important;
    top: 8px !important;
}
.center {
	text-align: center;
}
.referring-doctors {
	margin-left: 15px;
	width: 100%;
	height: 200px;
    display: flex;
    align-items: center;
}

.empty-doctor {
	text-align: center;
    width: 100%;
    font-size: 15px
}
._button {
	margin: 0px !important;
}
/*#patient-details .material-icons {
	right: 0px;
    top: 3px;
    position: relative;
}*/
.edit {
	color: #00A5B4;
}
.delete {
	color: red;
}
.activedoctor{
	background-color: #E1CEB0;
}
.delete-doctor-btn {
	margin: 0 auto;
}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
    border-color: #adb5bd;
    background-color: #fff;
}
</style>