<template>
	<div>
		<div v-show="showTTE">
			<ul class="checkable">
				<li v-for="tte in ttes">
				    <div class="custom-control custom-checkbox">
						<label class="custom-control-label boxlabel"></label> 
						<p @click="openTTE($event, tte.name)" class="boxlabel" style="margin-left: 10px;">{{ tte.name }}<span><i class="material-icons">keyboard_arrow_right</i></span></p>

				    </div>
				</li>
			</ul>
		</div>

		<div v-show="showLVHypokinesis">
			<div>
				<div class="labelopen" @click="goBack">
					<p class="boxlabel">LV Hypokinesis<span><i class="material-icons">keyboard_arrow_left</i></span></p>
				</div>
			</div>			
		</div>
	<form @change="savePHX($event)" id="phx-details">	
		<div v-show="showLeftVentricle">
			<div>
				<div class="labelopen" @click="goBack" style="margin-bottom: 30px">
					<p class="boxlabel">Left Ventricle<span><i class="material-icons">keyboard_arrow_left</i></span></p>
				</div>

				<div class="form-group row">
					<label for="lv_thickness" class="col-sm-3 col-form-label">LV thickness</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="lv_thickness" name="lv_thickness" :value="ttedetails.lv_thickness" type="number" step="0.1" min="0.5" max="3.0" style="width: 70px;">
						</div>
						<div class="divide">
							<p>cm</p>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<label for="lvidd" class="col-sm-3 col-form-label">LVIDd</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="lvidd" step="0.1" min="3.0" max="10.0" name="lvidd" :value="ttedetails.lvidd" type="number" style="width: 70px;">
						</div>
						<div class="divide">
							<p>cm</p>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<label for="lvef" class="col-sm-3 col-form-label">LVEF</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="lvef" name="lvef" type="number" max="80" min="5" :value="ttedetails.lvef" step="1" style="width: 70px;">
						</div>
						<div class="divide">
							<p>cm</p>
						</div>
					</div>
				</div>

			</div>			
		</div>

		<div v-show="showLeftRightAtrium">
			<div>
				<div class="labelopen" @click="goBack" style="margin-bottom: 30px">
					<p class="boxlabel">Left and Right Atrium<span><i class="material-icons">keyboard_arrow_left</i></span></p>
				</div>

				<div class="submodule-subtitle">Left Atrium</div>
				<div class="form-group row">
					<label for="la_size" class="col-sm-3 col-form-label">LA Size</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="la_size" min="1" max="60" name="la_size" :value="ttedetails.la_size" type="number" step="1" style="width: 70px;">
						</div>
						<div class="divide">
							<p>cm</p>
						</div>
					</div>
				</div>

				<div class="submodule-subtitle">Right Atrium</div>
				<div class="form-group row">
					<label for="RA Size" class="col-sm-3 col-form-label">RA Size</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="RA Size" min="1" max="60" name="ra_size" :value="ttedetails.ra_size" type="number" step="1" style="width: 70px;">
						</div>
						<div class="divide">
							<p>cm</p>
						</div>
					</div>
				</div>

			</div>			
		</div>

		<div v-show="showAorta">
			<div>
				<div class="labelopen" @click="goBack" style="margin-bottom: 30px">
					<p class="boxlabel">Aorta<span><i class="material-icons">keyboard_arrow_left</i></span></p>
				</div>

				<div class="form-group row">
					<label for="Aortic Root" class="col-sm-3 col-form-label">Aortic Root</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="Aortic Root" min="20" max="50" name="aortic_root" :value="ttedetails.aortic_root" type="number" step="1" style="width: 70px;">
						</div>
						<div class="divide">
							<p>cm</p>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="Ascending Aorta" class="col-sm-3 col-form-label">Ascending Aorta</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="Ascending Aorta" min="20" max="50" name="ascending_aorta" :value="ttedetails.ascending_aorta" type="number" step="1" style="width: 70px;">
						</div>
						<div class="divide">
							<p>cm</p>
						</div>
					</div>
				</div>

			</div>			
		</div>

		<div v-show="showIntracardiacShunts">
			<div>
				<div class="labelopen" @click="goBack" style="margin-bottom: 30px">
					<p class="boxlabel">Intracardiac Shunts<span><i class="material-icons">keyboard_arrow_left</i></span></p>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input class="form-check-input" :checked="ttedetails.intracadiac_shunts != null && ttedetails.intracadiac_shunts.includes('PFO')" type="checkbox"  name="intracadiac_shunts[]" id="PFO" value="PFO">
					  <label class="form-check-label" for="PFO">PFO</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input class="form-check-input" :checked="ttedetails.intracadiac_shunts != null && ttedetails.intracadiac_shunts.includes('ASD')" type="checkbox" name="intracadiac_shunts[]"  id="ASD" value="ASD">
					  <label class="form-check-label" for="ASD">ASD</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input class="form-check-input" :checked="ttedetails.intracadiac_shunts != null && ttedetails.intracadiac_shunts.includes('VSD')" type="checkbox" name="intracadiac_shunts[]"  id="VSD" value="VSD">
					  <label class="form-check-label" for="VSD">VSD</label>
					</div>
				</div>

			</div>			
		</div>

		<div v-show="showAorticValve">
			<div>
				<div class="labelopen" @click="goBack" style="margin-bottom: 30px">
					<p class="boxlabel">Aortic Valve<span><i class="material-icons">keyboard_arrow_left</i></span></p>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="checkbox" :checked="ttedetails.aortic_valve == 'Normal'" name="aortic_valve" id="aortic_valve" value="Normal">
					  <label class="form-check-label" for="aortic_valve">Normal</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="stenosis($event, 'No Sclerosis')" class="form-check-input" type="radio" name="aortic_valve_sclerosis" id="No Sclerosis" value="No Sclerosis" :checked="ttedetails.aortic_valve_sclerosis == 'No Sclerosis'">
					  <label class="form-check-label" for="No Sclerosis">No Sclerosis</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="stenosis($event, 'Aortic Sclerosis')" class="form-check-input" type="radio" name="aortic_valve_sclerosis" id="Aortic Sclerosis" value="Aortic Sclerosis" :checked="ttedetails.aortic_valve_sclerosis == 'Aortic Sclerosis'">
					  <label class="form-check-label" for="Aortic Sclerosis">Aortic Sclerosis</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="stenosis($event, 'Aortic Stenosis')" class="form-check-input" type="radio" name="aortic_valve_sclerosis" id="Aortic Stenosis" value="Aortic Stenosis" :checked="ttedetails.aortic_valve_sclerosis == 'Aortic Stenosis'">
					  <label class="form-check-label" for="Aortic Stenosis">Aortic Stenosis</label>
					</div>
				</div>

				<div v-if="ttedetails.aortic_valve_sclerosis == 'Aortic Stenosis'">
					<div class="form-group row" style="margin-left: 20px">
						<label for="Aortic Root" class="col-sm-3 col-form-label">Mean Gradient</label>
						<div class="col-sm-3 inline-f">
							<div style="margin-left: -20px; text-align: center;">
							  <input name="aortic_valve_sclerosis_mean_gradient" max="70" min="0" class="form-control" id="Mean Gradient" type="number" step="any" style="width: 70px;" :value="ttedetails.aortic_valve_sclerosis_mean_gradient">
							</div>
							<div class="divide">
								<p>cm</p>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="regurgitation($event, 'No Regurgitation')" class="form-check-input" type="radio" name="aortic_valve_regurgitation" id="No Regurgitation" value="No Regurgitation" :checked="ttedetails.aortic_valve_regurgitation == 'No Regurgitation'">
					  <label class="form-check-label" for="No Regurgitation">No Regurgitation</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="regurgitation($event, 'Regurgitation')" class="form-check-input" type="radio" name="aortic_valve_regurgitation" id="Regurgitation" value="Regurgitation" :checked="ttedetails.aortic_valve_regurgitation == 'Regurgitation'">
					  <label class="form-check-label" for="Regurgitation">Regurgitation</label>
					</div>
				</div>

				<div v-if="ttedetails.aortic_valve_regurgitation == 'Regurgitation'">
					<div class="form-group row" style="margin-left: 20px">
						<label for="Aortic Root" class="col-sm-3 col-form-label">PHT</label>
						<div class="col-sm-3 inline-f">
							<div style="margin-left: -20px; text-align: center;">
							  <input class="form-control" max="700" min="100" id="PHT" name="aortic_valve_regurgitation_pht" type="number" step="any" style="width: 70px;" :value="ttedetails.aortic_valve_regurgitation_pht">
							</div>
							<div class="divide">
								<p>cm</p>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="checkbox" name="bicuspid_aortic_valve" id="Bicuspid Aortic Valve" value="Bicuspid Aortic Valve" :checked="ttedetails.bicuspid_aortic_valve == 'Bicuspid Aortic Valve'">
					  <label class="form-check-label" for="Bicuspid Aortic Valve">Bicuspid Aortic Valve</label>
					</div>
				</div>

			</div>			
		</div>

		<div v-show="showMitralValve">
			<div>
				<div class="labelopen" @click="goBack" style="margin-bottom: 30px">
					<p class="boxlabel">Mitral Valve<span><i class="material-icons">keyboard_arrow_left</i></span></p>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="checkbox" name="mintral_valve" id="Normal_MV" value="Normal" :checked="ttedetails.mintral_valve == 'Normal'">
					  <label class="form-check-label" for="Normal_MV">Normal</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="stenosis_mv($event, 'No Sclerosis')" class="form-check-input" type="radio" name="mintral_valve_stenosis" id="No Sclerosis_MV" value="No Stenosis" :checked="ttedetails.mintral_valve_stenosis == 'No Stenosis'">
					  <label class="form-check-label" for="No Sclerosis_MV">No Stenosis</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="stenosis_mv($event, 'Aortic Sclerosis')" class="form-check-input" type="radio" name="mintral_valve_stenosis" id="Aortic Sclerosis_MV" value="Mitral Stenosis" :checked="ttedetails.mintral_valve_stenosis == 'Mitral Stenosis'">
					  <label class="form-check-label" for="Aortic Sclerosis_MV">Mitral Stenosis</label>
					</div>
				</div>

				<div v-if="ttedetails.mintral_valve_stenosis == 'Mitral Stenosis'">
					<div class="form-group row" style="margin-left: 20px">
						<label for="Mean Gradient_MV" class="col-sm-3 col-form-label">Mean Gradient</label>
						<div class="col-sm-3 inline-f">
							<div style="margin-left: -20px; text-align: center;">
							  <input  class="form-control" id="Mean Gradient_MV" name="mintral_valve_stenosis_mean_gradient" type="number" step="any" max="20" min="1" style="width: 70px;" :value="ttedetails.mintral_valve_stenosis_mean_gradient">
							</div>
							<div class="divide">
								<p>cm</p>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="regurgitation_mv($event, 'No Regurgitation')" class="form-check-input" type="radio" name="mintral_valve_regurgitation" id="No Regurgitation_MV" value="No Regurgitation" :checked="ttedetails.mintral_valve_regurgitation == 'No Regurgitation'">
					  <label class="form-check-label" for="No Regurgitation_MV">No Regurgitation</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="regurgitation_mv($event, 'Regurgitation')" class="form-check-input" type="radio" name="mintral_valve_regurgitation" id="Regurgitation_MV" value="Regurgitation" :checked="ttedetails.mintral_valve_regurgitation == 'Regurgitation'">
					  <label class="form-check-label" for="Regurgitation_MV">Regurgitation</label>
					</div>
				</div>

				<div v-if="ttedetails.mintral_valve_regurgitation == 'Regurgitation'">
					<div class="form-group row col-sm-12" style="inline-flex; margin-left: 20px;">
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="mintral_valve_regurgitation_condition" id="Mild_MV" value="Mild" :checked="ttedetails.mintral_valve_regurgitation_condition == 'Mild'">
						  <label class="form-check-label" for="Mild_MV">Mild</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="mintral_valve_regurgitation_condition" id="Moderate_MV" value="Moderate" :checked="ttedetails.mintral_valve_regurgitation_condition == 'Moderate'">
						  <label class="form-check-label" for="Moderate_MV">Moderate</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="mintral_valve_regurgitation_condition" id="Severe_MV" value="Severe" :checked="ttedetails.mintral_valve_regurgitation_condition == 'Severe'">
						  <label class="form-check-label" for="Severe_MV">Severe</label>
						</div>
					</div>

					<div class="form-group row col-sm-12" style="margin-left: 20px;">
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" name="mintral_valve_regurgitation_prolapse[]" id="Ant leaflet prolapse_MV" value="Ant leaflet prolapse" :checked="ttedetails.mintral_valve_regurgitation_prolapse != null && ttedetails.mintral_valve_regurgitation_prolapse.includes('Ant leaflet prolapse')">
						  <label class="form-check-label" for="Ant leaflet prolapse_MV">Ant leaflet prolapse</label>
						</div>
					</div>

					<div class="form-group row col-sm-12" style="margin-left: 20px;">
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" name="mintral_valve_regurgitation_prolapse[]" id="Post leaflet prolapse_MV" value="Post leaflet prolapse" :checked="ttedetails.mintral_valve_regurgitation_prolapse != null && ttedetails.mintral_valve_regurgitation_prolapse.includes('Post leaflet prolapse')">
						  <label class="form-check-label" for="Post leaflet prolapse_MV">Post leaflet prolapse</label>
						</div>
					</div>
				</div>

			</div>			
		</div>

		<div v-show="showTricuspidValve">
			<div>
				<div class="labelopen" @click="goBack" style="margin-bottom: 30px">
					<p class="boxlabel">Tricuspid Valve<span><i class="material-icons">keyboard_arrow_left</i></span></p>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="regurgitation_tv($event, 'No Regurgitation')" class="form-check-input" type="radio" name="tricuspid_valve_regurgitation" id="No Regurgitation_TV" value="No Regurgitation" :checked="ttedetails.tricuspid_valve_regurgitation == 'No Regurgitation'">
					  <label class="form-check-label" for="No Regurgitation_TV">No Regurgitation</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="regurgitation_tv($event, 'Regurgitation')" class="form-check-input" type="radio" name="tricuspid_valve_regurgitation" id="Regurgitation_TV" value="Regurgitation" :checked="ttedetails.tricuspid_valve_regurgitation == 'Regurgitation'">
					  <label class="form-check-label" for="Regurgitation_TV">Regurgitation</label>
					</div>
				</div>

				<div v-if="ttedetails.tricuspid_valve_regurgitation == 'Regurgitation'">
					<div class="form-group row col-sm-12" style="inline-flex; margin-left: 20px;">
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="tricuspid_valve_regurgitation_condition" id="Mild_TV" value="Mild" :checked="ttedetails.tricuspid_valve_regurgitation_condition == 'Mild'">
						  <label class="form-check-label" for="Mild_TV">Mild</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="tricuspid_valve_regurgitation_condition" id="Moderate_TV" value="Moderate" :checked="ttedetails.tricuspid_valve_regurgitation_condition == 'Moderate'">
						  <label class="form-check-label" for="Moderate_TV">Moderate</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="tricuspid_valve_regurgitation_condition" id="Severe_TV" value="Severe" :checked="ttedetails.tricuspid_valve_regurgitation_condition == 'Severe'">
						  <label class="form-check-label" for="Severe_TV">Severe</label>
						</div>
					</div>

					<div class="form-group row" style="margin-left: 20px">
						<label for="PASP_TV" class="col-sm-3 col-form-label">PASP</label>
						<div class="col-sm-3 inline-f">
							<div style="margin-left: -20px; text-align: center;">
							  <input class="form-control" id="PASP_TV" name="tricuspid_valve_regurgitation_pasp" type="number" step="any" style="width: 70px;" :value="ttedetails.tricuspid_valve_regurgitation_pasp">
							</div>
							<div class="divide">
								<p>mmHg</p>
							</div>
						</div>
					</div>
				</div>

			</div>			
		</div>
	</form>
	</div> 
</template>
<script>
	import Pusher from 'pusher-js';
	import axios from 'axios';
	import Constant,{ constant } from '../Constant';
	export default {
    	props: ['ttedetails'],
    	components: {
		   //
		},
        data(){
	        return {
	        	shunts: this.ttedetails,
	        	ttes: [
	        		{
	        			name: 'LV Hypokinesis'
	        		},
	        		{
	        			name: 'Left Ventricle'
	        		},
	        		{
	        			name: 'Left and Right Atrium'
	        		},
	        		{
	        			name: 'Aorta'
	        		},
	        		{
	        			name: 'Intracardiac Shunts'
	        		},
	        		{
	        			name: 'Aortic Valve'
	        		},
	        		{
	        			name: 'Mitral Valve'
	        		},
	        		{
	        			name: 'Tricuspid Valve'
	        		}
	        	],
	        	showTTE: true,
	        	showLVHypokinesis: false,
	        	showLeftVentricle: false,
	        	showLeftRightAtrium: false,
	        	showAorta: false,
	        	showIntracardiacShunts: false,
	        	showAorticValve: false,
	        	showMitralValve: false,
	        	showTricuspidValve: false,
	        	aorticStenosisStatus: true,
	        	regurgitationStatus: true,
	        	aorticStenosisStatusMV: true,
	        	regurgitationStatusMV: true,
	        	aorticStenosisStatusTV: true,
	        	tte_requests: '',
	        	userid: this.$route.params.letterid,
	        }
	    },
		mounted() {
			this.shunts = this.ttedetails.intracadiac_shunts;
		},
	    methods: {
	    	goBack() {
	    		this.showTTE = true;
	    		this.hideAll();
	    	},
	    	hideAll() {
				this.showLVHypokinesis = false;
				this.showLeftVentricle = false;
				this.showLeftRightAtrium = false;
				this.showAorta = false;
				this.showIntracardiacShunts = false;
				this.showAorticValve = false;
				this.showMitralValve = false;
				this.showTricuspidValve = false;
	    	},
	    	savePHX(ee) {
				const form = new FormData(document.getElementById("tte-details"));
				axios.post(constant.saveTteUrl+this.userid, form, {
				    headers: constant.headers(this.$cookie.get('access_token')),
				}).then(response => {
					const data = response.data;
					this.$emit('tte', data);
					this.$emit('saved', true);
				}).catch(err => {
					//
				});
	    	},

	    	openTTE(event, val) {
	    		this.showTTE = false;
	    		if (val === 'LV Hypokinesis') {
	    			this.showLVHypokinesis = true;
	    		}
	    		if (val === 'Left Ventricle') {
	    			this.showLeftVentricle = true;
	    		}
	    		if (val === 'Left and Right Atrium') {
	    			this.showLeftRightAtrium = true;
	    		}
	    		if (val === 'Aorta') {
	    			this.showAorta = true;
	    		}
	    		if (val === 'Intracardiac Shunts') {
	    			this.showIntracardiacShunts = true;
	    		}
	    		if (val === 'Aortic Valve') {
	    			this.showAorticValve = true;
	    		}
	    		if (val === 'Mitral Valve') {
	    			this.showMitralValve = true;
	    		}
	    		if (val === 'Tricuspid Valve') {
	    			this.showTricuspidValve = true;
	    		}
	    	},
	    	stenosis(event, val) {
	    		if (val === 'Aortic Stenosis') {
	    			this.aorticStenosisStatus = false;
	    		} else {
	    			this.aorticStenosisStatus = true;
	    		}
	    	},
	    	regurgitation(event, val) {
	    		if (val === 'Regurgitation') {
	    			this.regurgitationStatus = false;
	    		} else {
	    			this.regurgitationStatus = true;
	    		}
	    	},
	    	stenosis_mv(event, val) {
	    		if (val === 'Aortic Stenosis') {
	    			this.aorticStenosisStatusMV = false;
	    		} else {
	    			this.aorticStenosisStatusMV = true;
	    		}
	    	},
	    	regurgitation_mv(event, val) {
	    		if (val === 'Regurgitation') {
	    			this.regurgitationStatusMV = false;
	    		} else {
	    			this.regurgitationStatusMV = true;
	    		}
	    	},
	    	regurgitation_tv(event, val) {
	    		if (val === 'Regurgitation') {
	    			this.aorticStenosisStatusTV = false;
	    		} else {
	    			this.aorticStenosisStatusTV = true;
	    		}
	    	}
	    }
	}
</script>
<style>

</style>