<template>
	<div>
		<div v-show="showTTE">
			<ul class="checkable">
				<li v-for="tte in ttes">
				    <div class="custom-control custom-checkbox">
						<label class="custom-control-label boxlabel"></label> 
						<p @click="openTTE($event, tte.name)" class="boxlabel" style="margin-left: 10px;">{{ tte.name }}<span><i class="material-icons">keyboard_arrow_right</i></span></p>

				    </div>
				</li>
			</ul>
		</div>

		<div v-show="showLVHypokinesis">
			<div>
				<div class="labelopen" @click="goBack">
					<p class="boxlabel">LV Hypokinesis<span><i class="material-icons">keyboard_arrow_left</i></span></p>
				</div>
				<div class="form-group row">
					<div style="margin-left: 30px;" class="tte_number">{{ TTENumber }}</div>
				</div>
				<div class="form-group row">

					<div class="col-6">
						<svg width="200" height="124" viewBox="0 0 200 124" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<rect width="200" height="124" fill="url(#pattern0_)"/>
							<rect @click="r1(1, whiteTTEImage1, r1whiteTTEColorImage1, 2)" x="103" y="12" width="58" height="45" fill="url(#pattern1_)"/>
							<rect @click="r1(2, whiteTTEImage2, r1whiteTTEColorImage2, 5)" x="103" y="73" width="55" height="48" fill="url(#pattern2_)"/>
							<rect @click="r1(3, whiteTTEImage3, r1whiteTTEColorImage3, 8)" x="56" y="11" width="49" height="44" fill="url(#pattern3_)"/>
							<rect @click="r1(4, whiteTTEImage4, r1whiteTTEColorImage4, 11)" x="58" y="73" width="47" height="47" fill="url(#pattern4_)"/>
							<rect @click="r1(5, whiteTTEImage5, r1whiteTTEColorImage5, 14)" x="28" y="11" width="28" height="50" fill="url(#pattern5_)"/>
							<rect @click="r1(6, whiteTTEImage6, r1whiteTTEColorImage6, 16)" x="28" y="59" width="30" height="55" fill="url(#pattern6_)"/>
							<rect @click="r1(7, whiteTTEImage7, r1whiteTTEColorImage7, 17)" x="1" y="22" width="27" height="77" fill="url(#pattern7_)"/>
							<defs>
							<pattern id="pattern0_" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image0_" transform="translate(-0.00411215) scale(0.00579439 0.00934579)"/>
							</pattern>
							<pattern id="pattern1_" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image1_" transform="translate(-0.00729443) scale(0.0198939 0.025641)"/>
							</pattern>
							<pattern id="pattern2_" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image2_" transform="translate(0 -0.00130208) scale(0.0208333 0.0238715)"/>
							</pattern>
							<pattern id="pattern3_" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image3_" transform="translate(-0.0198711) scale(0.0236305 0.0263158)"/>
							</pattern>
							<pattern id="pattern4_" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image4_" transform="translate(-0.0121951) scale(0.0243902)"/>
							</pattern>
							<pattern id="pattern5_" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image5_" transform="translate(0 -0.0133333) scale(0.0416667 0.0233333)"/>
							</pattern>
							<pattern id="pattern6_" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image6_" transform="translate(0 -0.0034965) scale(0.0384615 0.020979)"/>
							</pattern>
							<pattern id="pattern7_" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image7_" transform="translate(-0.00326797) scale(0.041939 0.0147059)"/>
							</pattern>
							<image id="image0_" width="174" height="107" :xlink:href="whiteTTEImage0"/>
							<image id="image1_" width="51" height="39" :xlink:href="whiteTTEImage1"/>
							<image id="image2_" width="48" height="42" :xlink:href="whiteTTEImage2"/>
							<image id="image3_" width="44" height="38" :xlink:href="whiteTTEImage3"/>
							<image id="image4_" width="42" height="41" :xlink:href="whiteTTEImage4"/>
							<image id="image5_" width="24" height="44" :xlink:href="whiteTTEImage5"/>
							<image id="image6_" width="26" height="48" :xlink:href="whiteTTEImage6"/>
							<image id="image7_" width="24" height="68" :xlink:href="whiteTTEImage7"/>
							</defs>
						</svg>

					</div>
					<div class="col-6">
						<svg width="71" height="71" viewBox="0 0 71 71" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<rect @click="l1(0, l1whiteTTEImage0, l1whiteTTEColorImage0, 13)" x="36" width="35" height="35" fill="url(#pattern0_l1)"/>
							<rect @click="l1(1, l1whiteTTEImage1, l1whiteTTEColorImage1, 14)" x="3" y="3" width="33" height="32" fill="url(#pattern1_l1)"/>
							<rect @click="l1(2, l1whiteTTEImage2, l1whiteTTEColorImage2, 15)" y="35" width="36" height="36" fill="url(#pattern2_l1)"/>
							<rect @click="l1(3, l1whiteTTEImage3, l1whiteTTEColorImage3, 16)" x="36" y="35" width="35" height="36" fill="url(#pattern3_l1)"/>
							<rect @click="l1(4, l1whiteTTEImage4, l1whiteTTEColorImage4, 17)" x="19" y="17" width="35" height="35" fill="url(#pattern4_l1)" />
							<defs>
							<pattern id="pattern0_l1" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image0_l1" transform="scale(0.03125)"/>
							</pattern>
							<pattern id="pattern1_l1" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image1_l1" transform="translate(-0.0015674) scale(0.0334378 0.0344828)"/>
							</pattern>
							<pattern id="pattern2_l1" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image2_l1" transform="scale(0.030303)"/>
							</pattern>
							<pattern id="pattern3_l1" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image3_l1" transform="translate(0 -0.00130208) scale(0.03125 0.0303819)"/>
							</pattern>
							<pattern id="pattern4_l1" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image4_l1" transform="scale(0.0322581)"/>
							</pattern>
							<image id="image0_l1" width="32" height="32" :xlink:href="l1whiteTTEImage0"/>
							<image id="image1_l1" width="30" height="29" :xlink:href="l1whiteTTEImage1"/>
							<image id="image2_l1" width="33" height="33" :xlink:href="l1whiteTTEImage2"/>
							<image id="image3_l1" width="32" height="33" :xlink:href="l1whiteTTEImage3"/>
							<image id="image4_l1" width="31" height="31" :xlink:href="l1whiteTTEImage4"/>
							</defs>
						</svg>

						<div style="display: block">
							<svg width="94" height="89" viewBox="0 0 94 89" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<rect width="94" height="89" fill="url(#pattern0_l2)"/>
							<rect @click="l2(1, l2whiteTTEImage1, l2whiteTTEColorImage1, 7)" x="60" y="17" width="27" height="27" fill="url(#pattern1_l2)"/>
							<rect @click="l2(2, l2whiteTTEImage2, l2whiteTTEColorImage2, 8)" x="37" y="12" width="30" height="27" fill="url(#pattern2_l2)"/>
							<rect @click="l2(3, l2whiteTTEImage3, l2whiteTTEColorImage3, 9)" x="15" y="20" width="30" height="30" fill="url(#pattern3_l2)"/>
							<rect @click="l2(4, l2whiteTTEImage4, l2whiteTTEColorImage4, 10)" x="19" y="50" width="31" height="24" fill="url(#pattern4_l2)"/>
							<rect @click="l2(5, l2whiteTTEImage5, l2whiteTTEColorImage5, 11)" x="38" y="57" width="35" height="26" fill="url(#pattern5_l2)"/>
							<rect @click="l2(6, l2whiteTTEImage6, l2whiteTTEColorImage6, 12)" x="58" y="44" width="30" height="27" fill="url(#pattern6_l2)"/>
							<defs>
							<pattern id="pattern0_l2" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image0_l2" transform="translate(-0.00362155) scale(0.0100724 0.0106383)"/>
							</pattern>
							<pattern id="pattern1_l2" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image1_l2" transform="scale(0.0344828)"/>
							</pattern>
							<pattern id="pattern2_l2" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image2_l2" transform="translate(0 -0.00347222) scale(0.03125 0.0347222)"/>
							</pattern>
							<pattern id="pattern3_l2" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image3_l2" transform="translate(-0.016129) scale(0.0322581)"/>
							</pattern>
							<pattern id="pattern4_l2" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image4_l2" transform="translate(-0.0109677) scale(0.0309677 0.04)"/>
							</pattern>
							<pattern id="pattern5_l2" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image5_l2" transform="translate(-0.00899471) scale(0.0275132 0.037037)"/>
							</pattern>
							<pattern id="pattern6_l2" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image6_l2" transform="translate(-0.0142857) scale(0.0321429 0.0357143)"/>
							</pattern>
							<image id="image0_l2" width="100" height="94" :xlink:href="l2whiteTTEImage0"/>
							<image id="image1_l2" width="29" height="29" :xlink:href="l2whiteTTEImage1"/>
							<image id="image2_l2" width="32" height="29" :xlink:href="l2whiteTTEImage2"/>
							<image id="image3_l2" width="32" height="31" :xlink:href="l2whiteTTEImage3"/>
							<image id="image4_l2" width="33" height="25" :xlink:href="l2whiteTTEImage4"/>
							<image id="image5_l2" width="37" height="27" :xlink:href="l2whiteTTEImage5"/>
							<image id="image6_l2" width="32" height="28" :xlink:href="l2whiteTTEImage6"/>
							</defs>
							</svg>
						</div>
					</div>
				</div>

				<div class="form-group row">

					<div class="col-6">
						<svg width="120" height="139" viewBox="0 0 120 139" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<rect width="120" height="139" fill="url(#pattern0_r2)"/>
							<rect @click="r2(1, r2whiteTTEImage1, r2whiteTTEColorImage1, 3)" x="36" y="64.1279" width="23.3333" height="35.8974" fill="url(#pattern1_r2)"/>
							<rect @click="r2(2, r2whiteTTEImage2, r2whiteTTEColorImage2, 6)" x="78" y="69" width="26.0256" height="31.4103" fill="url(#pattern2_r2)"/>
							<rect @click="r2(3, r2whiteTTEImage3, r2whiteTTEColorImage3, 9)" x="36" y="37.2051" width="24.2308" height="26.9231" fill="url(#pattern3_r2)"/>
							<rect @click="r2(4, r2whiteTTEImage4, r2whiteTTEColorImage4, 12)" x="77.282" y="38.1025" width="28.718" height="31.4103" fill="url(#pattern4_r2)"/>
							<rect @click="r2(5, r2whiteTTEImage5, r2whiteTTEColorImage5, 14)" x="42.282" y="20.1533" width="26.9231" height="17.0513" fill="url(#pattern5_r2)"/>
							<rect @click="r2(6, r2whiteTTEImage6, r2whiteTTEColorImage6, 15)" x="69.2051" y="20.1533" width="29.6154" height="20.641" fill="url(#pattern6_r2)"/>
							<rect @click="r2(7, r2whiteTTEImage7, r2whiteTTEColorImage7, 17)" x="47.6665" y="4" width="42.1795" height="16.1538" fill="url(#pattern7_r2)"/>
							<defs>
							<pattern id="pattern0_r2" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image0_r2" transform="translate(-0.311211) scale(0.00377307 0.00325733)"/>
							</pattern>
							<pattern id="pattern1_r2" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image1_r2" transform="scale(0.0384615 0.025)"/>
							</pattern>
							<pattern id="pattern2_r2" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image2_r2" transform="scale(0.0344828 0.0285714)"/>
							</pattern>
							<pattern id="pattern3_r2" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image3_r2" transform="scale(0.037037 0.0333333)"/>
							</pattern>
							<pattern id="pattern4_r2" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image4_r2" transform="scale(0.03125 0.0285714)"/>
							</pattern>
							<pattern id="pattern5_r2" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image5_r2" transform="scale(0.0333333 0.0526316)"/>
							</pattern>
							<pattern id="pattern6_r2" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image6_r2" transform="scale(0.030303 0.0434783)"/>
							</pattern>
							<pattern id="pattern7_r2" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image7_r2" transform="scale(0.0212766 0.0555556)"/>
							</pattern>
							<image id="image0_r2" width="430" height="307" :xlink:href="r2whiteTTEImage0"/>
							<image id="image1_r2" width="26" height="40" :xlink:href="r2whiteTTEImage1"/>
							<image id="image2_r2" width="29" height="35" :xlink:href="r2whiteTTEImage2"/>
							<image id="image3_r2" width="27" height="30" :xlink:href="r2whiteTTEImage3"/>
							<image id="image4_r2" width="32" height="35" :xlink:href="r2whiteTTEImage4"/>
							<image id="image5_r2" width="30" height="19" :xlink:href="r2whiteTTEImage5"/>
							<image id="image6_r2" width="33" height="23" :xlink:href="r2whiteTTEImage6"/>
							<image id="image7_r2" width="47" height="18" :xlink:href="r2whiteTTEImage7"/>
							</defs>
						</svg>

						<svg width="97" height="107" viewBox="0 0 97 107" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<rect width="97" height="107" fill="url(#pattern0_r22)"/>
							<rect @click="r22(1, r22whiteTTEImage1, r22whiteTTEColorImage1, 1)" x="61" y="62" width="29" height="35" fill="url(#pattern1_r22)"/>
							<rect @click="r22(2, r22whiteTTEImage2, r22whiteTTEColorImage2, 4)" x="7" y="64" width="28" height="37" fill="url(#pattern2_r22)"/>
							<rect @click="r22(3, r22whiteTTEImage3, r22whiteTTEColorImage3, 7)" x="59" y="36" width="33" height="26" fill="url(#pattern3_r22)"/>
							<rect @click="r22(4, r22whiteTTEImage4, r22whiteTTEColorImage4, 10)" x="9" y="35" width="29" height="29" fill="url(#pattern4_r22)"/>
							<rect @click="r22(5, r22whiteTTEImage5, r22whiteTTEColorImage5, 13)" x="49" y="16" width="40" height="20" fill="url(#pattern5_r22)"/>
							<rect @click="r22(6, r22whiteTTEImage6, r22whiteTTEColorImage6, 15)" x="12" y="16" width="37" height="19" fill="url(#pattern6_r22)"/>
							<rect @click="r22(7, r22whiteTTEImage7, r22whiteTTEColorImage7, 17)" x="22" width="54" height="16" fill="url(#pattern7_r22)"/>
							<defs>
							<pattern id="pattern0_r22" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image0_r22" transform="translate(-0.00399929) scale(0.00950942 0.00862069)"/>
							</pattern>
							<pattern id="pattern1_r22" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image1_r22" transform="translate(-0.0106101) scale(0.0309461 0.025641)"/>
							</pattern>
							<pattern id="pattern2_r22" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image2_r22" transform="translate(-0.0156794) scale(0.03223 0.0243902)"/>
							</pattern>
							<pattern id="pattern3_r22" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image3_r22" transform="translate(-0.00261233) scale(0.0271682 0.0344828)"/>
							</pattern>
							<pattern id="pattern4_r22" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image4_r22" transform="translate(-0.015625) scale(0.03125)"/>
							</pattern>
							<pattern id="pattern5_r22" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image5_r22" transform="translate(0 -0.0227273) scale(0.0227273 0.0454545)"/>
							</pattern>
							<pattern id="pattern6_r22" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image6_r22" transform="translate(0 -0.0224647) scale(0.0243902 0.0474968)"/>
							</pattern>
							<pattern id="pattern7_r22" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image7_r22" transform="translate(-0.0315904) scale(0.0174292 0.0588235)"/>
							</pattern>
							<image id="image0_r22" width="106" height="116" :xlink:href="r22whiteTTEImage0"/>
							<image id="image1_r22" width="33" height="39" :xlink:href="r22whiteTTEImage1"/>
							<image id="image2_r22" width="32" height="41" :xlink:href="r22whiteTTEImage2"/>
							<image id="image3_r22" width="37" height="29" :xlink:href="r22whiteTTEImage3"/>
							<image id="image4_r22" width="33" height="32" :xlink:href="r22whiteTTEImage4"/>
							<image id="image5_r22" width="44" height="23" :xlink:href="r22whiteTTEImage5"/>
							<image id="image6_r22" width="41" height="22" :xlink:href="r22whiteTTEImage6"/>
							<image id="image7_r22" width="61" height="17" :xlink:href="r22whiteTTEImage7"/>
							</defs>
						</svg>

					</div>

					<div class="col-6">

						<svg width="88" height="89" viewBox="0 0 88 89" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<rect width="88" height="89" fill="url(#pattern0_l3)"/>
						<rect @click="l3(1, l3whiteTTEImage1, l3whiteTTEColorImage1, 1)" x="57" y="22" width="26" height="26" fill="url(#pattern1_l3)"/>
						<rect @click="l3(2, l3whiteTTEImage2, l3whiteTTEColorImage2, 2)" x="34" y="13" width="29" height="27" fill="url(#pattern2_l3)"/>
						<rect @click="l3(3, l3whiteTTEImage3, l3whiteTTEColorImage3, 3)" x="16" y="22" width="26" height="29" fill="url(#pattern3_l3)"/>
						<rect @click="l3(4, l3whiteTTEImage4, l3whiteTTEColorImage4, 4)" x="16" y="49" width="26" height="27" fill="url(#pattern4_l3)"/>
						<rect @click="l3(5, l3whiteTTEImage5, l3whiteTTEColorImage5, 5)" x="36" y="58" width="28" height="27" fill="url(#pattern5_l3)"/>
						<rect @click="l3(6, l3whiteTTEImage6, l3whiteTTEColorImage6, 6)" x="55" y="47" width="31" height="29" fill="url(#pattern6_l3)"/>
						<defs>
						<pattern id="pattern0_l3" patternContentUnits="objectBoundingBox" width="1" height="1">
						<use xlink:href="#image0_l3" transform="translate(-0.0535885) scale(0.0106459 0.0105263)"/>
						</pattern>
						<pattern id="pattern1_l3" patternContentUnits="objectBoundingBox" width="1" height="1">
						<use xlink:href="#image1_l3" transform="scale(0.0357143)"/>
						</pattern>
						<pattern id="pattern2_l3" patternContentUnits="objectBoundingBox" width="1" height="1">
						<use xlink:href="#image2_l3" transform="translate(-0.0153941) scale(0.0332512 0.0357143)"/>
						</pattern>
						<pattern id="pattern3_l3" patternContentUnits="objectBoundingBox" width="1" height="1">
						<use xlink:href="#image3_l3" transform="translate(-0.00192308) scale(0.0371795 0.0333333)"/>
						</pattern>
						<pattern id="pattern4_l3" patternContentUnits="objectBoundingBox" width="1" height="1">
						<use xlink:href="#image4_l3" transform="translate(-0.000686813) scale(0.0370879 0.0357143)"/>
						</pattern>
						<pattern id="pattern5_l3" patternContentUnits="objectBoundingBox" width="1" height="1">
						<use xlink:href="#image5_l3" transform="translate(-0.0165816) scale(0.0344388 0.0357143)"/>
						</pattern>
						<pattern id="pattern6_l3" patternContentUnits="objectBoundingBox" width="1" height="1">
						<use xlink:href="#image6_l3" transform="translate(0 -0.00208986) scale(0.030303 0.0323929)"/>
						</pattern>
						<image id="image0_l3" width="104" height="95" :xlink:href="l3whiteTTEImage0"/>
						<image id="image1_l3" width="28" height="28" :xlink:href="l3whiteTTEImage1"/>
						<image id="image2_l3" width="31" height="28" :xlink:href="l3whiteTTEImage2"/>
						<image id="image3_l3" width="27" height="30" :xlink:href="l3whiteTTEImage3"/>
						<image id="image4_l3" width="27" height="28" :xlink:href="l3whiteTTEImage4"/>
						<image id="image5_l3" width="30" height="28" :xlink:href="l3whiteTTEImage5"/>
						<image id="image6_l3" width="33" height="31" :xlink:href="l3whiteTTEImage6"/>
						</defs>
						</svg>

					</div>

				</div>




			</div>			
		</div>
	<form @change="saveTTE($event)" id="tte-details">	
		<div v-show="showLeftVentricle">
			<div>
				<div class="labelopen" @click="goBack" style="margin-bottom: 30px">
					<p class="boxlabel">Left Ventricle<span><i class="material-icons">keyboard_arrow_left</i></span></p>
				</div>

				<div class="form-group row">
					<label for="lv_thickness" class="col-sm-3 col-form-label">LV thickness</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="lv_thickness" name="lv_thickness" :value="ttedetails.lv_thickness" type="number" step="0.1" min="0.5" max="3.0" style="width: 70px;">
						</div>
						<div class="divide">
							<p>cm</p>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<label for="lvidd" class="col-sm-3 col-form-label">LVIDd</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="lvidd" step="0.1" min="3.0" max="10.0" name="lvidd" :value="ttedetails.lvidd" type="number" style="width: 70px;">
						</div>
						<div class="divide">
							<p>cm</p>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<label for="lvef" class="col-sm-3 col-form-label">LVEF</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="lvef" name="lvef" type="number" max="80" min="5" :value="ttedetails.lvef" step="1" style="width: 70px;">
						</div>
						<div class="divide">
							<p>cm</p>
						</div>
					</div>
				</div>

			</div>			
		</div>

		<div v-show="showLeftRightAtrium">
			<div>
				<div class="labelopen" @click="goBack" style="margin-bottom: 30px">
					<p class="boxlabel">Left and Right Atrium<span><i class="material-icons">keyboard_arrow_left</i></span></p>
				</div>

				<div class="submodule-subtitle">Left Atrium</div>
				<div class="form-group row">
					<label for="la_size" class="col-sm-3 col-form-label">LA Size</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="la_size" min="1" max="60" name="la_size" :value="ttedetails.la_size" type="number" step="1" style="width: 70px;">
						</div>
						<div class="divide">
							<p>cm</p>
						</div>
					</div>
				</div>

				<div class="submodule-subtitle">Right Atrium</div>
				<div class="form-group row">
					<label for="RA Size" class="col-sm-3 col-form-label">RA Size</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="RA Size" min="1" max="60" name="ra_size" :value="ttedetails.ra_size" type="number" step="1" style="width: 70px;">
						</div>
						<div class="divide">
							<p>cm</p>
						</div>
					</div>
				</div>

			</div>			
		</div>

		<div v-show="showAorta">
			<div>
				<div class="labelopen" @click="goBack" style="margin-bottom: 30px">
					<p class="boxlabel">Aorta<span><i class="material-icons">keyboard_arrow_left</i></span></p>
				</div>

				<div class="form-group row">
					<label for="Aortic Root" class="col-sm-3 col-form-label">Aortic Root</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="Aortic Root" min="20" max="50" name="aortic_root" :value="ttedetails.aortic_root" type="number" step="1" style="width: 70px;">
						</div>
						<div class="divide">
							<p>cm</p>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="Ascending Aorta" class="col-sm-3 col-form-label">Ascending Aorta</label>
					<div class="col-sm-3 inline-f">
						<div style="margin-left: -20px; text-align: center;">
						  <input class="form-control" id="Ascending Aorta" min="20" max="50" name="ascending_aorta" :value="ttedetails.ascending_aorta" type="number" step="1" style="width: 70px;">
						</div>
						<div class="divide">
							<p>cm</p>
						</div>
					</div>
				</div>

			</div>			
		</div>

		<div v-show="showIntracardiacShunts">
			<div>
				<div class="labelopen" @click="goBack" style="margin-bottom: 30px">
					<p class="boxlabel">Intracardiac Shunts<span><i class="material-icons">keyboard_arrow_left</i></span></p>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input class="form-check-input" :checked="ttedetails.intracadiac_shunts != null && ttedetails.intracadiac_shunts.includes('PFO')" type="checkbox"  name="intracadiac_shunts[]" id="PFO" value="PFO">
					  <label class="form-check-label" for="PFO">PFO</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input class="form-check-input" :checked="ttedetails.intracadiac_shunts != null && ttedetails.intracadiac_shunts.includes('ASD')" type="checkbox" name="intracadiac_shunts[]"  id="ASD" value="ASD">
					  <label class="form-check-label" for="ASD">ASD</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input class="form-check-input" :checked="ttedetails.intracadiac_shunts != null && ttedetails.intracadiac_shunts.includes('VSD')" type="checkbox" name="intracadiac_shunts[]"  id="VSD" value="VSD">
					  <label class="form-check-label" for="VSD">VSD</label>
					</div>
				</div>

			</div>			
		</div>

		<div v-show="showAorticValve">
			<div>
				<div class="labelopen" @click="goBack" style="margin-bottom: 30px">
					<p class="boxlabel">Aortic Valve<span><i class="material-icons">keyboard_arrow_left</i></span></p>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="checkbox" :checked="ttedetails.aortic_valve == 'Normal'" name="aortic_valve" id="aortic_valve" value="Normal">
					  <label class="form-check-label" for="aortic_valve">Normal</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="stenosis($event, 'No Sclerosis')" class="form-check-input" type="radio" name="aortic_valve_sclerosis" id="No Sclerosis" value="No Sclerosis" :checked="ttedetails.aortic_valve_sclerosis == 'No Sclerosis'">
					  <label class="form-check-label" for="No Sclerosis">No Sclerosis</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="stenosis($event, 'Aortic Sclerosis')" class="form-check-input" type="radio" name="aortic_valve_sclerosis" id="Aortic Sclerosis" value="Aortic Sclerosis" :checked="ttedetails.aortic_valve_sclerosis == 'Aortic Sclerosis'">
					  <label class="form-check-label" for="Aortic Sclerosis">Aortic Sclerosis</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="stenosis($event, 'Aortic Stenosis')" class="form-check-input" type="radio" name="aortic_valve_sclerosis" id="Aortic Stenosis" value="Aortic Stenosis" :checked="ttedetails.aortic_valve_sclerosis == 'Aortic Stenosis'">
					  <label class="form-check-label" for="Aortic Stenosis">Aortic Stenosis</label>
					</div>
				</div>

				<div v-if="ttedetails.aortic_valve_sclerosis == 'Aortic Stenosis'">
					<div class="form-group row" style="margin-left: 20px">
						<label for="Aortic Root" class="col-sm-3 col-form-label">Mean Gradient</label>
						<div class="col-sm-3 inline-f">
							<div style="margin-left: -20px; text-align: center;">
							  <input name="aortic_valve_sclerosis_mean_gradient" max="70" min="0" class="form-control" id="Mean Gradient" type="number" step="any" style="width: 70px;" :value="ttedetails.aortic_valve_sclerosis_mean_gradient">
							</div>
							<div class="divide">
								<p>cm</p>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="regurgitation($event, 'No Regurgitation')" class="form-check-input" type="radio" name="aortic_valve_regurgitation" id="No Regurgitation" value="No Regurgitation" :checked="ttedetails.aortic_valve_regurgitation == 'No Regurgitation'">
					  <label class="form-check-label" for="No Regurgitation">No Regurgitation</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="regurgitation($event, 'Regurgitation')" class="form-check-input" type="radio" name="aortic_valve_regurgitation" id="Regurgitation" value="Regurgitation" :checked="ttedetails.aortic_valve_regurgitation == 'Regurgitation'">
					  <label class="form-check-label" for="Regurgitation">Regurgitation</label>
					</div>
				</div>

				<div v-if="ttedetails.aortic_valve_regurgitation == 'Regurgitation'">
					<div class="form-group row" style="margin-left: 20px">
						<label for="Aortic Root" class="col-sm-3 col-form-label">PHT</label>
						<div class="col-sm-3 inline-f">
							<div style="margin-left: -20px; text-align: center;">
							  <input class="form-control" max="700" min="100" id="PHT" name="aortic_valve_regurgitation_pht" type="number" step="any" style="width: 70px;" :value="ttedetails.aortic_valve_regurgitation_pht">
							</div>
							<div class="divide">
								<p>cm</p>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="checkbox" name="bicuspid_aortic_valve" id="Bicuspid Aortic Valve" value="Bicuspid Aortic Valve" :checked="ttedetails.bicuspid_aortic_valve == 'Bicuspid Aortic Valve'">
					  <label class="form-check-label" for="Bicuspid Aortic Valve">Bicuspid Aortic Valve</label>
					</div>
				</div>

			</div>			
		</div>

		<div v-show="showMitralValve">
			<div>
				<div class="labelopen" @click="goBack" style="margin-bottom: 30px">
					<p class="boxlabel">Mitral Valve<span><i class="material-icons">keyboard_arrow_left</i></span></p>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="checkbox" name="mintral_valve" id="Normal_MV" value="Normal" :checked="ttedetails.mintral_valve == 'Normal'">
					  <label class="form-check-label" for="Normal_MV">Normal</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="stenosis_mv($event, 'No Sclerosis')" class="form-check-input" type="radio" name="mintral_valve_stenosis" id="No Sclerosis_MV" value="No Stenosis" :checked="ttedetails.mintral_valve_stenosis == 'No Stenosis'">
					  <label class="form-check-label" for="No Sclerosis_MV">No Stenosis</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="stenosis_mv($event, 'Aortic Sclerosis')" class="form-check-input" type="radio" name="mintral_valve_stenosis" id="Aortic Sclerosis_MV" value="Mitral Stenosis" :checked="ttedetails.mintral_valve_stenosis == 'Mitral Stenosis'">
					  <label class="form-check-label" for="Aortic Sclerosis_MV">Mitral Stenosis</label>
					</div>
				</div>

				<div v-if="ttedetails.mintral_valve_stenosis == 'Mitral Stenosis'">
					<div class="form-group row" style="margin-left: 20px">
						<label for="Mean Gradient_MV" class="col-sm-3 col-form-label">Mean Gradient</label>
						<div class="col-sm-3 inline-f">
							<div style="margin-left: -20px; text-align: center;">
							  <input  class="form-control" id="Mean Gradient_MV" name="mintral_valve_stenosis_mean_gradient" type="number" step="any" max="20" min="1" style="width: 70px;" :value="ttedetails.mintral_valve_stenosis_mean_gradient">
							</div>
							<div class="divide">
								<p>cm</p>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="regurgitation_mv($event, 'No Regurgitation')" class="form-check-input" type="radio" name="mintral_valve_regurgitation" id="No Regurgitation_MV" value="No Regurgitation" :checked="ttedetails.mintral_valve_regurgitation == 'No Regurgitation'">
					  <label class="form-check-label" for="No Regurgitation_MV">No Regurgitation</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="regurgitation_mv($event, 'Regurgitation')" class="form-check-input" type="radio" name="mintral_valve_regurgitation" id="Regurgitation_MV" value="Regurgitation" :checked="ttedetails.mintral_valve_regurgitation == 'Regurgitation'">
					  <label class="form-check-label" for="Regurgitation_MV">Regurgitation</label>
					</div>
				</div>

				<div v-if="ttedetails.mintral_valve_regurgitation == 'Regurgitation'">
					<div class="form-group row col-sm-12" style="inline-flex; margin-left: 20px;">
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="mintral_valve_regurgitation_condition" id="Mild_MV" value="Mild" :checked="ttedetails.mintral_valve_regurgitation_condition == 'Mild'">
						  <label class="form-check-label" for="Mild_MV">Mild</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="mintral_valve_regurgitation_condition" id="Moderate_MV" value="Moderate" :checked="ttedetails.mintral_valve_regurgitation_condition == 'Moderate'">
						  <label class="form-check-label" for="Moderate_MV">Moderate</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="mintral_valve_regurgitation_condition" id="Severe_MV" value="Severe" :checked="ttedetails.mintral_valve_regurgitation_condition == 'Severe'">
						  <label class="form-check-label" for="Severe_MV">Severe</label>
						</div>
					</div>

					<div class="form-group row col-sm-12" style="margin-left: 20px;">
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" name="mintral_valve_regurgitation_prolapse[]" id="Ant leaflet prolapse_MV" value="Ant leaflet prolapse" :checked="ttedetails.mintral_valve_regurgitation_prolapse != null && ttedetails.mintral_valve_regurgitation_prolapse.includes('Ant leaflet prolapse')">
						  <label class="form-check-label" for="Ant leaflet prolapse_MV">Ant leaflet prolapse</label>
						</div>
					</div>

					<div class="form-group row col-sm-12" style="margin-left: 20px;">
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" name="mintral_valve_regurgitation_prolapse[]" id="Post leaflet prolapse_MV" value="Post leaflet prolapse" :checked="ttedetails.mintral_valve_regurgitation_prolapse != null && ttedetails.mintral_valve_regurgitation_prolapse.includes('Post leaflet prolapse')">
						  <label class="form-check-label" for="Post leaflet prolapse_MV">Post leaflet prolapse</label>
						</div>
					</div>
				</div>

			</div>			
		</div>

		<div v-show="showTricuspidValve">
			<div>
				<div class="labelopen" @click="goBack" style="margin-bottom: 30px">
					<p class="boxlabel">Tricuspid Valve<span><i class="material-icons">keyboard_arrow_left</i></span></p>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="regurgitation_tv($event, 'No Regurgitation')" class="form-check-input" type="radio" name="tricuspid_valve_regurgitation" id="No Regurgitation_TV" value="No Regurgitation" :checked="ttedetails.tricuspid_valve_regurgitation == 'No Regurgitation'">
					  <label class="form-check-label" for="No Regurgitation_TV">No Regurgitation</label>
					</div>
				</div>

				<div class="form-group row col-sm-12">
					<div class="form-check form-check-inline">
					  <input @click="regurgitation_tv($event, 'Regurgitation')" class="form-check-input" type="radio" name="tricuspid_valve_regurgitation" id="Regurgitation_TV" value="Regurgitation" :checked="ttedetails.tricuspid_valve_regurgitation == 'Regurgitation'">
					  <label class="form-check-label" for="Regurgitation_TV">Regurgitation</label>
					</div>
				</div>

				<div v-if="ttedetails.tricuspid_valve_regurgitation == 'Regurgitation'">
					<div class="form-group row col-sm-12" style="inline-flex; margin-left: 20px;">
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="tricuspid_valve_regurgitation_condition" id="Mild_TV" value="Mild" :checked="ttedetails.tricuspid_valve_regurgitation_condition == 'Mild'">
						  <label class="form-check-label" for="Mild_TV">Mild</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="tricuspid_valve_regurgitation_condition" id="Moderate_TV" value="Moderate" :checked="ttedetails.tricuspid_valve_regurgitation_condition == 'Moderate'">
						  <label class="form-check-label" for="Moderate_TV">Moderate</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="tricuspid_valve_regurgitation_condition" id="Severe_TV" value="Severe" :checked="ttedetails.tricuspid_valve_regurgitation_condition == 'Severe'">
						  <label class="form-check-label" for="Severe_TV">Severe</label>
						</div>
					</div>

					<div class="form-group row" style="margin-left: 20px">
						<label for="PASP_TV" class="col-sm-3 col-form-label">PASP</label>
						<div class="col-sm-3 inline-f">
							<div style="margin-left: -20px; text-align: center;">
							  <input class="form-control" id="PASP_TV" name="tricuspid_valve_regurgitation_pasp" type="number" step="any" style="width: 70px;" :value="ttedetails.tricuspid_valve_regurgitation_pasp">
							</div>
							<div class="divide">
								<p>mmHg</p>
							</div>
						</div>
					</div>
				</div>

			</div>			
		</div>
	</form>
	</div> 
</template>
<script>
	import Pusher from 'pusher-js';
	import axios from 'axios';
	import Constant,{ constant } from '../Constant';
	export default {
    	props: ['ttedetails'],
    	components: {
		   //
		},
        data(){
	        return {
	        	shunts: this.ttedetails,
	        	ttes: [
	        		{
	        			name: 'LV Hypokinesis'
	        		},
	        		{
	        			name: 'Left Ventricle'
	        		},
	        		{
	        			name: 'Left and Right Atrium'
	        		},
	        		{
	        			name: 'Aorta'
	        		},
	        		{
	        			name: 'Intracardiac Shunts'
	        		},
	        		{
	        			name: 'Aortic Valve'
	        		},
	        		{
	        			name: 'Mitral Valve'
	        		},
	        		{
	        			name: 'Tricuspid Valve'
	        		}
	        	],
	        	showTTE: true,
	        	showLVHypokinesis: false,
	        	showLeftVentricle: false,
	        	showLeftRightAtrium: false,
	        	showAorta: false,
	        	showIntracardiacShunts: false,
	        	showAorticValve: false,
	        	showMitralValve: false,
	        	showTricuspidValve: false,
	        	aorticStenosisStatus: true,
	        	regurgitationStatus: true,
	        	aorticStenosisStatusMV: true,
	        	regurgitationStatusMV: true,
	        	aorticStenosisStatusTV: true,
	        	tte_requests: '',
	        	userid: this.$route.params.letterid,
	        	TTENumber: '-',
	        	whiteTTEImage0: constant.r1whiteTTEImage0,
	        	whiteTTEImage1: constant.r1whiteTTEImage1,
	        	whiteTTEImage2: constant.r1whiteTTEImage2,
	        	whiteTTEImage3: constant.r1whiteTTEImage3,
	        	whiteTTEImage4: constant.r1whiteTTEImage4,
	        	whiteTTEImage5: constant.r1whiteTTEImage5,
	        	whiteTTEImage6: constant.r1whiteTTEImage6,
	        	whiteTTEImage7: constant.r1whiteTTEImage7,

	        	r1whiteTTEColorImage0: constant.r1whiteTTEColorImage0,
	        	r1whiteTTEColorImage1: constant.r1whiteTTEColorImage1,
	        	r1whiteTTEColorImage2: constant.r1whiteTTEColorImage2,
	        	r1whiteTTEColorImage3: constant.r1whiteTTEColorImage3,
	        	r1whiteTTEColorImage4: constant.r1whiteTTEColorImage4,
	        	r1whiteTTEColorImage5: constant.r1whiteTTEColorImage5,
	        	r1whiteTTEColorImage6: constant.r1whiteTTEColorImage6,
	        	r1whiteTTEColorImage7: constant.r1whiteTTEColorImage7,


	        	l1whiteTTEImage0: constant.l1whiteTTEImage0,
	        	l1whiteTTEImage1: constant.l1whiteTTEImage1,
	        	l1whiteTTEImage2: constant.l1whiteTTEImage2,
	        	l1whiteTTEImage3: constant.l1whiteTTEImage3,
	        	l1whiteTTEImage4: constant.l1whiteTTEImage4,

	        	l1whiteTTEColorImage0: constant.l1whiteTTEColorImage0,
	        	l1whiteTTEColorImage1: constant.l1whiteTTEColorImage1,
	        	l1whiteTTEColorImage2: constant.l1whiteTTEColorImage2,
	        	l1whiteTTEColorImage3: constant.l1whiteTTEColorImage3,
	        	l1whiteTTEColorImage4: constant.l1whiteTTEColorImage4,


	        	l2whiteTTEImage0: constant.l2whiteTTEImage0,
	        	l2whiteTTEImage1: constant.l2whiteTTEImage1,
	        	l2whiteTTEImage2: constant.l2whiteTTEImage2,
	        	l2whiteTTEImage3: constant.l2whiteTTEImage3,
	        	l2whiteTTEImage4: constant.l2whiteTTEImage4,
	        	l2whiteTTEImage5: constant.l2whiteTTEImage5,
	        	l2whiteTTEImage6: constant.l2whiteTTEImage6,

	        	l2whiteTTEColorImage0: constant.l2whiteTTEColorImage0,
	        	l2whiteTTEColorImage1: constant.l2whiteTTEColorImage1,
	        	l2whiteTTEColorImage2: constant.l2whiteTTEColorImage2,
	        	l2whiteTTEColorImage3: constant.l2whiteTTEColorImage3,
	        	l2whiteTTEColorImage4: constant.l2whiteTTEColorImage4,
	        	l2whiteTTEColorImage5: constant.l2whiteTTEColorImage5,
	        	l2whiteTTEColorImage6: constant.l2whiteTTEColorImage6,

	        	r2whiteTTEImage0: constant.r2whiteTTEImage0,
	        	r2whiteTTEImage1: constant.r2whiteTTEImage1,
	        	r2whiteTTEImage2: constant.r2whiteTTEImage2,
	        	r2whiteTTEImage3: constant.r2whiteTTEImage3,
	        	r2whiteTTEImage4: constant.r2whiteTTEImage4,
	        	r2whiteTTEImage5: constant.r2whiteTTEImage5,
	        	r2whiteTTEImage6: constant.r2whiteTTEImage6,
	        	r2whiteTTEImage7: constant.r2whiteTTEImage7,

	        	r2whiteTTEColorImage0: constant.r2whiteTTEColorImage0,
	        	r2whiteTTEColorImage1: constant.r2whiteTTEColorImage1,
	        	r2whiteTTEColorImage2: constant.r2whiteTTEColorImage2,
	        	r2whiteTTEColorImage3: constant.r2whiteTTEColorImage3,
	        	r2whiteTTEColorImage4: constant.r2whiteTTEColorImage4,
	        	r2whiteTTEColorImage5: constant.r2whiteTTEColorImage5,
	        	r2whiteTTEColorImage6: constant.r2whiteTTEColorImage6,
	        	r2whiteTTEColorImage7: constant.r2whiteTTEColorImage7,

	        	r22whiteTTEImage0: constant.r22whiteTTEImage0,
	        	r22whiteTTEImage1: constant.r22whiteTTEImage1,
	        	r22whiteTTEImage2: constant.r22whiteTTEImage2,
	        	r22whiteTTEImage3: constant.r22whiteTTEImage3,
	        	r22whiteTTEImage4: constant.r22whiteTTEImage4,
	        	r22whiteTTEImage5: constant.r22whiteTTEImage5,
	        	r22whiteTTEImage6: constant.r22whiteTTEImage6,
	        	r22whiteTTEImage7: constant.r22whiteTTEImage7,

	        	r22whiteTTEColorImage0: constant.r22whiteTTEColorImage0,
	        	r22whiteTTEColorImage1: constant.r22whiteTTEColorImage1,
	        	r22whiteTTEColorImage2: constant.r22whiteTTEColorImage2,
	        	r22whiteTTEColorImage3: constant.r22whiteTTEColorImage3,
	        	r22whiteTTEColorImage4: constant.r22whiteTTEColorImage4,
	        	r22whiteTTEColorImage5: constant.r22whiteTTEColorImage5,
	        	r22whiteTTEColorImage6: constant.r22whiteTTEColorImage6,
	        	r22whiteTTEColorImage7: constant.r22whiteTTEColorImage7,

	        	l3whiteTTEImage0: constant.l3whiteTTEImage0,
	        	l3whiteTTEImage1: constant.l3whiteTTEImage1,
	        	l3whiteTTEImage2: constant.l3whiteTTEImage2,
	        	l3whiteTTEImage3: constant.l3whiteTTEImage3,
	        	l3whiteTTEImage4: constant.l3whiteTTEImage4,
	        	l3whiteTTEImage5: constant.l3whiteTTEImage5,
	        	l3whiteTTEImage6: constant.l3whiteTTEImage6,

	        	l3whiteTTEColorImage0: constant.l3whiteTTEColorImage0,
	        	l3whiteTTEColorImage1: constant.l3whiteTTEColorImage1,
	        	l3whiteTTEColorImage2: constant.l3whiteTTEColorImage2,
	        	l3whiteTTEColorImage3: constant.l3whiteTTEColorImage3,
	        	l3whiteTTEColorImage4: constant.l3whiteTTEColorImage4,
	        	l3whiteTTEColorImage5: constant.l3whiteTTEColorImage5,
	        	l3whiteTTEColorImage6: constant.l3whiteTTEColorImage6,

	        }
	    },
		mounted() {
			this.shunts = this.ttedetails.intracadiac_shunts;
		},
	    methods: {
	    	goBack() {
	    		this.showTTE = true;
	    		this.hideAll();
	    	},
	    	hideAll() {
				this.showLVHypokinesis = false;
				this.showLeftVentricle = false;
				this.showLeftRightAtrium = false;
				this.showAorta = false;
				this.showIntracardiacShunts = false;
				this.showAorticValve = false;
				this.showMitralValve = false;
				this.showTricuspidValve = false;
	    	},
	    	saveTTE(ee) {
				const form = new FormData(document.getElementById("tte-details"));
				axios.post(constant.saveTteUrl+this.userid, form, {
				    headers: constant.headers(this.$cookie.get('access_token')),
				}).then(response => {
					const data = response.data;
					this.$emit('tte', data);
					this.$emit('saved', true);
				}).catch(err => {
					//
				});
	    	},

	    	openTTE(event, val) {
	    		this.showTTE = false;
	    		if (val === 'LV Hypokinesis') {
	    			this.showLVHypokinesis = true;
	    		}
	    		if (val === 'Left Ventricle') {
	    			this.showLeftVentricle = true;
	    		}
	    		if (val === 'Left and Right Atrium') {
	    			this.showLeftRightAtrium = true;
	    		}
	    		if (val === 'Aorta') {
	    			this.showAorta = true;
	    		}
	    		if (val === 'Intracardiac Shunts') {
	    			this.showIntracardiacShunts = true;
	    		}
	    		if (val === 'Aortic Valve') {
	    			this.showAorticValve = true;
	    		}
	    		if (val === 'Mitral Valve') {
	    			this.showMitralValve = true;
	    		}
	    		if (val === 'Tricuspid Valve') {
	    			this.showTricuspidValve = true;
	    		}
	    	},
	    	stenosis(event, val) {
	    		if (val === 'Aortic Stenosis') {
	    			this.aorticStenosisStatus = false;
	    		} else {
	    			this.aorticStenosisStatus = true;
	    		}
	    	},
	    	regurgitation(event, val) {
	    		if (val === 'Regurgitation') {
	    			this.regurgitationStatus = false;
	    		} else {
	    			this.regurgitationStatus = true;
	    		}
	    	},
	    	stenosis_mv(event, val) {
	    		if (val === 'Aortic Stenosis') {
	    			this.aorticStenosisStatusMV = false;
	    		} else {
	    			this.aorticStenosisStatusMV = true;
	    		}
	    	},
	    	regurgitation_mv(event, val) {
	    		if (val === 'Regurgitation') {
	    			this.regurgitationStatusMV = false;
	    		} else {
	    			this.regurgitationStatusMV = true;
	    		}
	    	},
	    	regurgitation_tv(event, val) {
	    		if (val === 'Regurgitation') {
	    			this.aorticStenosisStatusTV = false;
	    		} else {
	    			this.aorticStenosisStatusTV = true;
	    		}
	    	},
	    	checkSameNumber() {

	    	},
	    	r1(id, image1, image2, val){
	    		this.$nextTick(() => {
		    		for (var i = 1; i <= 7; i++) {
		    			if (id == i) {
							var ele = document.getElementById("image"+i+'_')
							var url = ele.getAttributeNS('http://www.w3.org/1999/xlink', 'href');
							ele.setAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href', url === image1 ? image2 : image1);

							this.TTENumber = val;
		    			}
		    		}
		    	});
	    	},
	    	l1(id, image1, image2, val){
	    		this.$nextTick(() => {
		    		for (var i = 0; i <= 4; i++) {
		    			if (id == i) {
							var ele = document.getElementById("image"+i+'_l1')
							var url = ele.getAttributeNS('http://www.w3.org/1999/xlink', 'href');
							ele.setAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href', url === image1 ? image2 : image1);

							this.TTENumber = val;
		    			}
		    		}
		    	});
	    	},
	    	l2(id, image1, image2, val){
	    		this.$nextTick(() => {
		    		for (var i = 1; i <= 6; i++) {
		    			if (id == i) {
							var ele = document.getElementById("image"+i+'_l2')
							var url = ele.getAttributeNS('http://www.w3.org/1999/xlink', 'href');
							ele.setAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href', url === image1 ? image2 : image1);

							this.TTENumber = val;
		    			}
		    		}
		    	});
	    	},
	    	r2(id, image1, image2, val){
	    		this.$nextTick(() => {
		    		for (var i = 1; i <= 7; i++) {
		    			if (id == i) {
							var ele = document.getElementById("image"+i+'_r2')
							var url = ele.getAttributeNS('http://www.w3.org/1999/xlink', 'href');
							ele.setAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href', url === image1 ? image2 : image1);

							this.TTENumber = val;
		    			}
		    		}
		    	});
	    	},
	    	r22(id, image1, image2, val){
	    		this.$nextTick(() => {
		    		for (var i = 1; i <= 7; i++) {
		    			if (id == i) {
							var ele = document.getElementById("image"+i+'_r22')
							var url = ele.getAttributeNS('http://www.w3.org/1999/xlink', 'href');
							ele.setAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href', url === image1 ? image2 : image1);

							this.TTENumber = val;
		    			}
		    		}
		    	});
	    	},
	    	l3(id, image1, image2, val){
	    		this.$nextTick(() => {
		    		for (var i = 1; i <= 7; i++) {
		    			if (id == i) {
							var ele = document.getElementById("image"+i+'_l3')
							var url = ele.getAttributeNS('http://www.w3.org/1999/xlink', 'href');
							ele.setAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href', url === image1 ? image2 : image1);

							this.TTENumber = val;
		    			}
		    		}
		    	});
	    	},
	    }
	}
</script>
<style>

</style>