<template>

	<div class="user-container" >
		<div class="home-row" id="container">
			<nav>
				<div class="nav-wrapper">
					<div class="brand-logo"><img :src="baseurl + logo"></div>
					<ul id="nav-mobile" class="icons right hide-on-med-and-down">
						<li><i class="material-icons">person</i></li>
						<!-- <li data-target="slide-out" class="sidenav-trigger"><i class="material-icons">{{ menu }}</i></li> -->
						
					</ul>
				</div>
			</nav>
		</div>

		<div class="row no-gutters">
			<!-- left -->
			<div class="col-6 col-md-4 user-sidebar" id="left">

				<div class="name">
					<label>Name</label>
					<p>{{ data.name }}</p>
					<p @click="$modal.show('update-name')" class="change">Change name</p>
				</div>

				<div class="email">
					<p>{{ data.email }}</p>
					<p @click="$modal.show('update-email')" class="change">Change email</p>
				</div>

				<div class="password">
					<label>Password</label>
					<p class="change" @click="$modal.show('change-password')">Change password</p>
				</div>

				<div class="account">
					<label>Logout</label>
					<p class="change" @click="logout">Log out</p>
				</div>

				<div class="account_">
					<label>account</label>
					<p class="change" @click="$modal.show('delete-account')">Delete account</p>
				</div>

			</div>

			<!-- right -->
			<div class="col-12 col-sm-6 col-md-8" id="right">

				<div class="row buttons" style="margin: 15px -15px;">
					<div class="col-12 col-sm-7">
						<a @click="$modal.show('users-modal')"  class="waves-effect waves-light button btn"><i class="material-icons left">add</i> Generate New Letter</a>
					</div>
					<div class="col-12 col-sm-5">
						<a @click="$modal.show('patientlist-modal')" class="waves-effect waves-light light btn"><i class="material-icons left">people</i> Patient List</a>
					</div>
				</div>

				<div class="row">
					<table class="table">
					  <thead>
					    <tr>
					      <th><label>File name</label></th>
					      <th><label>Last modified</label></th>
					      <th><label>Date created</label></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr v-for="letter in letters" class="user-lettertr">
					      <td>{{ letter.client.firstname}} {{ letter.client.lastname }} ({{ letter.created_at | moment("DD/MM/YYYY") }}) <i class="material-icons user-action" @click="viewLetter(letter.client_id)">remove_red_eye</i> <i class="material-icons user-action" @click="updateLetter(letter.client_id)">edit</i></td>
					      <td>{{ letter.updated_at | moment("from") }}</td>
					      <td>{{ letter.created_at | moment("DD/MM/YYYY") }}</td>
					    </tr>
					  </tbody>
					</table>
				</div>

			</div>
		</div>

		<modal name="update-name" height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Update name</h5>
		        <button class="close" @click="$modal.hide('update-name')" aria-label="Close" >
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body center">
		      	<form method="post" id="update-name" @submit.prevent="updateName($event)">
		      	
					<div class="form-group">
						<label for="update_name">Name</label>
						<input type="text" class="form-control" :value="data.name" name="name" id="update_name" placeholder="" required>
					</div>

					<div class="form-group form-row center" style="justify-content: space-evenly;">
						<button type="submit" class="btn btn-primary add-doctor-btn">Update</button>
					</div>
		      	</form>
				
		      </div>
			</div>
		</modal>

		<modal name="delete-account" height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
		        <button class="close" @click="$modal.hide('delete-account')" aria-label="Close" >
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body center">
		      	<div>Are you sure?</div><br>
		      	<div>Deleting account is irreversible</div>
				
				<button class="btn btn-primary add-doctor-btn" style="margin: 0 auto; margin-top: 15px" @click="deleteAccount">Yes</button>

		      </div>
			</div>
		</modal>

		<modal name="generate-newletter" height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
		        <button class="close" @click="$modal.hide('generate-newletter')" aria-label="Close" >
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body center">
		      	<div>Are you sure?</div><br>
		      	<div>Click <strong>Yes</strong> to generate letter for <strong>{{ clientname }}</strong></div>
				
				<button class="btn btn-primary add-doctor-btn" style="margin: 0 auto; margin-top: 15px" @click="generateNewLetter(clientid)">Yes</button>

		      </div>
			</div>
		</modal>

		<modal name="update-email" height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Update email</h5>
		        <button class="close" @click="$modal.hide('update-email')" aria-label="Close" >
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body center">
		      	<form method="post" id="update-email" @submit.prevent="updateEmail($event)">
		      	
					<div class="form-group">
						<label for="update_email">Name</label>
						<input type="text" class="form-control" name="email" :value="data.email" id="update_email" placeholder="" required>
					</div>

					<div class="form-group form-row center" style="justify-content: space-evenly;">
						<button type="submit" class="btn btn-primary add-doctor-btn">Update</button>
					</div>
		      	</form>
				
		      </div>
			</div>
		</modal>


		<modal name="change-password" height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Change password</h5>
		        <button class="close" @click="$modal.hide('change-password')" aria-label="Close" >
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body center">
		      	<form method="post" id="change-password" @submit.prevent="changePassword($event)">
		      	
					<div class="form-group">
						<label for="current-password">Current Passsword</label>
						<input type="text" class="form-control" name="current-password" id="current-password" placeholder="" required>
					</div>

					<div class="form-group">
						<label for="new-password">New Password</label>
						<input type="text" class="form-control" v-model="newPassword" name="password" id="new-password" placeholder="" required>
					</div>

					<div class="form-group">
						<label for="confirm-password">Confirm Password</label>
						<input type="text" class="form-control" v-model="confirmPassword" name="password_confirmation" id="confirm-password" placeholder="" required>
					</div>

					<div class="form-group">
						<p class="success" v-show="p_Success">Password changed</p>
						<p class="error" v-show="p_Fail">Invalid password</p>
						<p class="error" v-show="p_DontMatch">Password do not match</p>
					</div>

					<div class="form-group form-row center" style="justify-content: space-evenly;">
						<button type="submit" class="btn btn-primary add-doctor-btn">Submit</button>
					</div>
		      	</form>
				
		      </div>
			</div>
		</modal>



		<modal name="users-modal" height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Patient List</h5>
		        <button class="close" @click="$modal.hide('users-modal')" aria-label="Close" >
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body center">
		      	<div class="searchpatient">
		      		
					<div class="form-group row">
						<div class="col-sm-12">
							<input type="text" id="search" class="form-control" v-model="search" placeholder="Search">
						</div>
					</div>

					<div class="row" style="text-align: left">
						<table class="table table-borderless patientlist" style="text-align: left">
						  <thead>
						    <tr>
						      <th><label>Patient name</label></th>
						      <th><label>Birthdate</label></th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr class="table-tr" v-for="patient in patientLists">
						      <td @click="openConfirmation(patient.id, patient.firstname+ ' ' + patient.lastname)">{{ patient.firstname }} {{ patient.lastname }}</td>
						      <td>{{ patient.age }}</td>
						      <td><span><i class="material-icons edit" @click="getClient(patient.id)">edit</i> <i class="material-icons delete">delete</i></span></td>
						    </tr>
						  </tbody>
						</table>
					</div>

					<div class="form-group form-row center">
						<a class="waves-effect waves-light button btn btn-primary add-doctor-btn" @click="showAddClientModal">Add New</a>
					</div>

		      	</div>
		      </div>
			</div>
		</modal>

		<modal name="patientlist-modal" height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Patient List</h5>
		        <button class="close" @click="$modal.hide('patientlist-modal')" aria-label="Close" >
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body center">
		      	<div class="searchpatient">
		      		
					<div class="form-group row">
						<div class="col-sm-12">
							<input type="text" id="search" class="form-control" v-model="search" placeholder="Search">
						</div>
					</div>

					<div class="row" style="text-align: left">
						<table class="table table-borderless patientlist" style="text-align: left">
						  <thead>
						    <tr>
						      <th><label>Patient name</label></th>
						      <th><label>Birthdate</label></th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr class="table-tr" v-for="patient in patientLists">
						      <td>{{ patient.firstname }} {{ patient.lastname }}</td>
						      <td>{{ patient.age }}</td>
						      <td><span><i class="material-icons edit" @click="getClient(patient.id)">edit</i> <i class="material-icons delete">delete</i></span></td>
						    </tr>
						  </tbody>
						</table>
					</div>

					<div class="form-group form-row center">
						<a class="waves-effect waves-light button btn btn-primary add-doctor-btn" @click="showAddClientModal">Add New Patient</a>
					</div>

		      	</div>
		      </div>
			</div>
		</modal>



		<modal name="add-client" height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Add Patient</h5>
		        <button class="close" @click="$modal.hide('add-client')">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
				<form method="post" id="add-client" @submit.prevent="addClient()">

				  <div class="form-group">
				    <label for="title">Title</label>
				    <select name="sex" class="custom-select" id="title">
					    <option v-for="title in titles" :value="title">{{ title }}</option>
				    </select>
				  </div>
				  <div class="form-group">
				    <label for="Firstname">Firstname</label>
				    <input type="text" class="form-control"  name="firstname" id="Firstname" placeholder="" required>
				  </div>
				  <div class="form-group">
				    <label for="Lastname">Lastname</label>
				    <input type="text" class="form-control"  name="lastname" id="Lastname" placeholder="" required>
				  </div>
				  <div class="form-group">
				    <label for="Birthdate">Birthdate</label>
				  		<input class="form-control" type="text" name="age" required id="Birthdate" v-mask="'##-##-####'" v-model="bdateinput" placeholder="MM-DD-YYYY">
				  </div>

				  <div class="form-group">
				    <label for="sex">Sex</label>
				    <select name="sex" class="custom-select" id="sex">
					    <option>Male</option>
					    <option>Female</option>
				    </select>
				  </div>
				  <div class="form-group">
				    <label for="medicare">Medicare</label>
				    <input type="text" class="form-control"  name="medicare" id="medicare" placeholder="" required>
				  </div>
				  <div class="form-group">
				    <label for="gp">GP</label>
				    <input type="text" class="form-control"  name="gp" id="gp" placeholder="" required>
				  </div>
				  <div class="form-group form-row center">
				  	<button type="submit" class="btn btn-primary add-doctor-btn"">Add</button>
				  </div>
				</form>
		      </div>
			</div>
		</modal>


		<modal name="update-client" height="auto" :scrollable="true">
			<div class="window-header">
			<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Update Patient</h5>
		        <button class="close" @click="$modal.hide('update-client')">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
				<form method="post" id="update-client" @submit.prevent="updateClient(client.id)">

				  <div class="form-group">
				    <label for="title">Title</label>
				    <select name="sex" class="custom-select" id="title">
					    <option v-for="title in titles" :value="title" :selected="client.title == title">{{ title }}</option>
				    </select>
				  </div>
				  <div class="form-group">
				    <label for="update_Firstname">Firstname</label>
				    <input type="text" class="form-control" name="firstname" :value="client.firstname" id="update_Firstname" placeholder="" required>
				  </div>
				  <div class="form-group">
				    <label for="update_Lastname">Lastname</label>
				    <input type="text" class="form-control"  name="lastname" :value="client.lastname" id="update_Lastname" placeholder="" required>
				  </div>
				  <div class="form-group">
				    <label for="update_Birthdate">Birthdate</label>
				  		<input class="form-control" type="text" name="age" required id="update_Birthdate" v-mask="'##-##-####'" v-model="client.age" placeholder="MM-DD-YYYY">
				  </div>

				  <div class="form-group">
				    <label for="update_sex">Sex</label>
				    <select name="sex" class="custom-select" id="update_sex">
					    <option :selected="client.sex == 'Male'">Male</option>
					    <option :selected="client.sex == 'Female'">Female</option>
				    </select>
				  </div>
				  <div class="form-group">
				    <label for="update_medicare">Medicare</label>
				    <input type="text" class="form-control" :value="client.medicare" name="medicare" id="update_medicare" placeholder="" required>
				  </div>
				  <div class="form-group">
				    <label for="update_gp">GP</label>
				    <input type="text" class="form-control" :value="client.gp" name="gp" id="update_gp" placeholder="" required>
				  </div>
				  <div class="form-group form-row center">
				  	<button type="submit" class="btn btn-primary add-doctor-btn"">Update</button>
				  </div>
				</form>
		      </div>
			</div>
		</modal>

	</div>
	
</template>

<script>
	import Constant,{ constant } from '../DashboardComponent/Constant';
	import axios from 'axios';
	import datePicker from 'vue-bootstrap-datetimepicker';
	import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
	import * as moment from "moment/moment";

	export default {
	    	components: {
			    datePicker,
			},
			mounted() {
				this.getUser();
				this.getClients();
				this.getLetters();
			},
	        data(){
		        return {
		        	baseurl: document.querySelector('meta[name="base-url"]').getAttribute('content'),
		        	logo: "/images/home-logo.png",
					data: [],
					search: '',
					users: [],
			        options: {
				        format: 'MMM D, YYYY', 
				        useCurrent: false,
			        },
			        bdateinput: '',
			        titles: constant.titles,
			        client: '',
			        clientid: '',
			        clientname: '',
			        letters: [],
			        userid: '',
			        p_Success: false,
			        p_Fail: false,
			        p_DontMatch: false,
			        newPassword: '',
			        confirmPassword: '',
		        }
		    },
			computed: {
				patientLists() {
					if (this.users != null) {
						return this.users.filter(val => {
							const name = val.firstname + ' ' + val.lastname;
							return name.toLowerCase().includes(this.search.toLowerCase())
						});
				  	}
				}
			},
		    methods: {
		    	getUser() {
					axios.get(constant.userUrl, {
                    	headers: constant.headers(this.$cookie.get('access_token')),
                	}).then(response => {
				      	this.data = response.data.data;
				      	this.userid = response.data.data.id;
				    }).catch(error => {
				    	this.$cookie.delete('access_token');
						this.$router.push({name: 'login'})
				    });
		    	},
			    updateName() {
					const form = new FormData(document.getElementById("update-name"));
					axios.post(constant.updateUserUrl, form, {
					    headers: constant.headers(this.$cookie.get('access_token')),
					}).then(response => {
						this.data = response.data.data;
						this.$modal.hide('update-name');
					}).catch(err => {
						//
					});
			    },
			    updateEmail() {
					const form = new FormData(document.getElementById("update-email"));
					axios.post(constant.updateUserUrl, form, {
					    headers: constant.headers(this.$cookie.get('access_token')),
					}).then(response => {
						this.data = response.data.data;
						this.$modal.hide('update-email');
					}).catch(err => {
						//
					});
			    },
			    generateNewLetter(id) {
					axios.get(constant.genereateLetterUrl+id, {
                    	headers: constant.headers(this.$cookie.get('access_token')),
                	}).then(response => {
				      	this.$router.push('dashboard/'+response.data.data)
				    }).catch(error => {
				    	//
				    });
			    },
		    	getClients() {
					axios.get(constant.getClientsUrl, {
                    	headers: constant.headers(this.$cookie.get('access_token')),
                	}).then(response => {
				      	this.users = response.data;
				    }).catch(error => {
				    	//
				    });
		    	},
		    	getLetters() {
					axios.get(constant.getLettersUrl, {
                    	headers: constant.headers(this.$cookie.get('access_token')),
                	}).then(response => {
				      	this.letters = response.data;
				    }).catch(error => {
				    	//
				    });
		    	},
		    	addClient() {
					const form = new FormData(document.getElementById("add-client"));
					axios.post(constant.addClientUrl, form, {
					    headers: constant.headers(this.$cookie.get('access_token')),
					}).then(response => {
						this.getClients();
			    		this.$modal.hide('add-client');
			    		this.$modal.show('users-modal');
					}).catch(err => {

					});
		    	},
		    	updateClient(id) {
					const form = new FormData(document.getElementById("update-client"));
					axios.post(constant.updateClientUrl+id, form, {
					    headers: constant.headers(this.$cookie.get('access_token')),
					}).then(response => {
						this.getClients();
			    		this.$modal.hide('update-client');
			    		this.$modal.show('users-modal');
					}).catch(err => {
						//
					});
		    	},
		    	getClient(id) {
		    		this.$modal.show('update-client');
					axios.get(constant.getClientUrl+id, {
                    	headers: constant.headers(this.$cookie.get('access_token')),
                	}).then(response => {
				      	this.client = response.data;
				    }).catch(error => {
				    	//
				    });
		    	},
		    	showAddClientModal() {
		    		this.$modal.hide('users-modal');
		    		this.$modal.show('add-client');
		    	},
		    	openConfirmation(id, name) {
		    		this.clientid = id;
		    		this.clientname = name;
		    		this.$modal.hide('users-modal');
		    		this.$modal.show('generate-newletter');
		    	},
		    	updateLetter(id) {
		    		this.$router.push('dashboard/'+id)
		    	},
		    	viewLetter(id) {
					axios.get(constant.getLetter + id, {
	                    headers: constant.headers(this.$cookie.get('access_token')),
	                }).then(response => {
				        var a = document.createElement('a');
				        a.href = constant.getLetter + id;
				        a.click();
				    }).catch(error => {
				    	//
				    });
		    	},
		    	logout() {
					this.$cookie.delete('access_token');
					this.$router.push({name: 'login'})
		    	},
			    deleteAccount() {
					axios.get(constant.deleteAccount+this.userid, {
                    	headers: constant.headers(this.$cookie.get('access_token')),
                	}).then(response => {
                		this.$cookie.delete('access_token');
                		this.$router.push({name: 'login'});
				    }).catch(error => {
				    	//
				    });
			    },
		    	changePassword(event) {
		    		this.p_Success = false;
		    		this.p_Fail = false;
		    		this.p_DontMatch = false;
		    		if (this.newPassword == this.confirmPassword) {
						const form = new FormData(document.getElementById("change-password"));
						axios.post(constant.changePassword, form, {
						    headers: constant.headers(this.$cookie.get('access_token')),
						}).then(response => {
				    		this.p_Success = true;
				    		this.newPassword = '';
				    		this.confirmPassword = '';
						}).catch(err => {
							this.p_Fail = true;
						});
					} else {
						this.p_DontMatch = true;
					}
		    	},
		    }
		}
</script>
<style>
	.change {
		cursor: pointer;
	}
	.change:hover {
		color: #000 !important;
	}
	.material-icons {
		cursor: pointer;
	}
	.table-tr {
		cursor: pointer;
	}
	.account_ {
	    margin-bottom: 1px;
	    margin-left : 1px;
	    position: fixed;
	    bottom: 0;
	}
	.error {
		color: red;
	}
	.success {
		color: red;
	}

</style>